@charset "UTF-8";
/*
	Author: Shane Schroll | 502
	Author URI: https://weare502.com
	Theme Name: APM
	Description: APM blocks stylesheet. Block Editor Preview and Front End styles for blocks.
	Version: 1.3.4
*/
.editor-button-block, .editor-button-block__blue, .editor-button-block__white {
  display: inline-block;
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.editor-button-block__blue, .editor-button-block__white {
  -webkit-box-shadow: 0 15px 8px -15px #1E3D76;
          box-shadow: 0 15px 8px -15px #1E3D76;
  border: 2px solid #0086FF;
  border-radius: 5px;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.editor-button-block__blue:hover, .editor-button-block__white:hover {
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.editor-button-block__blue {
  background-color: #0086FF;
  color: #FFF;
  padding: 0.45rem 1rem 0.2rem !important;
}
.editor-button-block__blue:hover {
  color: #FFF;
  background-color: #33a0ff;
  border-color: #33a0ff;
}
.editor-button-block__white {
  background-color: #FFF;
  color: #0F2346;
  padding: 0.4rem 0.7rem !important;
}

.standard-dropdown-container {
  max-width: 63.25rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.standard-dropdown-container .dropdown-block-title {
  display: block;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #0F2346;
  color: #0F2346;
}
.standard-dropdown-container .dropdown-block-title:hover {
  cursor: pointer;
}
.standard-dropdown-container .dropdown-block-title:after {
  content: "";
  position: absolute;
  top: 1.2rem;
  margin-left: 2rem;
  font-size: 16px;
  font-weight: normal;
  font-family: FontAwesome;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
@media (min-width: 768px) {
  .standard-dropdown-container .dropdown-block-title:after {
    font-size: 18px;
  }
}
@media (min-width: 1023px) {
  .standard-dropdown-container .dropdown-block-title:after {
    top: 1.25rem;
    font-size: 22px;
  }
}
.standard-dropdown-container .chevron-rotate:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.important-info-wrapper {
  max-width: 43.75rem;
  margin: 1.25rem auto 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: 3px solid #0086FF;
}
.important-info-wrapper .h6-heading {
  color: #0F2346;
  margin: 0 0 0 1.5rem;
}

.grid-block {
  max-width: 64.5rem;
  margin: 5rem auto;
  padding: 1rem;
}
.grid-block h3 {
  display: block;
  margin: 0 auto 1.2rem;
  font-size: 1.875rem;
  font-weight: bold;
  color: #112348;
  text-align: center;
  max-width: 41.125rem;
}
@media (min-width: 689px) {
  .grid-block h3 {
    text-align: left;
  }
}
@media (min-width: 1026px) {
  .grid-block h3 {
    max-width: 100%;
  }
}
.grid-block .multi-col-grid {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 20rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.grid-block .multi-col-grid .grid-item {
  background-color: #F5F8FF;
  padding: 1rem;
}
.grid-block .multi-col-grid h4 {
  margin-bottom: 0.3rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: #112348;
}
.grid-block .multi-col-grid p {
  display: block;
  font-size: 0.9375rem;
  color: #595959;
  min-height: 6.25rem;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.full-width-block {
  max-width: 100%;
  margin: 5rem auto;
  padding: 2.75rem 1rem 5rem;
  background-color: #F5F8FF;
}
.full-width-block .block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 62.5rem;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 980px) {
  .full-width-block .block-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.full-width-block .staggered-images {
  position: relative;
  margin-bottom: 3.5rem;
}
@media (min-width: 580px) {
  .full-width-block .staggered-images {
    max-width: 31rem;
    width: 100%;
  }
}
@media (min-width: 980px) {
  .full-width-block .staggered-images {
    margin-bottom: 0;
  }
}
.full-width-block .staggered-images img {
  display: block;
}
.full-width-block .staggered-images .large-img {
  max-width: 25.25rem;
  width: 100%;
}
.full-width-block .staggered-images .small-img {
  position: absolute;
  bottom: -2rem;
  right: 1.85rem;
  max-width: 10rem;
}
.full-width-block .post-content {
  max-width: 27.75rem;
  margin-left: 1.25rem;
}
.full-width-block .post-content h3 {
  display: block;
  margin: 0 auto 1rem;
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 1.3;
  color: #112348;
}
@media (min-width: 1026px) {
  .full-width-block .post-content h3 {
    max-width: 100%;
  }
}
.full-width-block .post-content p {
  display: block;
  font-size: 0.9375rem;
  color: #595959;
  min-height: 6.25rem;
  margin-bottom: 1.75rem;
  line-height: 1.3;
}

.pe-wrap {
  margin: 12rem auto 3rem;
}
@media (min-width: 768px) {
  .pe-wrap {
    margin-top: 8rem;
  }
}
.pe-wrap .pest-elimination {
  max-width: 60rem;
  margin: 0 auto 3.5rem;
}
@media (min-width: 1023px) {
  .pe-wrap .pest-elimination {
    margin: 0 auto 7rem;
  }
}
.pe-wrap .pest-elimination .hold-right {
  max-width: 54rem;
  margin-left: auto;
  margin-right: 0;
}
@media (min-width: 1023px) {
  .pe-wrap .pest-elimination {
    margin: 0 auto 5rem;
  }
}
.pe-wrap .pest-elimination__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 auto;
  background-color: #F5F8FF;
  border-radius: 5px;
}
@media (min-width: 53em) {
  .pe-wrap .pest-elimination__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.pe-wrap .pest-elimination .pe-inner-left {
  position: relative;
  z-index: 5;
  margin-top: -8rem;
}
@media (min-width: 848px) {
  .pe-wrap .pest-elimination .pe-inner-left {
    margin-top: 0;
  }
}
@media (min-width: 1023px) {
  .pe-wrap .pest-elimination .pe-inner-left {
    margin-left: -6.5rem;
  }
}
.pe-wrap .pest-elimination .pe-inner-left .spinner-image-container {
  position: relative;
  line-height: 0.5;
  width: unset;
}
.pe-wrap .pest-elimination .pe-inner-left .spinner-image-container .spinner-ring {
  -webkit-animation: infinite linear 90s spinner;
          animation: infinite linear 90s spinner;
  display: block;
  padding: 2rem;
}
@media (min-width: 480px) {
  .pe-wrap .pest-elimination .pe-inner-left .spinner-image-container .spinner-ring {
    padding: 0;
  }
}
.pe-wrap .pest-elimination .pe-inner-left .spinner-image-container .spinner-ring svg {
  max-width: 18rem;
}
@media (min-width: 480px) {
  .pe-wrap .pest-elimination .pe-inner-left .spinner-image-container .spinner-ring svg {
    max-width: 21rem;
  }
}
@media (min-width: 768px) {
  .pe-wrap .pest-elimination .pe-inner-left .spinner-image-container .spinner-ring svg {
    max-width: 100%;
  }
}
.pe-wrap .pest-elimination .pe-inner-left .spinner-image-container .spinner-static-icon {
  display: inline-block;
  width: 8rem;
  position: absolute;
  left: 6.2rem;
  top: 48%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1rem;
}
@media (min-width: 480px) {
  .pe-wrap .pest-elimination .pe-inner-left .spinner-image-container .spinner-static-icon {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .pe-wrap .pest-elimination .pe-inner-left .spinner-image-container .spinner-static-icon {
    left: 7.1rem;
  }
}
.pe-wrap .pest-elimination .pe-inner-left .spinner-image-container .spinner-static-icon svg {
  max-width: 7.5rem;
}
@media (min-width: 480px) {
  .pe-wrap .pest-elimination .pe-inner-left .spinner-image-container .spinner-static-icon svg {
    max-width: 9rem;
  }
}
@media (min-width: 768px) {
  .pe-wrap .pest-elimination .pe-inner-left .spinner-image-container .spinner-static-icon svg {
    max-width: unset;
  }
}
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}
@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}
.pe-wrap .pest-elimination .pe-inner-right {
  max-width: 21rem;
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-top: -2.5rem;
  margin-left: 2.2rem;
}
@media (min-width: 480px) {
  .pe-wrap .pest-elimination .pe-inner-right {
    max-width: 30rem;
    margin-left: unset;
    margin-top: 0;
  }
}
@media (min-width: 1023px) {
  .pe-wrap .pest-elimination .pe-inner-right {
    padding: 2.8rem;
  }
}
.pe-wrap .pest-elimination .pe-inner-right .pest-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 25.5rem;
  width: 100%;
  margin: 0 0 1.25rem auto;
  background-color: #FFF;
  text-align: left;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 5px;
}
.pe-wrap .pest-elimination .pe-inner-right .step-number {
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  background-color: #0086FF;
  color: #FFF;
  margin-right: 2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: -2.6rem;
}
.pe-wrap .pest-elimination .pe-inner-right .step-number span {
  vertical-align: middle;
}
.pe-wrap .pest-elimination .pe-inner-right .step-info {
  line-height: 1.1;
  padding-right: 0.25rem;
}
.pe-wrap .pest-elimination .pe-inner-right .step-info h2 {
  color: #112348;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: left;
}
@media (min-width: 480px) {
  .pe-wrap .pest-elimination .pe-inner-right .step-info h2 {
    font-size: 1.6rem;
  }
}
.pe-wrap .pest-elimination .pe-inner-right .step-info p {
  font-size: 0.875rem;
  font-weight: 500;
  color: #595959;
}
.pe-wrap .pest-elimination .pe-inner-right .center-button {
  margin-top: 2.8rem;
  max-width: 18rem;
  margin: 0 auto;
}
@media (min-width: 1023px) {
  .pe-wrap .pest-elimination .pe-inner-right .center-button {
    margin-left: auto;
    margin-right: 0;
  }
}
.pe-wrap .pest-elimination .pe-inner-right .center-button a {
  display: inline-block;
}
.pe-wrap .pest-elimination .pe-inner-right-icons {
  max-width: 35rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
@media (min-width: 53em) {
  .pe-wrap .pest-elimination .pe-inner-right-icons {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.pe-wrap .pest-elimination .pe-inner-right-icons .center-button {
  margin-top: 2.8rem;
  max-width: 16rem;
  margin: 0 auto;
}
.pe-wrap .pest-elimination .pe-inner-right-icons .center-button a {
  display: inline-block;
  padding: 0.4rem 0.8rem 0.2rem;
}
.pe-wrap .pest-elimination .spinner-icon-group, .pe-wrap .pest-elimination .spinner-icon-group-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 33rem;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding-bottom: 2rem;
}
.pe-wrap .pest-elimination .spinner-icon-group .spinner-icon, .pe-wrap .pest-elimination .spinner-icon-group-2 .spinner-icon {
  width: 8.5rem;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 423px) {
  .pe-wrap .pest-elimination .spinner-icon-group .spinner-icon, .pe-wrap .pest-elimination .spinner-icon-group-2 .spinner-icon {
    max-width: 8.5rem;
  }
}
.pe-wrap .pest-elimination .spinner-icon-group .spinner-icon svg, .pe-wrap .pest-elimination .spinner-icon-group-2 .spinner-icon svg {
  height: 4.25rem;
  width: 4rem;
}
.pe-wrap .pest-elimination .spinner-icon-group .spinner-icon p, .pe-wrap .pest-elimination .spinner-icon-group-2 .spinner-icon p {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  color: #595959;
  text-align: center;
  max-width: 8.5rem;
  min-height: 28px;
}
.pe-wrap .pest-elimination .spinner-icon-group-2 {
  max-width: 24rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.text-image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 52rem;
  padding: 1rem;
  margin: 3.5rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .text-image-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.text-image-block .text-content {
  max-width: 24.25rem;
}
.text-image-block .text-content h3 {
  display: block;
  margin: 0 auto 1.2rem;
  font-size: 1.875rem;
  font-weight: bold;
  color: #112348;
}
.text-image-block .text-content p {
  display: block;
  font-size: 0.9375rem;
  color: #595959;
  margin-bottom: 1.25rem;
  line-height: 1.3;
}
.text-image-block img {
  max-width: 23rem;
  width: 100%;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .text-image-block img {
    margin-bottom: 0;
    margin-left: 1.5rem;
  }
}

.pest-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 64.5rem;
  padding: 1rem;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .pest-content-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.pest-content-header .pc-header-text {
  max-width: 25rem;
  margin-right: unset;
}
@media (min-width: 768px) {
  .pest-content-header .pc-header-text {
    margin-right: 1rem;
  }
}
.pest-content-header h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  color: #112348;
  margin-bottom: 1.25rem;
}
@media (min-width: 768px) {
  .pest-content-header h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1023px) {
  .pest-content-header h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .pest-content-header h1 {
    font-size: 3.625rem;
  }
}
.pest-content-header p {
  max-width: 17.875rem;
  margin-bottom: 1.25rem;
  color: #595959;
  font-size: 0.9375rem;
}
.pest-content-header img {
  display: block;
  max-width: 34rem;
  width: 100%;
  margin-top: 1.25rem;
}
@media (min-width: 768px) {
  .pest-content-header img {
    margin-top: unset;
  }
}