{#
  * Block Name: Blue Button
  * Creates a standard button utilizing the theme's color palette.
#}

{% if fields.new_tab_link %}
	<a class="editor-button-block__blue" href="{{ fields.button_link }}" target="_blank">
		{{ fields.button_text }}
		<span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span>
	</a>
{% else %}
	<a class="editor-button-block__blue" href="{{ fields.button_link }}">
		{{ fields.button_text }}
		<span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span>
	</a>
{% endif %}