{#
  * Block Name: Full Width Block
  * Creates a block with 2 staggered images on the left, and text content on the right.
#}

<section class="full-width-block">
	<div class="block-content">
		<div class="staggered-images">
			<img class="large-img" src="{{ TimberImage( fields.large_image ).src }}" alt="{{ TimberImage( fields.large_image ).alt }}" />
			<img class="small-img" src="{{ TimberImage( fields.small_image ).src }}" alt="{{ TimberImage( fields.small_image ).alt }}" />
		</div>
		<article class="post-content">
			<h3>{{ fields.post_title }}</h3>
			<p>{{ fields.text_content }}</p>
			<a class="cta-button-blue" href="{{ fields.button_link }}">{{ fields.button_text }} <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
		</article>
	</div>
</section>