{#
  * Block Name: Important Information
  * Creates a block with a dark blue left border and text to the right.
#}

<section id="{{ block.id }}" class="important-info-wrapper">
	<span class="h6-heading">{{ fields.info_text }}</span>
</section>