{#
  * Block Name: Multi-Column Grid Block
  * Creates a Grid with 1, 2, or 3 columns; centered.
#}

<section class="grid-block">
	<h3>{{ fields.section_header }}</h3>
	<div class="multi-col-grid">
		{% for column in fields.grid_columns %}
			<div class="grid-item">
				<h4>{{ column.grid_header }}</h4>
				<p>{{ column.grid_text }}</p>
				<a class="trans-button" href="{{ column.button_link }}">{{ column.button_text }} <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
			</div>
		{% endfor %}
	</div>
</section>