{#
  * Block Name: Pest Header Block
  * Creates a block with the page title and text content to the left, and image to the right.
#}

<div class="pest-content-header">
	<div class="pc-header-text">
		<h1>{{ function('get_the_title', post.ID) }}</h1> {# post is not in the block context array #}
		<p>{{ fields.header_description }}</p>
		<a class="cta-button-blue" href="{{ fields.header_button_link }}">{{ fields.header_button_text }} <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
	</div>
	{{ function('get_the_post_thumbnail', post.ID) }}
</div>