{#
  * Block Name: Refer a Friend Block
  * Creates a block with content from the "Refer a Friend" block setup on the Global Options Page (consistent content across all pages).
#}
<div class="pe-wrap">
	<section class="pest-elimination">
		<div class="hold-right">
			<div class="pest-elimination__inner">

				<div class="pe-inner-left">
					<div class="spinner-image-container">
						<span class="spinner-ring">{{ source('static/images/icons/refer-friend-ring.svg') }}</span>
						<span class="spinner-static-icon">{{ source('static/images/icons/like-thumb.svg') }}</span>
					</div>
				</div>

				<div class="pe-inner-right">
					{% set count = 1 %}
					{% for spinner_step in options.refer_friend_steps %}
						<div class="pest-step">
							<div class="step-number">
								<span>{{ count }}</span>
							</div>
							<div class="step-info">
								<h2>{{ spinner_step.step_title }}</h2>
								<p>{{ spinner_step.step_blurb }}</p>
							</div>
						</div>
					{% set count = count + 1 %}
					{% endfor %}
					<div class="center-button">
						<a class="cta-button-blue" href="/referral-program">{{ options.refer_button_text }} <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
					</div>
				</div>

			</div> {# /.[__inner] #}
		</div>
	</section>
</div>