{#
  * Block Name: Text/Image Content
  * Creates a block with text content to the left and an image on the right.
#}

<div class="text-image-block">
	<div class="text-content">
		<h3>{{ fields.content_title }}</h3>
		<p>{{ fields.content_text }}</p>
		<a class="cta-button-blue" href="{{ fields.button_link }}">{{ fields.button_text }} <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
	</div>
	<img src="{{ TimberImage( fields.content_image ).src }}" alt="{{ TimberImage( fields.content_image ).alt }}" />
</div>