{#
  * Block Name: White Button
  * Creates a standard button utilizing the theme's color palette.
#}

{% if fields.new_tab_link %}
	<a class="editor-button-block__white" href="{{ fields.button_link }}" target="_blank">
		{{ fields.button_text }}
		<span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span>
	</a>
{% else %}
	<a class="editor-button-block__white" href="{{ fields.button_link }}">
		{{ fields.button_text }}
		<span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span>
	</a>
{% endif %}