/* Print styles for coupon page */
@media print {
	div.contact-bar-fixed, header, footer, .noprint {
		display: none !important;
	}

	.coupons-grid {
		display: grid;
		max-width: 100%;
		margin: 0 auto 3rem;
		grid-template-columns: repeat(auto-fill, minmax(18rem, 18rem));
		row-gap: 1.5rem;
		column-gap: 1.5rem;
		justify-content: center;
	}

	h1 {
		font-size: 2.5rem;
		margin-left: 1.3rem;
	}

	.coupons-grid .coupon-card {
		padding: 0.5rem;
		background-color: none;
		position: relative;
		min-height: 20rem;
	}

	.coupons-grid .coupons-card h2, h3, p, span, time {
		color: black;
	}

	.coupons-grid .coupon-card__inner {
		position: relative;
		min-height: 20rem;
		padding: 0.5rem;
		border: 3px dashed black;
	}

	.coupons-grid .coupon-card__inner .bottom {
		display: flex;
		justify-content: space-between;
		width: 95%;
		position: absolute;
		bottom: 0;
	}

	.coupons-grid .coupon-card__inner .bottom img {
		max-height: 4.5rem;
		background-color: #000;
	}

	.coupons-grid .coupon-card__inner .bottom time, p {
		font-size: 0.875rem;
		margin-bottom: 0;
	}

	.coupons-grid .coupon-card__inner .bottom p {
		text-align: left;
		margin-top: 0;
	}

	.coupons-grid .coupon-card__inner .bottom p:last-child {
		margin-top: 0.5rem !important;
	}

	h2, h3 {
		font-weight: bold;
		text-align: center;
		margin-bottom: 0.5rem;
		margin-top: 0rem;
	}

	h3 { margin-bottom: 1.5rem; }

	p { text-align: center; }
}