{% extends 'base.twig' %}

{% block below_header %}
<div class="home-header">
	<img src="{{ theme.link }}/static/images/header-image.jpg" alt="Pest Evaluation Header" />
	<div class="home-header__inner">
		<h1>{{ post.main_header_text }}</h1>
		<a class="cta-button-blue" href="/pest-evaluation/"><span class="hidden-desk">Request Your</span> Free Pest Evaluation <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
	</div>
</div>

<section class="aboutus-wrapper">
	<div class="aboutus-container">
		{% for info in post.get_Field('about_us_text') %}
			<div class="aboutus-info">
				<h2>{{ info.text_header }}</h2>
				<div>{{ info.text_paragraph }}</div>
			</div>
		{% endfor %}

		<div class="service-area">
			<div class="service-area--overlay">
				<h2>{{ post.service_area_header }}</h2>
				<p>{{ post.service_area_paragraph }}</p>
				<a class="cta-button-white" href="/locations/">Our Office Locations <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
			</div>
			<img src="{{ TimberImage( post.service_area_map ).src }}" alt="{{ TimberImage( post.service_area_map ).alt }}">
		</div>
	</div>
</section>

<section class="pest-elimination-steps">
	<div class="hold-right">
		<div class="pest-elimination-steps__inner">

			<div class="pe-inner-left">
				<div class="spinner-image-container">
					<span class="spinner-ring" title="3 Steps Pest Evaluation">{{ source('static/images/icons/three-step-ring.svg') }}</span>
					<span class="spinner-number" title="No. 3">{{ source('static/images/icons/three-step-number.svg') }}</span>
				</div>
			</div>

			<div class="pe-inner-right">
				{% set count = 1 %}
				{% for psteps in options.pest_elimination_steps %}
					<div class="pest-step">
						<div class="step-number">
							<span>{{ count }}</span>
						</div>
						<div class="step-info">
							<h2>{{ psteps.step_title }}</h2>
							<p>{{ psteps.step_blurb }}</p>
						</div>
					</div>
				{% set count = count + 1 %}
				{% endfor %}
				<div class="center-button">
					<a class="cta-button-blue" href="{{ options.button_link }}">{{ options.button_text }} <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
				</div>
			</div>

		</div> {# /.[__inner] #}
	</div>
</section>

<section class="testimonials reduce-margin">
	<h1>What Our Customers Are Saying</h1>
	{{ function('get_fb_reviews') }}
</section>

<section class="team-cta reduce-margin">
	<div class="team-cta__inner">
		<div class="inner-left">
			<h1>{{ options.team_cta_header }}</h1>
			<p>{{ options.team_cta_paragraph }}</p>
			<a class="cta-button-white left-button" href="/meet-the-staff/">Meet Our Team <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
			<a class="trans-button" href="/affiliations/">See Our Affiliations <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
		</div>
		<div class="inner-right">
			<img src="{{ TimberImage( options.right_employee_image ).src }}" alt="{{ TimberImage( options.right_employee_image ).alt }}">
		</div>
	</div>
</section>

<section class="careers-wrapper">
	<div class="careers-container">
		<div class="careers-left">
			<h2>{{ post.careers_header }}</h2>
			<p>{{ post.career_paragraph }}</p>
			<a class="cta-button-white left-button" href="/careers/">See Open Positions <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
		</div>

		<div class="franchises-right">
			<h2>{{ post.franchise_header }}</h2>
			<p>{{ post.franchise_paragraph }}</p>
			<a class="cta-button-white left-button" href="/franchises/">Inquire Now <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
		</div>
	</div>
</section>
{% endblock %}

{% block content %}
{% endblock %}