{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		{# Include extra stuff in the document head #}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		{# includes the fixed header and main desktop/mobile nav #}
		{% include 'navigation.twig' %}

		<div id="vue-wrapper">
			{% block below_header %}
			{% endblock %}

			{% block above_content %}
			{% endblock %}

			<section id="content" role="main" class="content-wrapper content container give-padding">
				{% block content %}
				{% endblock %}

				{% if sidebar %}
					<aside class="layout-sidebar">
						{{sidebar}}
					</aside>
				{% endif %}
			</section>

			{% block below_content %}
			{% endblock %}

			{% block above_footer %}
			{% endblock %}
		</div> <!-- #vue-wrapper -->

		{% block footer %}
			{% include 'footer.twig' %}
		{% endblock %}

		<div id="results-popup" class="magnific mfp-hide"></div>

		{% block footer_scripts %}
			{# Include extra stuff in the document footer, JS etc #}
		{% endblock %}

		{{ function('wp_footer') }}

		{% include 'external-scripts.twig' %}
	</body>
</html>