{% extends "base.twig" %}

{% block below_header %}
	{% if is_home %}
		<div class="container give-padding">
			{# <div class="subtitle is-3 bold red-text is-marginless">{{ post.subtitle }}</div> #}
			<h1 class="skew-header-left title is-1 page-title"><span>Pest Blog</span></h1>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
	{% include "pagination.twig" %}
{% endblock %}