{% extends "base.twig" %}

{% block below_header %}
	<div class="home-header">
		<img src="{{ theme.link }}/static/images/commercial-header.jpg" alt="Pest Evaluation Header" />
		<div class="home-header__inner">
			<h1>{{ post.main_header_text }}</h1>
			<a class="cta-button-blue" href="/commercial-pest-evaluation/"><span class="hidden-desk">Request Your</span> Free Pest Evaluation <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
		</div>
	</div>

	<section class="commercial-wrapper">
		<div class="commercial-container">
			{% for service in post.get_field('services_offered') %}
				<div class="commercial-service">
					{% if service.service_header == 'Evict Unwelcome Guests' %}
                        <a class="commercial-link" href="/commercial-pest-control/property-management/">
                            {{ source('static/images/location-icons/property-mgmt.svg') }}
                        </a>
					{% elseif service.service_header == '86 The Pests' %}
                        <a class="commercial-link" href="/commercial-pest-control/food-services/">
                            {{ source('static/images/location-icons/food-service.svg') }}
                        </a>
					{% elseif service.service_header == 'Preserve Your Image' %}
                        <a class="commercial-link" href="/commercial-pest-control/commercial-business-pest-control/">
                            {{ source('static/images/location-icons/office-business.svg') }}
                        </a>
					{% elseif service.service_header == 'Build A Strong Foundation' %}
                        <a class="commercial-link" href="/commercial-pest-control/new-construction-termites/">
                            {{ source('static/images/location-icons/termite-control-builders.svg') }}
                        </a>
					{% elseif service.service_header == 'Pull The Plug On Pests' %}
                        {{ source('static/images/location-icons/healthcare-control.svg') }}
					{% elseif service.service_header == 'When Pests Come To Stay, People Don’t' %}
                        {{ source('static/images/location-icons/hotel-control.svg') }}
					{% endif %}
					<h2>{{ service.service_header }}</h2>
					<p>{{ service.service_paragraph }}</p>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}

{% block content %}
{% endblock %}

{% block above_footer %}
	<section class="commercial-footer">
		<img src="{{ TimberImage( post.image_above_footer ).src }}" alt="{{ TimberImage( post.image_above_footer ).alt }}">
		<div class="color-overlay"></div>
		<div class="commercial-footer__cta">
			<h3>{{ post.footer_cta_title }}</h3>
			<p>{{ post.footer_cta_subtitle }}</p>
			<a class="cta-button-blue" href="/commercial-pest-evaluation/">Request Your Free Pest Evaluation <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
		</div>
	</section>
{% endblock %}