{% extends "base.twig" %}

{% block content %}
<section class="coupons-content">
	<h1>{{ post.title }}</h1>
	<p class="noprint">Complete our <span><a href="/pest-evaluation" style="text-decoration: underline;">FREE pest evaluation</a></span> online and enter the code in the "More Information" box.</p>
	<p class="noprint">Alternatively, you can present the coupon to the technician upon their arrival.</p>

	<div class="button-group noprint">
		<a class="coupon-button" download href="{{ post.download_link }}">Download Coupons</a>
		<a class="coupon-button" onclick="javascript:window.print();">Print Coupons</a>
	</div>

	<section class="coupons-grid">
		{% for coupon in post.get_field('coupon_list') %}
			<div class="coupon-card">
				<div class="coupon-card__inner">
					<h2>{{ coupon.coupon_savings_amount }}</h2>
					<h3>{{ coupon.coupon_service_name }}</h3>
					<p>{{ coupon.short_description }}</p>
					<div class="bottom">
						<div>
							<time>Expires: {{ coupon.expiration_date }}</time>
							<p style="margin-bottom: 0;">Coupon Code: {{ coupon.coupon_code }}</p>
							<p style="margin-top: 0; margin-bottom: 0; font-size: 11px; border-top: 1px solid white;">American Pest Management Inc.</p>
						</div>
						<img src="{{ TimberImage( coupon.logo_image ).src }}" alt="{{ TimberImage( coupon.logo_image ).alt }}" />
					</div>
				</div>
			</div>
		{% endfor %}
	</section>
</section>
{% endblock %}

{% block above_footer %}
{% endblock %}