{% extends "base.twig" %}

{# Main template for Block Editor functionality #}
{% block below_header %}
<section class="main-block-content">
	{{ post.content }}
</section>
{% endblock %}

{% block above_footer %}
{% endblock %}