{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
		<section class="article-content">
			{% if post.subtitle %}
				<div class="subtitle is-3 bold red-text is-marginless">{{ post.subtitle }}</div>
			{% endif %}
			<h1 class="skew-header-left title is-1 page-title"><span>{{ post.title }}</span></h1>
			<div class="article-body">
				{{post.content}}

				{# <div id="bugs">
					<div class="bug">
						<img src="{{ theme.link }}/static/images/icon-mosquitos.png" class="bug-icon">
						<p>Only female mosquitoes bite, but they can suck up to three times their weight in blood. The itchy bump from their bite is caused by their saliva which they inject into your skin.</p>
					</div>
					<div class="bug">
						<img src="{{ theme.link }}/static/images/icon-fleas.png" class="bug-icon">
						<p>Fleas can multiply faster than you can say "scratch". Just one female can lay up to 50 eggs per day, and she with her offspring will soon produce more than 44,000 eggs per day.</p>
					</div>
					<div class="bug">
						<img src="{{ theme.link }}/static/images/icon-chiggers.png" class="bug-icon">
						<p>Chiggers are actually a larval form of a common mite. They do not travel far from their hatching site, which is why you often see a patch of bites, rather than one or two.</p>
					</div>
					<div class="bug">
						<img src="{{ theme.link }}/static/images/icon-ticks.png" class="bug-icon">
						<p>Ticks can carry serious diseases! These include Lyme Disease, Rocky Mountain Spotted Fever, and something called Human Monocytic Ehrlichiosis which attacks the blood.</p>
					</div>
				</div> #}

				<div class="pricing-wrap top-bottom-padding">
					<table id="pricing">
						<thead>
							<tr>
								<td>Full Season</td>
								<td>One-Time Treatment</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>${{ post.get_field('full_season_treatment_price') }}<span class="tiny">+tax</span></td>
								<td>${{ post.get_field('one_time_treatment_price') }}<span class="tiny">+tax</span></td>
							</tr>
						</tbody>
					</table>
					{# <div class="circle"><p>One time treatments can also be effective for special occassions like outdoor weddings or 4th of July barbeques!</p></div>
					<p class="fine-print red-text padding-wrap">*Full season is a 4-time treatment plan. All treatments include 5,000sq ft. Additional charges for larger areas may apply. All services subject to sales tax.</p> #}
				</div>
			</div>
		</section>
	</article>
{% endblock %}