<footer class="footer-wrapper">
	<div class="footer-container">
		<div class="footer-row-top">
			<div class="inner-left">
				<div class=""><a href="/"><img src="{{ theme.link }}/static/images/logos/apm-footer-logo.png" alt="American Pest Management Logo"></a></div>
				<div class="row-wrap-mobile">
					<p>
						<a class="inner-left--address" href="https://www.google.com/maps/place/220+Levee+Dr,+Manhattan,+KS+66502" target="_blank">
							<span class="u-bold">Manhattan</span><br>
							220 Levee Dr.<br>
							Manhattan, KS 66502
						</a>
						<a class="inner-left--phone" href="tel:785-537-9188">785.537.9188</a>
					</p>

					<p>
						<a class="inner-left--address" href="https://www.google.com/maps/place/1527+Washington+S,+Wichita,+KS+67211" target="_blank">
							<span class="u-bold">Wichita</span><br>
							1527 S Washington Ave.<br>
							Wichita, KS 67211
						</a>
						<a class="inner-left--phone" href="tel:316-262-7378">316.262.7378</a>
					</p>

					<p>
						<a class="inner-left--address" href="https://www.google.com/maps/place/307+W+Cedar+St,+Olathe,+KS+66061" target="_blank">
							<span class="u-bold">Kansas City Metro</span><br>
							307 W. Cedar<br>
							Olathe, KS 66061
						</a>
						<a class="inner-left--phone" href="tel:913-390-1115">913.390.1115</a>
					</p>
				</div>
			</div>

			<div class="inner-right">
				<a href="https://www.facebook.com/American-Pest-Management-100960337784/" title="APM Facebook" target="_blank">{{ source('static/images/icons/facebook-icon.svg') }}</a>
				<a class="push-left" href="https://twitter.com/apmmanhattan" title="APM Twitter" target="_blank">{{ source('static/images/icons/twitter-icon.svg') }}</a>
				<a class="push-left" href="https://www.youtube.com/user/americanpestonline?feature=watch" title="APM YouTube" target="_blank">{{ source('static/images/icons/youtube-icon.svg') }}</a>
			</div>
		</div> {# /.[top] #}

		<div class="footer-row-middle">
			<a href="http://www.entocert.org/roster" target="_blank"><img src="{{ theme.link }}/static/images/logos/ace-logo.png" alt="Associate Certified Entomologist"></a>
			<a href="https://birdbarrier.com/" target="_blank"><img src="{{ theme.link }}/static/images/logos/bird-barrier-logo.png" alt="Bird Barrier Certified Installer"></a>
			<a href="http://www.manhattan.org" target="_blank"><img src="{{ theme.link }}/static/images/logos/chamber-logo.png" alt="Manhattan Chamber of Commerce"></a>
			<a href="http://kpcapestworld.com/" target="_blank"><img src="{{ theme.link }}/static/images/logos/master-tech-logo.png" alt="Master Technician"></a>
			<a href="https://www.naahq.org/" target="_blank"><img src="{{ theme.link }}/static/images/logos/naa-logo.png" alt="National Apartment Association"></a>
			<a href="https://npmapestworld.org" target="_blank"><img src="{{ theme.link }}/static/images/logos/npma-logo.png" alt="National Pest Management Association"></a>
			<a href="https://www.youtube.com/watch?v=q34vO8yoLUM" target="_blank"><img src="{{ theme.link }}/static/images/logos/qp-logo.png" alt="Quality Pro Mark of Excellence"></a>
			<a href="http://www.sentricon.com/en-us" target="_blank"><img src="{{ theme.link }}/static/images/logos/sentricon-logo.png" alt="Certified Sentricon Specialist"></a>
		</div> {# /.[middle] #}

		<div class="footer-row-bottom">
			<div class="bottom-left">
				<a class="info-link" href="/privacy-policy/">Privacy Policy</a>
				<a class="info-link" href="/liability-disclaimer/">Liability Disclaimer</a>
				<a class="info-link" href="/accessibility-statement/">Accessibility Statement</a>
			</div>

			<div class="bottom-center">
				<p>American Pest Management Inc. &copy; 1979 - {{ year }}</p>
			</div>

			<div class="bottom-right">
				<p>Marketing &amp; Design by <a href="https://weare502.com" rel="nofollow" target="_blank"> <img class="agency-logo" src="{{ theme.link }}/static/images/logos/502-logo.png" alt="502 - A strategic Marketing Agency"></a></p>
			</div>
		</div> {# /.[bottom] #}
	</div>
</footer>