{% extends "base.twig" %}

{% block below_header %}
	<div class="home-header">
		<img src="{{ theme.link }}/static/images/header-image.jpg" alt="Pest Evaluation Header" />
		<div class="home-header__inner">
			<h1>{{ post.main_header_text }}</h1>
			<a class="cta-button-blue" href="/pest-evaluation/">Request Your Free Pest Evaluation <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
		</div>
	</div>

	<section class="service-select"></section>

	<section class="team-cta">
		<div class="team-cta__inner">
			<div class="inner-left">
				<h1>{{ options.team_cta_header }}</h1>
				<p>{{ options.team_cta_paragraph }}</p>
				<a class="cta-button-white left-button" href="/about-us/meet-the-staff/">Meet Our Staff <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
				<a class="trans-button" href="/about-us/affiliations/">See Our Affiliations <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
			</div>
			<div class="inner-right">
				<img src="{{ TimberImage( options.right_employee_image ).src }}" alt="{{ TimberImage( options.right_employee_image ).alt }}">
			</div>
		</div>
	</section>

	<div class="pe-wrap">
		<section class="pest-elimination">
			<div class="hold-right">
				<div class="pest-elimination__inner">
	
					<div class="pe-inner-left">
						<div class="spinner-image-container">
							<span class="spinner-ring">{{ source('static/images/icons/refer-friend-ring.svg') }}</span>
							<span class="spinner-static-icon">{{ source('static/images/icons/like-thumb.svg') }}</span>
						</div>
					</div>
	
					<div class="pe-inner-right">
						{% set count = 1 %}
						{% for spinner_step in options.refer_friend_steps %}
							<div class="pest-step">
								<div class="step-number">
									<span>{{ count }}</span>
								</div>
								<div class="step-info">
									<h2>{{ spinner_step.step_title }}</h2>
									<p>{{ spinner_step.step_blurb }}</p>
								</div>
							</div>
						{% set count = count + 1 %}
						{% endfor %}
						<div class="center-button">
							<a class="cta-button-blue" href="/referral-program">{{ options.refer_button_text }} <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
						</div>
					</div>

				</div> {# /.[__inner] #}
			</div>
		</section>
	</div>

	<section class="testimonials">
		<h1>What Our Customers Are Saying</h1>
		{{ function('get_fb_reviews') }}
	</section>
{% endblock %}

{% block content %}
{% endblock %}

{% block above_footer %}
	<section class="pre-footer" style="background-image: url('{{ theme.link }}/static/images/footer-slope.png');">
		<div class="pre-footer__inner">
			<div class="inner-content-left">
				<img src="{{ theme.link }}/static/images/phone-footer.png" alt="Iphone Picture" />
			</div>
			<div class="inner-content-right">
				<h2>We’re Here to Help</h2>
				<p>We’re happy to answer any questions you may have about pest control for your home or business</p>
				<a class="cta-button-blue" href="tel:1-800-748-8287">1-800-748-8287 <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
			</div>
		</div>
	</section>
{% endblock %}