{% extends "base.twig" %}

{% block below_header %}
<div class="home-header">
	<img src="{{ theme.link }}/static/images/home-services-header.jpg" alt="Pest Evaluation Header" />
	<div class="home-header__inner">
		<h1>{{ post.main_header_text }}</h1>
		<a class="cta-button-blue" href="/pest-evaluation/"><span class="hidden-desk">Request Your</span> Free Pest Evaluation <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
	</div>
</div>

{% set count = 1 %}
<section class="home-services-wrapper">
	{% for intro in post.get_field('intro_content') %}
		<div class="service-intro-section">
			<h2>{{ intro.header_text }}</h2>
			<p>{{ intro.paragraph_text }}</p>
		</div>

		{% if count == 2 %}
			<table class="service-packages-table from-tablet">
				<thead>
					<tr>
						<td></td>
						<td class="best-value"><p>Best Value</p>America's<br> Choice</td>
						<td>Platinum</td>
						<td>Gold</td>
						<td>Silver</td>
						<td>Bronze</td>
					</tr>
				</thead>
				<tbody>
				{% for pest in pests %}

				{% if pest.title == 'Mosquito' or pest.title == 'Chiggers' or pest.title == 'Ticks'  %}
					<tr class="no-color-bar" style="display: none !important;">
				{% else %}
				<tr>
					<td class="pest-col">{{ pest.title }}</td>
				{% endif %}
						<td>
							{% if pest.lowest_package_tier == 'americaschoice' or pest.lowest_package_tier == 'platinum' or pest.lowest_package_tier == 'gold' or pest.lowest_package_tier == 'silver' or pest.lowest_package_tier == 'bronze' %}
								{{ source('static/images/icons/checkmark.svg') }}
							{% endif %}
						</td>
						<td>
							{% if pest.lowest_package_tier == 'platinum' or pest.lowest_package_tier == 'gold' or pest.lowest_package_tier == 'silver' or pest.lowest_package_tier == 'bronze' %}
								{{ source('static/images/icons/checkmark.svg') }}
							{% endif %}
						</td>
						<td>
							{% if pest.lowest_package_tier == 'gold' or pest.lowest_package_tier == 'silver' or pest.lowest_package_tier == 'bronze' %}
								{{ source('static/images/icons/checkmark.svg') }}
							{% endif %}
						</td>
						<td>
							{% if pest.lowest_package_tier == 'silver' or pest.lowest_package_tier == 'bronze' %}
								{{ source('static/images/icons/checkmark.svg') }}
							{% endif %}
						</td>
						<td>
							{% if pest.lowest_package_tier == 'bronze' or pest.lowest_package_tier == '' %}
								{{ source('static/images/icons/checkmark.svg') }}
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>

			<div class="service-packages-cards until-tablet">
			{% for packages in options.package_options %}
				<div class="package-cards">
					{% if loop.first %}
						<span>Best Value</span>
					{% endif %}
					<h3>{{ packages.package_tier }}</h3>
					<div class="pest-name-box">
						{% for pest in packages.pests_for_packages %}
							{% if loop.last %}
								<p>{{ pest.pest_name }}</p>
							{% else %}
								<p>{{ pest.pest_name }} <strong>·</strong> </p>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endfor %}
			</div>

		{% elseif count == 3 %}
			<div class="custom-programs">
				<div class="custom-programs-wrapper">

					<ul>
						{% for program in post.get_field('custom_programs') %}
							{% if loop.last %}
								<li class="last-item">
									<a class="no-red" href="{{ program.program_page_link }}">{{ program.program_name }}</a>
									<a class="trans-button" href="{{ program.program_page_link }}">Learn More <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
								</li>
							{% else %}
								<li>
									<a class="no-red" href="{{ program.program_page_link }}">{{ program.program_name }}</a>
									<a class="trans-button" href="{{ program.program_page_link }}">Learn More <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>

					<div class="cp-right">
						<p>Create a Custom Program</p>
						<img src="{{ theme.link }}/static/images/custom-control.gif" alt="Service Picker Animation">
						<a class="cta-button-blue" href="/pest-evaluation/">Tell Us About Your Pest Issue <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
					</div>
				</div>
			</div>
		{% endif %}
		{% set count = count + 1 %}
	{% endfor %}

	<section class="pest-elimination-steps">
		<div class="hold-right">
			<div class="pest-elimination-steps__inner">

				<div class="pe-inner-left">
					<div class="spinner-image-container">
						<span class="spinner-ring">{{ source('static/images/icons/heart-ring.svg') }}</span>
						<span class="spinner-heart">{{ source('static/images/icons/heart.svg') }}</span>
					</div>
				</div>

				<div class="pe-inner-right-icons">
					<div class="spinner-icon-group">
						<span class="spinner-icon">
							{{ source('static/images/icons/free-pest-evaluation.svg') }}
							<p>Free Pest Evaluation</p>
						</span>
						<span class="spinner-icon">
							{{ source('static/images/icons/no-cost-return.svg') }}
							<p>No-Cost Return<br> Visits</p>
						</span>
						<span class="spinner-icon">
							{{ source('static/images/icons/guaranteed-elimination.svg') }}
							<p>Guaranteed Elimination</p>
						</span>
					</div>
					<div class="spinner-icon-group-2">
						<span class="spinner-icon">
							{{ source('static/images/icons/trained-techs.svg') }}
							<p>Highly-Trained Technicians</p>
						</span>
						<span class="spinner-icon">
							{{ source('static/images/icons/scheduling.svg') }}
							<p>Convenient Scheduling</p>
						</span>
					</div>

					<div class="center-button">
						<a class="cta-button-white" href="{{ options.button_link }}">{{ options.button_text }} <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="aboutus-wrapper home-services-area">
		<div class="aboutus-container">
			<div class="service-area">
				<div class="service-area--overlay">
					<h2>{{ about_map_header }}</h2>
					<p>{{ about_map_paragraph }}</p>
					<a class="cta-button-white" href="/locations/">Our Office Locations <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
				</div>
				<img class="hidden-mobile" src="{{ TimberImage(about_service_map).src }}" alt="{{ TimberImage(about_service_map).alt }}">
			</div>
		</div>
	</section>

</section>

{% endblock %}

{% block content %}
{% endblock %}

{% block above_footer %}
<section class="pre-footer home-service-footer" style="background-image: url('{{ theme.link }}/static/images/footer-slope.png');">
	<div class="pre-footer__inner alt-footer">
		<div class="inner-content-right">
			<h2>{{ post.footer_info_header }}</h2>
			<p>{{ post.footer_info_paragraph }}</p>
			<a class="cta-button-white left-button" href="/affiliations/">See All Affiliations <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
		</div>
		<div class="inner-content-left">
			<img src="{{ theme.link }}/static/images/quality-pro-footer.png" alt="Quality Pro Seal" />
		</div>
	</div>
</section>
{% endblock %}