<!doctype html>
<html class="" {{site.language_attributes}}>
<head>
	<meta charset="{{site.charset}}" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,700i" rel="stylesheet">
	<link rel="pingback" href="{{site.pingback_url}}" />
	{{ function('wp_head') }}
	<link rel="stylesheet" href="{{site.theme.link}}/style.css?cachebust={{ csscache }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ theme.link }}/static/print.css" media="print" />

	<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="3a4ab910ceec4b74a5338068ddaa4fb14afe6be6fd79446ca875972b84072536",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>