{% extends "base.twig" %}

{% block below_header %}
<div class="home-header">
	<img src="{{ theme.link }}/static/images/contact-header.jpg" alt="Pest Evaluation Header" />
	<div class="home-header__inner">
		<h1>{{ post.main_header_text }}</h1>
		<a class="cta-button-blue" href="/pest-evaluation/"><span class="hidden-desk">Request Your</span> Free Pest Evaluation <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
	</div>
</div>

<section class="city-wrapper">
	{% for home_office in office_locations %}
		<div class="city-info">
			<div class="city-info--image">
				<img src="{{ TimberImage( home_office.city_image ).src }}" alt="{{ TimberImage( home_office.city_image ).alt }}" />
			</div>
			<div class="city-info--contact">
				<h2><a href="{{ home_office.link }}">{{ home_office.name }}</a></h2>

				{% set tel = home_office.city_phone_number %}
				<p>{{ home_office.city_address }}</p>
				<p>{{ home_office.city_name }}, {{ home_office.state }} {{ home_office.zip_code }}</p>
				<a class="cta-button-white" href="tel:{{ tel }}">Call: {{ tel }}<span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>

				<h3>Additional Areas Served</h3>
				<div class="child-link-list">
					{# Children Link Menu - Interpunct symbol ····· #}
					{% for addl_city in cities %}
						{% if addl_city.terms('offices') | join() == home_office.name %}
							{% if addl_city.get_field('unlink_this_city') == "YES" %}
								<a href="{{ addl_city.link }}">{{ addl_city.title }}</a> <strong>·</strong>
							{% else %}
								<p style="font-size: 1rem; display: inline;">{{ addl_city.title }}</p> <strong>·</strong> 
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>

				<a class="trans-button" href="{{ home_office.link }}">Learn More About Our {{ home_office.name }} Office  <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
			</div>
		</div>
	{% endfor %}
</section>
{% endblock %}

{% block content %}
{% endblock %}

{% block above_footer %}
<section class="pre-footer" style="background-image: url('{{ theme.link }}/static/images/footer-slope.png');">
	<div class="pre-footer__inner alt-footer">
		<div class="inner-content-right">
			<h2>{{ options.team_cta_header }}</h2>
			<p>{{ options.team_cta_paragraph }}</p>
			<a class="cta-button-white left-button" href="/meet-the-staff/">Meet Our Staff <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
			<a class="trans-button" href="/affiliations/">See All Affiliations <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
		</div>
		<div class="inner-content-left">
			<img src="{{ theme.link }}/static/images/joey-footer.png" alt="Joey Hoke, APM Technician of the year" />
		</div>
	</div>
</section>
{% endblock %}