{% set tel = '1-800-748-8287' %}
{% set login = 'http://run.theservicepro.net/portal/login.aspx?QS=0x3C4112315CAD67F2A60B09D710F523A429AF106EA515974492A2313AB257EA5C' %}

<div class="fixed-bar">
	<div class="desktop">
		<a class="phone" href="tel:{{ tel }}">
			<img src="{{ theme.link }}/static/images/icons/phone.png" alt="Call Us: {{ tel }}" />
			<span class="phone-text">Call Us Today!</span>
			<span>{{ tel }}</span>
		</a>

		<div class="side-links">
			<a href="{{ login }}">Login to Your Account</a>
			<a href="/referral-program/">Refer Us</a>
		</div>
	</div>

	{# sticky nav top section #}
	<div class="mobile">
		<div id="menu-toggle">
			<span class="x-bar"></span>
			<span class="x-bar"></span>
			<span class="x-bar"></span>
			<span class="small-text">Menu</span>
		</div>

		<a href="tel:{{ tel }}">
			<img src="{{ theme.link }}/static/images/icons/phone.png" alt="Call Us: {{ tel }}" />
			<span class="small-text">Call Us</span>
		</a>
		<a class="logo" href="/">
			<img src="{{ theme.link }}/static/images/logo.png" alt="American Pest Management" />
		</a>
		<a href="{{ login }}">
			<img src="{{ theme.link }}/static/images/icons/account.png" alt="Login to your account"/>
			<span class="small-text">Login</span>
		</a>
		<a href="/referral-program/" style="margin-bottom: -2px;">
			<span class="fa fa-user-plus"></span>
			<span class="small-text">Refer Us</span>
		</a>
	</div>
</div>

<div class="nav-wrapper">
	<div class="nav-container">
		<div class="logo-wrap">
			<a class="logo" href="/">
				<img src="{{ theme.link }}/static/images/logo.png" alt="American Pest Management" />
			</a>
		</div>

		<div class="divider"></div>

		<nav class="nav-menu" role="navigation">
			{{ function('apm_render_primary_menu') }}
		</nav>

		<a class="pest-eval-cta" href="/pest-evaluation/">
			<span class="pest-eval-cta--top">Request Your</span><br/>
			<span class="pest-eval-cta--bottom">Free Pest Evaluation</span>
			<span class="pest-eval-cta--mobile">Free Pest Evaluation</span>
		</a>
	</div>
</div>