{% extends "base.twig" %}

{% block content %}
	{# For Pest Evaluation Form (Final Step Tracker Piece) #}
	{% if function('is_page', 2365) %}
		<div class="step-container" style="margin-top: 1.5rem;">
			<div class="step-container__inner">
				<div>
					<p>Home/Business Info</p>
					<p class="mobile-step">1</p>
				</div>
				<div>
					<p>Pest Info</p>
					<p class="mobile-step">2</p>
				</div>
				<div>
					<p>Contact &amp; Scheduling</p>
					<p class="mobile-step">3</p>
				</div>
				<div>
					<p class="active">Confirmation</p>
				</div>
			</div> {# /.&[__inner] #}
		</div> {# /.step-container #}
	{% endif %}

	<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
		<section class="article-content">
			{% if function('is_page', 2365) %}
				{# Pest Eval Thank You Page #}
				<h1 style="margin-top: 2rem; margin-bottom: 1.75rem; color: #112348; font-weight: bold;">Thank You!</h1>
				<h4 style="color: #112348; font-weight: bold; margin-bottom: 0.2rem;">What's Next?</h4>
				{{ post.content }}
			{% else %}
				{% if post.subtitle %}
					<div class="subtitle is-3 bold red-text is-marginless">{{ post.subtitle }}</div>
				{% endif %}
				<h1 class="skew-header-left title is-1 page-title"><span>{{ post.title }}</span></h1>
				<div class="article-body">
					{{ post.content }}
				</div>
			{% endif %}
		</section>
	</article>

	{% if function('is_page', 2793) %}
		<div class="liability-disclaimer">
			<!-- Termly Tracking Code -->
			<iframe width="100%" style="height: 95vh" src="https://app.termly.io/document/disclaimer/bab47538-71c8-4662-b4e6-89500b9f36d9" frameborder="0" allowfullscreen>
			<p>Your browser does not support iframes.</p>
			</iframe>
		</div>
	{% endif %}
{% endblock %}