{% extends "base.twig" %}

{% block below_header %}
	<div class="page-title-wrapper" style="background-image: url({% if TimberImage(post).src is empty %}{{ TimberImage(options.generic_header_image).src }}{% else %}{{ TimberImage(post).src }}{% endif %})">
		<h1 class="page-title">{{ post.title }}</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="container content-wrapper">
		{{content}}
		{{ plugin_content }}
	</div><!-- /content-wrapper -->
{% endblock %}