{% extends "base.twig" %}
{% block below_header %}
	<div class="header-evaluation">
		{% if post.evaluation_hero_image_link %}
			<a href="{{ post.get_field('evaluation_hero_image_link') }}" class="home-hero-image-link" style="display: block; width: 100%;">
				<img src="{{ TimberImage(post.evaluation_hero_image).src('xlarge') }}" style="width: 100%; display: block;" />
			</a>
		{% else %}
			<img src="{{ TimberImage(post.evaluation_hero_image).src('xlarge') }}" style="width: 100%; display: block;" />
		{% endif %}
	</div>

	<div class="container give-padding">
		{% if post.subtitle %}
			<div class="subtitle is-3 bold red-text">{{ post.subtitle }}</div>
		{% endif %}
		<h1 class="skew-header-left title is-1 page-title"><span>{{ post.title }}</span></h1>

		<div class="pests-grid">
			{% for pest in pests %}
				<a href="{{ pest.link }}" class="label">
					<div>
						<div class="pest-image">
							<img src="{{ TimberImage(pest).src | resize(250, 250) }}" />
						</div>
					</div>
					<div class="pest-title centered-text blue-text">{{ pest.title }}<br><small><em>{{ pest.biological_classification }}</em></small></div>
				</a>
			{% endfor %}
		</div>
	</div>
	<div class="request-consultation red-background white-text top-bottom-padding-small v-align-middle centered-text">
		<span class="title is-3 white-text uppercase bold">Looking for a Pest Consultation?</span> <a href="/pest-evaluation" class="button white is-large">Request Consultation</a>
	</div>
{% endblock %}
{% block content %}

{% endblock %}