{% extends 'base.twig' %}

{% block below_header %}
<section class="home-offices-header perks-header" style="background-image: url('{{ theme.link }}/static/images/header-slope.png');">
	<div class="header-container">
		<h1>{{ post.main_header_text }}</h1>
	</div>
</section>

<section class="perks-wrapper">
	{# <h2 class="perks-main-header">Current customers earn $50 credit and new customers earn $25 off initial service!</h2> #}

	<div class="perks-container">
		<div class="perks-left-container">
			<div class="perks-intro">
				<h2>{{ post.header_intro_text }}</h2>
				{% for intro in post.get_field('intro_content') %}
					{% if intro.sub_header %}
						<span class="perks-sub-header">{{ intro.sub_header }}</span>
					{% endif %}
					<p>{{ intro.perks_intro_information }}</p>
				{% endfor %}
			</div>

			<div class="perk-form">
				<h2>Your Contact Info</h2>
				{{ referral_form }}
				<p>Technical difficulties? Call our office at <a href="tel:1-800-748-8287">1-800-748-8287</a></p>
				<a class="t-and-c" href="/referral-program-terms-conditions/">Referral Program Rules, Terms & Conditions</a>
			</div>
		</div>

		<aside class="perks-sidebar">
			<h2>{{ post.rewards_sidebar_header }}</h2>
			<img src="{{ TimberImage( post.rewards_sidebar_image ).src }}" alt="{{ TimberImage( post.rewards_sidebar_image ).alt }}">
			<div class="perks-sidebar__text-content">
				{% for reward_para in post.get_field('rewards_sidebar_paragraphs') %}
					<p>{{ reward_para.paragraph_block }}</p>
				{% endfor %}
			</div>
		</aside>
	</div>
</section>
{% endblock %}

{% block content %}
{% endblock %}

{% block above_footer %}
<section class="pre-footer" style="background-image: url('{{ theme.link }}/static/images/footer-slope.png');">
	<div class="pre-footer__inner alt-footer">
		<div class="inner-content-right">
			<h2>{{ options.team_cta_header }}</h2>
			<p>{{ options.team_cta_paragraph }}</p>
			<a class="cta-button-white left-button" href="/meet-the-staff/">Meet Our Staff <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
			<a class="trans-button" href="/affiliations/">See All Affiliations <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
		</div>
		<div class="inner-content-left">
			<img src="{{ theme.link }}/static/images/joey-footer.png" alt="Joey Hoke, APM Technician of the year" />
		</div>
	</div>
</section>
{% endblock %}