{% extends "base.twig" %}

{# for individual pest pages (snakes only currently) #}
{% block below_header %}
<section class="pest-content">
	{{ post.content }}
</section>
{% endblock %}

{% block above_footer %}
{% endblock %}