{% extends "base.twig" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
{% endblock %}

{% block below_header %}
<div class="home-header">
	<img src="{{ theme.link }}/static/images/pest-education-header.jpg" alt="Pest Evaluation Header" />
	<div class="home-header__inner">
		<h1>{{ post.main_header_text }}</h1>
		<a class="cta-button-blue" href="/pest-evaluation/"><span class="hidden-desk">Request Your</span> Free Pest Evaluation <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
	</div>
</div>

<section class="pest-highlight">
	<div class="ph-container">
		<div class="ph-content-left">
			<h2>{{ post.pest_library_header }}</h2>
			<p>{{ post.pest_library_paragraph }}</p>

			<a class="cta-button-white" href="/pest-library/">Identify a Pest <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>

			<a class="trans-button" href="/pest-evaluation/">Have Our Pros Take a Look <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
		</div>

		<div class="ph-content-right">
			<img src="{{ TimberImage( post.pest_library_image ).src }}" alt="{{ TimberImage( post.pest_library_image ).alt }}">
		</div>
	</div>
</section>

<section class="apm-pest-blog">
	<div class="apm-pest-container">
		<h2>American Pest Blog</h2>
		<div class="apm-inner-container">
			{% for blog_card in post.get_field('pest_blog_cards') %}
				<div class="apm-pest-card">
					<img src="{{ TimberImage( blog_card.blog_image ).src }}" alt="{{ TimberImage( blog_card.blog_image ).alt }}">
					<div class="bottom-text-container">
						<h3>{{ blog_card.blog_title }}</h3>
						<p>{{ blog_card.blog_paragraph }}</p>
						<a class="trans-button" href="{{ blog_card.blog_button_link }}">Read More <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="blog-cta">
		<h3>Check out our full blog for even more stories!</h3>
		<a class="cta-button-white" href="/blog/">View Archive <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
	</div>
</section>

<section class="apm-video-library is-hidden-mobile">
	<div class="apm-video-container">
		<h2>Video Library</h2>
		<div class="inline-video-gallery">
			{% for video in videos %}
				<div class="video" slick>
					{{ video.get_field('oembed') }}
				</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="consultation-cta">
	<div class="consultation-cta__fw">
		<h3>{{ post.cta_text }}</h3>
		<a class="cta-button-white" href="{{ post.cta_button_link }}">{{ post.cta_button_text }} <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
	</div>
</section>

<section class="pest-highlight pc-kids">
	<div class="ph-container">
		<div class="ph-content-left">
			<h2>{{ post.pc_title }}</h2>
			<p>{{ post.pc_paragraph }}</p>
			<a class="cta-button-white" href="/junior-pest-technician/">View Activities <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
		</div>
		<div class="ph-content-right">
			<img src="{{ TimberImage( post.pc_image ).src }}" alt="{{ TimberImage( post.pc_image ).alt }}">
		</div>
	</div>
</section>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer_scripts %}
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
{% endblock %}