{% extends "base.twig" %}

{% block head %}
	<script type="text/javascript">window.pestMatrix = {{ pestmatrix|json_encode }};</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64-min.js"></script>
{% endblock %}

{% block content %}
	<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
		<section class="article-content">
			<div class="article-body" id="form-top">

				{# SLIDE 1 - Home or Business #}
				<transition name="slide-fade">
					<div v-if="homestep === 0 && bizstep === 0" :class="{'current-step home-step': homestep === 0}">
						<section class="service-select">
							<div class="service-select__inner">
								<a class="service-type" @click="homeNextStep">
									<img src="{{ theme.link }}/static/images/icons/house-icon.svg" alt="Service for Homes">
									<p class="trans-button">I need service for my home <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></p>
									<input type="text" style="display: none;" v-model="form.homeService">
								</a>

								<div class="divider"></div>

								<a class="service-type" @click="bizNextStep">
									<img class="bottom-image" src="{{ theme.link }}/static/images/icons/business-icon.svg" alt="Service for businesses">
									<p class="trans-button">I need service for my Business <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></p>
									<input type="text" style="display: none;" v-model="form.homeService">
								</a>
							</div>
						</section>
					</div>
				</transition>

				<transition name="slide-fade">
					<div v-if="homestep === 1" :class="{'current-step home-step': homestep === 1}">
						<div class="step-container">
							<div class="step-container__inner">
								<div>
									<p class="active">Home Info</p>
								</div>
								<div>
									<p>Pest Info</p>
									<p class="mobile-step">2</p>
								</div>
								<div>
									<p>Contact &amp; Scheduling</p>
									<p class="mobile-step">3</p>
								</div>
								<div>
									<p>Confirmation</p>
									<p class="mobile-step">4</p>
								</div>
							</div> {# /.&[__inner] #}
						</div> {# /.step-container #}

						<h1>Tell us about your Home</h1>

						<div class="house-size">
							<h5>How many bedrooms does the home have?</h5>
							<div class="size-count">
								<div class="radio-container">
									<input class="num" type="radio" v-model="form.bedroomCount" value="1">
									<span class="num-overlay">1</span>
								</div>
								<div class="radio-container">
									<input class="num" type="radio" v-model="form.bedroomCount" value="2">
									<span class="num-overlay">2</span>
								</div>
								<div class="radio-container">
									<input class="num" type="radio" v-model="form.bedroomCount" value="3">
									<span class="num-overlay">3</span>
								</div>
								<div class="radio-container">
									<input class="num" type="radio" v-model="form.bedroomCount" value="4">
									<span class="num-overlay">4</span>
								</div>
								<div class="radio-container">
									<input class="num" type="radio" v-model="form.bedroomCount" value="5+">
									<span class="num-overlay num-plus">5+</span>
								</div>
							</div>
						</div>

						<div class="house-size">
							<h5 class="story-head">How many stories does the home have?</h5>
							<em>Do not include basements.</em>
							<div class="size-count adjust-width">
								<div class="radio-container">
									<input class="num" type="radio" v-model="form.storiesCount" value="1">
									<span class="num-overlay">1</span>
								</div>
								<div class="radio-container">
									<input class="num" type="radio" v-model="form.storiesCount" value="2">
									<span class="num-overlay">2</span>
								</div>
								<div class="radio-container">
									<input class="num" type="radio" v-model="form.storiesCount" value="3+">
									<span class="num-overlay num-plus">3+</span>
								</div>
							</div>
						</div>
					</div>
				</transition>

				<transition name="slide-fade">
					<div v-if="bizstep === 1" :class="{'current-step home-step': bizstep === 1}">
						<div class="step-container">
							<div class="step-container__inner">
								<div>
									<p class="active">Choose Industry</p>
								</div>
								<div>
									<p>Pest Info</p>
									<p class="mobile-step">2</p>
								</div>
								<div>
									<p>Contact &amp; Scheduling</p>
									<p class="mobile-step">3</p>
								</div>
								<div>
									<p>Confirmation</p>
									<p class="mobile-step">4</p>
								</div>
							</div> {# /.&[__inner] #}
						</div> {# /.step-container #}

						<h1>Choose Industry</h1>

						<div class="industry-type-container">
							<div class="ind-radio-container">
								<input class="ind-input" type="radio" v-model="form.industryType" value="Commercial:Food Service">
								<span class="industry-image">{% include '/static/images/pest-evaluation/app-food-services.svg' %}</span>
								<p>Food Services</p>
							</div>
							<div class="ind-radio-container">
								<input class="ind-input" type="radio" v-model="form.industryType" value="Commercial: Office & Business">
								<span class="industry-image">{% include '/static/images/pest-evaluation/app-office-business.svg' %}</span>
								<p>Office &amp; Business</p>
							</div>
							<div class="ind-radio-container">
								<input class="ind-input" type="radio" v-model="form.industryType" value="Commercial: Property Management">
								<span class="industry-image">{% include '/static/images/pest-evaluation/app-property-mgmt.svg' %}</span>
								<p>Property Management</p>
							</div>
							<div class="ind-radio-container">
								<input class="ind-input" type="radio" v-model="form.industryType" value="Commercial: Hotel & Hospitality">
								<span class="industry-image">{% include '/static/images/pest-evaluation/app-hotel-hospitality.svg' %}</span>
								<p>Hotel &amp; Hospitality</p>
							</div>
							<div class="ind-radio-container">
								<input class="ind-input" type="radio" v-model="form.industryType" value="Commercial: Termite Protection">
								<span class="industry-image">{% include '/static/images/pest-evaluation/app-termite-protection.svg' %}</span>
								<p>Termite Protection</p>
							</div>
							<div class="ind-radio-container">
								<input class="ind-input" type="radio" v-model="form.industryType" value="Commercial: Healthcare">
								<span class="industry-image">{% include '/static/images/pest-evaluation/app-healthcare.svg' %}</span>
								<p>Healthcare</p>
							</div>
						</div>
					</div>
				</transition>

				<transition name="slide-fade">
					<div v-if="homestep === 2" :class="{'current-step home-step': homestep === 2}">
						<div class="step-container">
							<div class="step-container__inner">
								<div>
									<p>Home Info</p>
									<p class="mobile-step">1</p>
								</div>
								<div>
									<p class="active">Pest Info</p>
								</div>
								<div>
									<p>Contact &amp; Scheduling</p>
									<p class="mobile-step">3</p>
								</div>
								<div>
									<p>Confirmation</p>
									<p class="mobile-step">4</p>
								</div>
							</div> {# /.&[__inner] #}
						</div> {# /.step-container #}

						<h1 style="text-align: center;">Which pests are you having problems with?</h1>
						<div class="pests-grid">
							{# Unkown Pest option #}
							<input type="checkbox" style="display: none;" v-model="form.currentPests" id="pest-unknown" value="Unknown">
							<div class="label">
								<label for="pest-unknown">
									<div class="pest-image">
										{{ source('static/images/icons/q-icon-eval.svg') }}
									</div>
								</label>
								<div class="pest-title centered-text">
									<span>I'm Not Sure</span>
								</div>
							</div>
							{# end of unknown pest option #}
							{% for pest in pests %}
								<input type="checkbox" style="display: none;" v-model="form.currentPests" id="pest-{{ pest.slug }}" value="{{ pest.title }}">
								<div class="label">
									<label for="pest-{{ pest.slug }}">
										<div class="pest-image">
											<img src="{{ TimberImage(pest).src('thumbnail') }}" alt="{{ TimberImage(pest).alt }}" />
										</div>
									</label>
									<div class="pest-title centered-text">
										<span>{{ pest.title }}</span>
										<small>{{ pest.biological_classification }}</small>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</transition>

				<transition name="slide-fade">
					<div v-if="bizstep === 2" :class="{'current-step home-step': bizstep === 2}">
						<div class="step-container">
							<div class="step-container__inner">
								<div>
									<p>Choose Industry</p>
									<p class="mobile-step">1</p>
								</div>
								<div>
									<p class="active">Pest Info</p>
								</div>
								<div>
									<p>Contact &amp; Scheduling</p>
									<p class="mobile-step">3</p>
								</div>
								<div>
									<p>Confirmation</p>
									<p class="mobile-step">4</p>
								</div>
							</div> {# /.&[__inner] #}
						</div> {# /.step-container #}

						<h1 style="text-align: center;">Which pests are you having problems with?</h1>
						<div class="pests-grid">
							{# Unkown Pest option #}
							<input type="checkbox" style="display: none;" v-model="form.currentPests" id="pest-unknown" value="Unknown">
							<div class="label">
								<label for="pest-unknown">
									<div class="pest-image">
										{{ source('static/images/icons/q-icon-eval.svg') }}
									</div>
								</label>
								<div class="pest-title centered-text">
									<span>I'm Not Sure</span>
								</div>
							</div>
							{# end of unknown pest option #}
							{% for pest in pests %}
								<input type="checkbox" style="display: none;" v-model="form.currentPests" id="pest-{{ pest.slug }}" value="{{ pest.title }}">
								<div class="label">
									<label for="pest-{{ pest.slug }}">
										<div class="pest-image">
											<img src="{{ TimberImage(pest).src('thumbnail') }}" alt="{{ TimberImage(pest).alt }}" />
										</div>
									</label>
									<div class="pest-title centered-text">
										<span>{{ pest.title }}</span>
										<small>{{ pest.biological_classification }}</small>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</transition>

				<transition name="slide-fade">
					<div v-if="homestep === 3" :class="{'current-step home-step': homestep === 3}">
						<div class="step-container">
							<div class="step-container__inner">
								<div>
									<p>Home Info</p>
									<p class="mobile-step">1</p>
								</div>
								<div>
									<p>Pest Info</p>
									<p class="mobile-step">2</p>
								</div>
								<div>
									<p class="active" style="width: 12rem;">Contact &amp; Scheduling</p>
								</div>
								<div>
									<p>Confirmation</p>
									<p class="mobile-step">4</p>
								</div>
							</div> {# /.&[__inner] #}
						</div> {# /.step-container #}

						<div class="eval-title">
							<h1 id="eval-header">Let's schedule your appointment.</h1>
						</div>
						<div class="pest-programs-list">
							<div class="program-callout" v-if="lowestTier === 'americaschoice'">
								<p>{{ options.header_message|replace({'#PACKAGE#':'America\'s Choice'}) }}</p>
								<em>{{ options.pest_disclaimer }}</em>
							</div>

						{# AMERICAS CHOICE PACKAGE #}
						<div class="pest-program" v-if="lowestTier === 'americaschoice'">
							<div>
								<input id="formprog" name="amc" type="radio" v-model="form.prog" value="America's Choice">
							</div>
							<div class="program-name americas-choice">
								<div class="prog-choice">America's Choice</div>
								<div>
									<span class="monthly">{{ options.americas_monthly_cost }}</span>
									<span class="additional">{{ options.americas_additional_costs }}</span>
								</div>
							</div>
							
							<div class="program-details">
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/clipboard.png" alt="Clipboard Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Pest Audit</div>
										<div class="detail-subtitle">Once Per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/magnifying-glass.png" alt="Magnifying Glass Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Termite Inspection</div>
										<div class="detail-subtitle">Conducted Annually</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/bed.png" alt="Photo of a Bed" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Semi-annual Bed Bug Inspection</div>
										<div class="detail-subtitle">Treatment as Needed</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/attic.png" alt="Photo of an Attic" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Attic Treatment</div>
										<div class="detail-subtitle">Once Per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/sentricon.png" alt="Sentricon Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Termite Control</div>
										<div class="detail-subtitle">Powered by Sentricon</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/clock.png" alt="Clock Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Year Round Monitoring</div>
										<div class="detail-subtitle">For All Other Pests</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cube-cutout.png" alt="Cube Cutout" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Interior Treatment</div>
										<div class="detail-subtitle">Includes 2 Premium Applications Per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cube.png" alt="Cube Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Perimeter Treatments</div>
										<div class="detail-subtitle">Includes 4 Premium Exterior Services per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Cage photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Baiting for Ants &amp; Roaches</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Cage Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Baiting for Rats &amp; Mice</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Cage Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Baiting, Trapping, Exclusion</div>
										<div class="detail-subtitle">for Bats, Moles, Voles, &amp; Covered Wildlife</div>
									</div>
								</div>
							</div>

							<div class="dropdown-toggle-container">
								<div class="pest-listing">
									<div class="selected-pest-first">
										<h6>Your Selected Pests</h6>
										<span class="pest-name-selected" v-for="pestVal in form.currentPests"> ${ pestVal } </span>
									</div>
									<h6>Pests Covered By America's Choice</h6>
									<div class="pest-selector">
										{% for pest in pests if pest.lowest_package_tier == 'americaschoice' or pest.lowest_package_tier == 'platinum' or pest.lowest_package_tier == 'gold' or pest.lowest_package_tier == 'silver' or pest.lowest_package_tier == 'bronze' %}
											<span class="pest-name"> {{ pest.title }} </span>
										{% endfor %}
									</div>
								</div>
								<a class="toggle">See what's included in this program.</a>
							</div>
						</div>

						{# PLATINUM PACKAGE #}
						<div class="program-callout" v-if="lowestTier === 'platinum'">
							<p>{{ options.header_message|replace({'#PACKAGE#':'Platinum'}) }}</p>
							<em>{{ options.pest_disclaimer }}</em>
						</div>
						<div class="pest-program" v-if="lowestTier === 'platinum'">
							<div>
								<input id="formprog" name="plat" type="radio" v-model="form.prog" value="Platinum">
							</div>
							<div class="program-name platinum">
								<div class="prog-choice">Platinum Program</div>
								<div>
									<span class="monthly">{{ options.platinum_monthly_cost }}</span>
									<span class="additional">{{ options.platinum_additional_costs }}</span>
								</div>
							</div>

							<div class="program-details">
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/clipboard.png" alt="Clipboard Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Pest Audit</div>
										<div class="detail-subtitle">Once Per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/magnifying-glass.png" alt="Magnifying Glass Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Termite Inspection</div>
										<div class="detail-subtitle">Conducted Annually</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/sentricon.png" alt="Sentricon Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Termite Control</div>
										<div class="detail-subtitle">Powered by Sentricon</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/clock.png" alt="Clock Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Year Round Monitoring</div>
										<div class="detail-subtitle">For All Other Pests</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/attic.png" alt="Photo of an Attic" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Attic Treatment</div>
										<div class="detail-subtitle">Once Per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cube-cutout.png" alt="Cub Cutout Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Interior Treatment</div>
										<div class="detail-subtitle">Includes 2 Premium Applications Per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cube.png" alt="Cube Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Perimeter Treatments</div>
										<div class="detail-subtitle">Includes 4 Premium Exterior Services per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Cage Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Baiting for Ants &amp; Roaches</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Cage Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Baiting for Rats &amp; Mice</div>
									</div>
								</div>
							</div>

							<div class="dropdown-toggle-container">
								<div class="pest-listing">
									<div class="selected-pest-first">
										<h6>Your Selected Pests</h6>
										<span class="pest-name-selected" v-for="pestVal in form.currentPests"> ${ pestVal } </span>
									</div>
									<h6>Pests Covered By Our Platinum Program</h6>
									<div class="pest-selector">
										{% for pest in pests if pest.lowest_package_tier == 'platinum' or pest.lowest_package_tier == 'gold' or pest.lowest_package_tier == 'silver' or pest.lowest_package_tier == 'bronze' %}
											<span class="pest-name"> {{ pest.title }} </span>
										{% endfor %}
									</div>
								</div>
								<a class="toggle">See what's included in this program.</a>
							</div>
						</div>

						{# GOLD PACKAGE #}
						<div class="program-callout" v-if="lowestTier === 'gold'">
							<p>{{ options.header_message|replace({'#PACKAGE#':'Gold'}) }}</p>
							<em>{{ options.pest_disclaimer }}</em>
						</div>

						<div class="pest-program" v-if="lowestTier === 'gold'">
							<div>
								<input id="formprog" name="gold" type="radio" v-model="form.prog" value="Gold">
							</div>
							<div class="program-name gold">
								<div class="prog-choice">Gold Program</div>
								<div>
									<span class="monthly">{{ options.gold_monthly_cost }}</span>
									<span class="additional">{{ options.gold_additional_costs }}</span>
								</div>
							</div>

							<div class="program-details">
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/clipboard.png" alt="Clipboard Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Pest Audit</div>
										<div class="detail-subtitle">Once Per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/magnifying-glass.png" alt="Magnifying Glass Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Termite Inspection</div>
										<div class="detail-subtitle">Conducted Annually</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/clock.png" alt="Clock Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Year Round Monitoring</div>
										<div class="detail-subtitle">For All Other Pests</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/attic.png" alt="Photo of an Attic" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Attic Treatment</div>
										<div class="detail-subtitle">Once Per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cube-cutout.png" alt="Cube Cutout Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Interior Treatment</div>
										<div class="detail-subtitle">Includes 2 Premium Applications Per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cube.png" alt="Cube Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Perimeter Treatments</div>
										<div class="detail-subtitle">Includes 4 Premium Exterior Services per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Cage Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Baiting for Ants &amp; Roaches</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Cage Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Baiting for Rats &amp; Mice</div>
									</div>
								</div>
							</div>

							<div class="dropdown-toggle-container">
								<div class="pest-listing">
									<div class="selected-pest-first">
										<h6>Your Selected Pests</h6>
										<span class="pest-name-selected" v-for="pestVal in form.currentPests"> ${ pestVal } </span>
									</div>
									<h6>Pests Covered By Our Gold Program</h6>
									<div class="pest-selector">
										{% for pest in pests if pest.lowest_package_tier == 'gold' or pest.lowest_package_tier == 'silver' or pest.lowest_package_tier == 'bronze' %}
											<span class="pest-name"> {{ pest.title }} </span>
										{% endfor %}
									</div>
								</div>
								<a class="toggle">See what's included in this program.</a>
							</div>
						</div>

						{# SILVER PACKAGE #}
						<div class="program-callout" v-if="lowestTier === 'silver'">
							<p>{{ options.header_message|replace({'#PACKAGE#':'Silver'}) }}</p>
							<em>{{ options.pest_disclaimer }}</em>
						</div>

						<div class="pest-program" v-if="lowestTier === 'silver'">
							<div>
								<input id="formprog" name="silv" type="radio" v-model="form.prog" value="Silver">
							</div>
							<div class="program-name silver">
								<div class="prog-choice">Silver Program</div>
								<div>
									<span class="monthly">{{ options.silver_monthly_cost }}</span>
									<span class="additional">{{ options.silver_additional_costs }}</span>
								</div>
							</div>

							<div class="program-details">
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/clipboard.png" alt="Clipboard Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Pest Audit</div>
										<div class="detail-subtitle">Once Per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/magnifying-glass.png" alt="Magnifying Glass Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Termite Inspection</div>
										<div class="detail-subtitle">Conducted Annually</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/clock.png" alt="Clock Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Year Round Monitoring</div>
										<div class="detail-subtitle">For All Other Pests</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/attic.png" alt="Photo of an Attic" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Attic Treatment</div>
										<div class="detail-subtitle">Once Per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cube-cutout.png" alt="Cube Cutout Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Interior Treatment</div>
										<div class="detail-subtitle">Includes 2 Premium Applications Per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cube.png" alt="Cube Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Perimeter Treatments</div>
										<div class="detail-subtitle">Includes 4 Premium Exterior Services per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Cage Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Baiting for Ants &amp; Roaches</div>
									</div>
								</div>
							</div>

							<div class="dropdown-toggle-container">
								<div class="pest-listing">
									<div class="selected-pest-first">
										<h6>Your Selected Pests</h6>
										<span class="pest-name-selected" v-for="pestVal in form.currentPests"> ${ pestVal } </span>
									</div>
									<h6>Pests Covered By Our Silver Program</h6>
									<div class="pest-selector">
										{% for pest in pests if pest.lowest_package_tier == 'silver' or pest.lowest_package_tier == 'bronze' %}
											<span class="pest-name"> {{ pest.title }} </span>
										{% endfor %}
									</div>
								</div>
								<a class="toggle">See what's included in this program.</a>
							</div>
						</div>

						{# BRONZE PACKAGE #}
						<div class="program-callout" v-if="lowestTier === 'bronze'">
							<p>{{ options.header_message|replace({'#PACKAGE#':'Bronze'}) }}</p>
							<em>{{ options.pest_disclaimer }}</em>
						</div>

						<div class="pest-program" v-if="lowestTier === 'bronze'">
							<div>
								<input id="formprog" name="brnz" type="radio" v-model="form.prog" value="Bronze">
							</div>
							<div class="program-name bronze">
								<div class="prog-choice">Bronze Program</div>
								<div>
									<span class="monthly">{{ options.bronze_monthly_cost }}</span>
									<span class="additional">{{ options.bronze_additional_costs }}</span>
								</div>
							</div>

							<div class="program-details">
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/clipboard.png" alt="Clipboard Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Pest Audit</div>
										<div class="detail-subtitle">Once Per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/magnifying-glass.png" alt="Magnifying Glass Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Termite Inspection</div>
										<div class="detail-subtitle">Conducted Annually</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/clock.png" alt="Clock Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Year Round Monitoring</div>
										<div class="detail-subtitle">For All Other Pests</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cube-cutout.png" alt="Cube Cutout Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Interior Treatment</div>
										<div class="detail-subtitle">On Request</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cube.png" alt="Cube Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Perimeter Treatments</div>
										<div class="detail-subtitle">Includes 4 Premium Exterior Services per Year</div>
									</div>
								</div>
							</div>

							<div class="dropdown-toggle-container">
								<div class="pest-listing">
									<div class="selected-pest-first">
										<h6>Your Selected Pests</h6>
										<span class="pest-name-selected" v-for="pestVal in form.currentPests"> ${ pestVal } </span>
									</div>
									<h6>Pests Covered By Our Bronze Program</h6>
									<div class="pest-selector">
										{% for pest in pests if pest.lowest_package_tier == 'bronze' %}
											<span class="pest-name"> {{ pest.title }} </span>
										{% endfor %}
									</div>
								</div>
								<a class="toggle">See what's included in this program.</a>
							</div>
						</div>

						{# Fight The Bite PACKAGE #}
						<div class="program-callout" v-if="lowestTier === 'fightthebite'">
							<p>{{ options.header_message|replace({'#PACKAGE#':'Fight The Bite'}) }}</p>
							<em>{{ options.pest_disclaimer }}</em>
						</div>

						<div class="pest-program" v-if="lowestTier === 'fightthebite'">
							<div>
								<input id="formprog" name="ftb" type="radio" v-model="form.prog" value="Fight The Bite">
							</div>
							<div class="program-name fightthebite">
								<div class="prog-choice">Fight the Bite</div>
								<div>
									<span class="monthly">{{ options.ftb_monthly_cost }}</span>
									<span class="additional">{{ options.ftb_additional_costs }}</span>
								</div>
							</div>

							<div class="program-details">
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/clipboard.png" alt="Clipboard Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Pest Audit</div>
										<div class="detail-subtitle">Once Per Year</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/magnifying-glass.png" alt="Magnifying Glass Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Yard Inspection</div>
										<div class="detail-subtitle">Conducted On Each Visit</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/clock.png" alt="Clock Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Yard Treatment</div>
										<div class="detail-subtitle">2x Treatements in Season (Initial &amp; 3rd Application)</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cube-cutout.png" alt="Cube Cutout Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Interior Treatment</div>
										<div class="detail-subtitle">On Request (Additional Cost May Apply)</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cube.png" alt="Cube Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Misting Service</div>
										<div class="detail-subtitle">4x Misting Service in Season (April - September)</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/attic.png" alt="Photo of an Attic" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Larvacide Application</div>
										<div class="detail-subtitle">In Standing Water (As Needed)</div>
									</div>
								</div>
							</div>

							<div class="dropdown-toggle-container">
								<div class="pest-listing">
									<div class="selected-pest-first">
										<h6>Your Selected Pests</h6>
										<span class="pest-name-selected" v-for="pestVal in form.currentPests"> ${ pestVal } </span>
									</div>
									<h6>Pests Covered By Our Fight the Bite Program</h6>
									<div class="pest-selector">
										{% for pest in pests if pest.lowest_package_tier == 'fightthebite' %}
											<span class="pest-name"> {{ pest.title }} </span>
										{% endfor %}
									</div>
								</div>
								<a class="toggle">See what's included in this program.</a>
							</div>
						</div>

						{# SNAKE CONTROL/REMOVAL PACKAGE #}
						<div class="program-callout" v-if="lowestTier === 'snakecontrol'">
							<p>{{ options.header_message|replace({'#PACKAGE#':'Snake Control/Removal/Exclusion'}) }}</p>
							<em>{{ options.pest_disclaimer }}</em>
						</div>

						<div class="pest-program" v-if="lowestTier === 'snakecontrol'">
							<div>
								<input id="formprog" name="snkctrl" type="radio" v-model="form.prog" value="Snake Control/Removal/Exclusion">
							</div>
							<div class="program-name snakecontrol">
								<div class="prog-choice">Snake Control</div>
								<div>
									<span class="monthly">{{ options.snake_monthly_cost }}</span>
									<span class="additional">{{ options.snake_additional_costs }}</span>
								</div>
							</div>

							<div class="program-details">
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/magnifying-glass.png" alt="Magnifying Glass Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">House/Yard Inspection</div>
										<div class="detail-subtitle">Conducted On Each Visit</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/clock.png" alt="Clock Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Application of Snake Repellent</div>
										<div class="detail-subtitle">Spring, Summer, and Fall</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Clock Icon" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Snake Removal Services</div>
										<div class="detail-subtitle">As needed</div>
									</div>
								</div>
								<div class="detail">
									<img src="{{ theme.link }}/static/images/pest-evaluation/cube-cutout.png" alt="Cube Cutout Photo" class="program-icon" />
									<div class="titles-wrapper">
										<div class="detail-title">Exclusion Services</div>
										<div class="detail-subtitle">As needed</div>
									</div>
								</div>
							</div>

							<div class="dropdown-toggle-container">
								<div class="pest-listing">
									<div class="selected-pest-first">
										<h6>(Prices may vary on size of home, snake pressure, and if the snakes are venomous or non-venomous)</h6>
									</div>
								</div>
								<a class="toggle">See what's included in this program.</a>
							</div>
						</div>

						</div> {# -- End Program List -- #}

						{# added here to avoid adding to all programs individually #}
						<div class="guarantee-bar">
							<div class="guarantee-bar--info">
								<h3>We <span>Guarantee</span> Pest Elimination</h3>
								<p>{{ options.guarantee_message }}</p>
							</div>
							<img src="{{ theme.link }}/static/images/joey-footer.png" alt="APM Joey" />
						</div>
					</div><!-- homestep check div -->
				</transition>

				{# HOME FORM #}
				<transition name="slide-fade">
					<div v-if="homestep === 3" :class="{'current-step home-step': homestep === 3}">
						<h1 id="second-hd">Contact Info &amp; Scheduling</h1>
						<form method="GET" class="form">
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<label for="" class="label clipped">First Name</label>
										<input class="input" type="text" required v-model="form.firstName" placeholder="First Name" @blur="validateField">
									</p>
									<p class="control is-expanded">
										<label for="" class="label clipped">Last Name</label>
										<input class="input" type="text" required v-model="form.lastName" placeholder="Last Name" @blur="validateField">
									</p>
								</div>
							</div>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<label for="" class="label clipped">Street Address</label>
										<input class="input input-address" type="text" required v-model="form.streetAddress" placeholder="Address" @blur="validateField">
									</p>
									<p class="control is-expanded">
										<label for="" class="label clipped">City</label>
										<input class="input input-half" type="text" required v-model="form.city" placeholder="City" @blur="validateField">
									</p>
									<p class="control is-expanded">
										<label for="" class="label clipped">Zip Code</label>
										<input class="input input-half" type="text" required v-model="form.zip" placeholder="Zip Code" @blur="validateField">
									</p>
								</div>
							</div>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<label for="" class="label clipped">Phone Number</label>
										<input class="input" type="tel" required v-model="form.phone" placeholder="Phone Number" @blur="formatPhoneNumber">
									</p>
									<p class="control is-expanded">
										<label for="" class="label clipped">Email Address</label>
										<input class="input" type="email" required v-model="form.email" placeholder="Email Address" @blur="validateField">
									</p>
								</div>
							</div>

							<h2 id="form-title">Available Hours</h2>
							<p class="form-info-p">{{ options.available_hours_text }}</p>
							<div class="control is-horizontal" style="margin-top: 0.5rem;">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<label class="label clipped">Date</label>
										<datepicker readonly class="input datepicker" v-model="form.date" required placeholder="Available Date"></datepicker>
									</p>
									<p class="control is-expanded">
										<label class="label clipped">Time</label>
										<span class="select is-fullwidth">
											<select v-model="form.time" required class="input ph-color" @blur="validateField">
												<option value="" default>Time Window:</option>
												<option class="dark-text" value="morning">Morning</option>
												<option class="dark-text" value="afternoon">Afternoon</option>
												<option class="dark-text" value="evening">Evening</option>
											</select>
										</span>
									</p>
								</div>
							</div>

							<h2 id="form-title">Additional Scheduling Information</h2>
							<p class="form-info-p">{{ options.additional_info_text }}</p>
							<em class="form-info-p">(Use side door, gate codes, pet warning, etc.)</em>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<textarea class="input textarea" type="text" required v-model="form.additionalInformation" rows="4" placeholder="Additional Information" @blur="validateField"></textarea>
									</p>
								</div>
							</div>

							<div class="control is-horizontal" style="margin-top: 0.5rem;">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<label class="label">How did you hear about us?</label>
										<span class="select is-fullwidth">
											<select v-model="form.referralType" required class="input ph-color" @blur="validateField">
												<option value="" default>Response</option>
												{% for opt in options.referral_options %}
													<option class="dark-text" value="{{ opt.referral_option_value }}">{{ opt.referral_option }}</option>
												{% endfor %}
											</select>
										</span>
									</p>
									<p class="control is-expanded">
										<label class="label">If you have a promo code, enter it here.</label>
										<input class="input input-half" type="text" v-model="form.promo" placeholder="Promo Code">
									</p>
								</div>
							</div> {# end of section below additional information #}

						</form><!-- Form -->
					</div><!-- Step 1 -->
				</transition>

				{# BUSINESS FORM #}
				<transition name="slide-fade">
					<div v-if="bizstep === 3" :class="{'current-step home-step': bizstep === 3}">
						<div class="step-container">
							<div class="step-container__inner">
								<div>
									<p>Choose Industry</p>
									<p class="mobile-step">1</p>
								</div>
								<div>
									<p>Pest Info</p>
									<p class="mobile-step">2</p>
								</div>
								<div>
									<p class="active" style="width: 12rem;">Contact &amp; Scheduling</p>
								</div>
								<div>
									<p>Confirmation</p>
									<p class="mobile-step">4</p>
								</div>
							</div> {# /.&[__inner] #}
						</div> {# /.step-container #}

						<h1 id="second-hd">Business &amp; Contact Info</h1>
						<form method="GET" class="form">
							<h2 id="form-title">Business Information</h2>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<label for="" class="label clipped">First Name</label>
										<input class="input" type="text" required v-model="form.firstName" placeholder="First Name" @blur="validateField">
									</p>
									<p class="control is-expanded">
										<label for="" class="label clipped">Last Name</label>
										<input class="input" type="text" required v-model="form.lastName" placeholder="Last Name" @blur="validateField">
									</p>
								</div>
							</div>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<label for="" class="label clipped">Business Name</label>
										<input class="input" type="text" required v-model="form.businessName" placeholder="Business Name" @blur="validateField">
									</p>
								</div>
							</div>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<label for="" class="label clipped">Street Address</label>
										<input class="input input-address" type="text" required v-model="form.streetAddress" placeholder="Address" @blur="validateField">
									</p>
									<p class="control is-expanded">
										<label for="" class="label clipped">City</label>
										<input class="input input-half" type="text" required v-model="form.city" placeholder="City" @blur="validateField">
									</p>
									<p class="control is-expanded">
										<label for="" class="label clipped">Zip Code</label>
										<input class="input input-half" type="text" required v-model="form.zip" placeholder="Zip Code" @blur="validateField">
									</p>
								</div>
							</div>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<label for="" class="label clipped">Phone Number</label>
										<input class="input" type="tel" required v-model="form.phone" placeholder="Phone Number" @blur="formatPhoneNumber">
									</p>
									<p class="control is-expanded">
										<label for="" class="label clipped">Email Address</label>
										<input class="input" type="email" required v-model="form.email" placeholder="Email Address" @blur="validateField">
									</p>
								</div>
							</div>

							<h2 id="form-title">Additional Scheduling Information</h2>
							<p class="form-info-p">{{ options.additional_info_text }}</p>
							<em class="form-info-p">(Use side door, gate codes, pet warning, etc.)</em>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<textarea class="input textarea" type="text" required v-model="form.additionalInformation" rows="4" placeholder="Additional Information" @blur="validateField"></textarea>
									</p>
								</div>
							</div>
						</form><!-- Form -->
					</div><!-- Step 1 -->
				</transition>

				{# Step Tracker for final step is in [page.twig] - Thank You message uses the default template #}

				<transition name="slide-fade">
					<div v-if="homestep === 4" :class="{'current-step home-step': homestep === 4}">
						<div class="narrow-container">
							<p>Please wait while you are redirected...</p>
							<p>If you are not redirected in 10 seconds, <a href='/thank-you'>click here</a>.
						</div>
					</div>
				</transition>

				<transition name="slide-fade">
					<div v-if="bizstep === 4" :class="{'current-step home-step': bizstep === 4}">
						<div class="narrow-container">
							<p>Please wait while you are redirected...</p>
							<p>If you are not redirected in 10 seconds, <a href='/thank-you'>click here</a>.
						</div>
					</div>
				</transition>

				<nav class="top-bottom-padding-small centered-text" id="form-bottom" v-if="homestep > 0">
					<button class="plain-button" @click="homePreviousStep" v-if="homestep > 0 && homestep < 5">Previous Step</button>
					<button class="cta-button-blue" @click="homeNextStep" v-if="homestep > 0 && homestep < 3">Next Step <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></button>

					<button class="cta-button-blue submit-button" @click="submitForm" v-if="homestep === 3" v-bind:disabled="submitting">
						<span v-if="! submitting">Submit <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></span>
						<span v-else><span class="fa fa-circle-o-notch fa-spin"></span> Submitting Your Request</span>
					</button>
				</nav>

				<nav class="top-bottom-padding-small centered-text" id="form-bottom" v-if="bizstep > 0">
					<button class="plain-button" @click="bizPreviousStep" v-if="bizstep > 0 && bizstep < 4">Previous Step</button>
					<button class="cta-button-blue" @click="bizNextStep" v-if="bizstep > 0 && bizstep < 3">Next Step <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></button>

					<button class="cta-button-blue submit-button" @click="submitForm" v-if="bizstep === 3" v-bind:disabled="submitting">
						<span v-if="! submitting">Submit <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></span>
						<span v-else><span class="fa fa-circle-o-notch fa-spin"></span> Submitting Your Request</span>
					</button>
				</nav>
			</div>
		</section>
	</article>
{% endblock %}