{% if post.get_field('extermination_programs') %}
<div class="pattern-background content top-bottom-padding" id="extermination-programs">
	<div class="container">
		<div class="subtitle is-3 bold red-text is-marginless">Extermination</div>
		<div class="skew-header-left title is-1 page-title"><span>Programs</span></div>
		<table>
			<thead>
				<tr>
					<td>Program</td>
					<td>Inside Application &amp; Inspections (Per Year)</td>
					<td>Exterior Application &amp; Treatment (Per Year)</td>
					<td>Attic Inspection &amp; Treatment</td>
					<td>Baiting for {{ post.title }}</td>
				</tr>
			</thead>
			<tbody>
				{% for program in post.get_field('extermination_programs') %}
					<tr>
						<td>{{ program.name }}</td>
						<td>x{{ program.inside }}</td>
						<td>x{{ program.outside }}</td>
						<td>{{ program.attic }}</td>
						<td><span class="fa fa-check"><span class="screen-reader-text">Included</span></span></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}