{% extends "base.twig" %}

{# for individual service packages offered #}
{% block below_header %}
<section class="main-block-content">
	<div class="centered-text package-info">
		<h1>{{ post.title }}</h1>
		<p class="package-tagline">{{ post.package_tagline }}</p>
		<p>{{ post.package_info }}</p>
		{# autofill gform dropdown with selected program when navigating directly to the form #}
		<a class="cta-button-blue" href="/customers-selected-package/?desiredprogram={{ post.title }}">
			Request {{ post.title }} Today <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span>
		</a>
	</div>

	<section class="service-package">
		{% if post.slug == 'americas-choice' %}
			{# AMERICAS CHOICE PACKAGE #}
			<div class="pest-program">
				<div class="program-name americas-choice">
					<div>
						<span class="monthly">{{ options.americas_monthly_cost }}</span>
						<span class="additional">{{ options.americas_additional_costs }}</span>
					</div>
				</div>

				<div class="program-details">
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/clipboard.png" alt="Clipboard Icon" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Pest Audit</div>
							<div class="detail-subtitle">Once Per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/magnifying-glass.png" alt="Magnifying Glass Icon" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Termite Inspection</div>
							<div class="detail-subtitle">Conducted Annually</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/bed.png" alt="Photo of a Bed" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Semi-annual Bed Bug Inspection</div>
							<div class="detail-subtitle">Treatment as Needed</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/attic.png" alt="Photo of an Attic" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Attic Treatment</div>
							<div class="detail-subtitle">Once Per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/sentricon.png" alt="Sentricon Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Termite Control</div>
							<div class="detail-subtitle">Powered by Sentricon</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/clock.png" alt="Clock Icon" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Year Round Monitoring</div>
							<div class="detail-subtitle">For All Other Pests</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cube-cutout.png" alt="Cube Cutout" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Interior Treatment</div>
							<div class="detail-subtitle">Includes 2 Premium Applications Per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cube.png" alt="Cube Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Perimeter Treatments</div>
							<div class="detail-subtitle">Includes 4 Premium Exterior Services per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Cage photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Baiting for Ants &amp; Roaches</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Cage Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Baiting for Rats &amp; Mice</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Cage Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Baiting, Trapping, Exclusion</div>
							<div class="detail-subtitle">for Bats, Moles, Voles, &amp; Covered Wildlife</div>
						</div>
					</div>
				</div>

				<div class="pest-listing">
					<h6>Pests Covered By America's Choice</h6>
					<div class="pest-selector">
						{{ post.pests_covered_by_package }}
					</div>
				</div>
			</div>
		{% elseif post.slug == 'platinum-program' %}
			{# PLATINUM PACKAGE	#}
			<div class="pest-program">
				<div class="program-name platinum">
					<div>
						<span class="monthly">{{ options.platinum_monthly_cost }}</span>
						<span class="additional">{{ options.platinum_additional_costs }}</span>
					</div>
				</div>

				<div class="program-details">
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/clipboard.png" alt="Clipboard Icon" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Pest Audit</div>
							<div class="detail-subtitle">Once Per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/magnifying-glass.png" alt="Magnifying Glass Icon" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Termite Inspection</div>
							<div class="detail-subtitle">Conducted Annually</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/sentricon.png" alt="Sentricon Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Termite Control</div>
							<div class="detail-subtitle">Powered by Sentricon</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/clock.png" alt="Clock Icon" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Year Round Monitoring</div>
							<div class="detail-subtitle">For All Other Pests</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/attic.png" alt="Photo of an Attic" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Attic Treatment</div>
							<div class="detail-subtitle">Once Per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cube-cutout.png" alt="Cub Cutout Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Interior Treatment</div>
							<div class="detail-subtitle">Includes 2 Premium Applications Per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cube.png" alt="Cube Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Perimeter Treatments</div>
							<div class="detail-subtitle">Includes 4 Premium Exterior Services per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Cage Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Baiting for Ants &amp; Roaches</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Cage Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Baiting for Rats &amp; Mice</div>
						</div>
					</div>
				</div>

				<div class="pest-listing">
					<h6>Pests Covered By Our Platinum Program</h6>
					<div class="pest-selector">
						{{ post.pests_covered_by_package }}
					</div>
				</div>
			</div>
		{% elseif post.slug == 'gold-program' %}
			{# GOLD PACKAGE #}
			<div class="pest-program">
				<div class="program-name gold">
					<div class="prog-choice">Gold Program</div>
					<div>
						<span class="monthly">{{ options.gold_monthly_cost }}</span>
						<span class="additional">{{ options.gold_additional_costs }}</span>
					</div>
				</div>

				<div class="program-details">
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/clipboard.png" alt="Clipboard Icon" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Pest Audit</div>
							<div class="detail-subtitle">Once Per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/magnifying-glass.png" alt="Magnifying Glass Icon" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Termite Inspection</div>
							<div class="detail-subtitle">Conducted Annually</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/clock.png" alt="Clock Icon" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Year Round Monitoring</div>
							<div class="detail-subtitle">For All Other Pests</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/attic.png" alt="Photo of an Attic" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Attic Treatment</div>
							<div class="detail-subtitle">Once Per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cube-cutout.png" alt="Cube Cutout Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Interior Treatment</div>
							<div class="detail-subtitle">Includes 2 Premium Applications Per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cube.png" alt="Cube Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Perimeter Treatments</div>
							<div class="detail-subtitle">Includes 4 Premium Exterior Services per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Cage Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Baiting for Ants &amp; Roaches</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Cage Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Baiting for Rats &amp; Mice</div>
						</div>
					</div>
				</div>

				<div class="pest-listing">
					<h6>Pests Covered By Our Gold Program</h6>
					<div class="pest-selector">
						{{ post.pests_covered_by_package }}
					</div>
				</div>
			</div>
		{% elseif post.slug == 'silver-program' %}
			{# SILVER PACKAGE #}
			<div class="pest-program">
				<div class="program-name silver">
					<div class="prog-choice">Silver Program</div>
					<div>
						<span class="monthly">{{ options.silver_monthly_cost }}</span>
						<span class="additional">{{ options.silver_additional_costs }}</span>
					</div>
				</div>

				<div class="program-details">
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/clipboard.png" alt="Clipboard Icon" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Pest Audit</div>
							<div class="detail-subtitle">Once Per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/magnifying-glass.png" alt="Magnifying Glass Icon" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Termite Inspection</div>
							<div class="detail-subtitle">Conducted Annually</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/clock.png" alt="Clock Icon" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Year Round Monitoring</div>
							<div class="detail-subtitle">For All Other Pests</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/attic.png" alt="Photo of an Attic" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Attic Treatment</div>
							<div class="detail-subtitle">Once Per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cube-cutout.png" alt="Cube Cutout Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Interior Treatment</div>
							<div class="detail-subtitle">Includes 2 Premium Applications Per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cube.png" alt="Cube Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Perimeter Treatments</div>
							<div class="detail-subtitle">Includes 4 Premium Exterior Services per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cage.png" alt="Cage Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Baiting for Ants &amp; Roaches</div>
						</div>
					</div>
				</div>

				<div class="pest-listing">
					<h6>Pests Covered By Our Silver Program</h6>
					<div class="pest-selector">
						{{ post.pests_covered_by_package }}
					</div>
				</div>
			</div>
		{% elseif post.slug == 'bronze-program' %}
			{# BRONZE PACKAGE #}
			<div class="pest-program">
				<div class="program-name bronze">
					<div class="prog-choice">Bronze Program</div>
					<div>
						<span class="monthly">{{ options.bronze_monthly_cost }}</span>
						<span class="additional">{{ options.bronze_additional_costs }}</span>
					</div>
				</div>

				<div class="program-details">
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/clipboard.png" alt="Clipboard Icon" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Pest Audit</div>
							<div class="detail-subtitle">Once Per Year</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/magnifying-glass.png" alt="Magnifying Glass Icon" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Termite Inspection</div>
							<div class="detail-subtitle">Conducted Annually</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/clock.png" alt="Clock Icon" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Year Round Monitoring</div>
							<div class="detail-subtitle">For All Other Pests</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cube-cutout.png" alt="Cube Cutout Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Interior Treatment</div>
							<div class="detail-subtitle">On Request</div>
						</div>
					</div>
					<div class="detail">
						<img src="{{ theme.link }}/static/images/pest-evaluation/cube.png" alt="Cube Photo" class="program-icon" />
						<div class="titles-wrapper">
							<div class="detail-title">Perimeter Treatments</div>
							<div class="detail-subtitle">Includes 4 Premium Exterior Services per Year</div>
						</div>
					</div>
				</div>

				<div class="pest-listing">
					<h6>Pests Covered By Our Bronze Program</h6>
					<div class="pest-selector">
						{{ post.pests_covered_by_package }}
					</div>
				</div>
			</div>
		{% endif %}
	</section>

	<section class="aboutus-wrapper home-services-area">
		<div class="aboutus-container">
			<div class="service-area">
				<div class="service-area--overlay">
					<h2>Our Service Area</h2>
					<p>{{ post.our_service_area_map_paragraph }}</p>
					<a class="cta-button-white" href="/locations/">Our Office Locations <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
				</div>
				<img class="hidden-mobile" src="{{ TimberImage(post.our_service_area_map).src }}" alt="{{ TimberImage(post.our_service_area_map).alt }}">
			</div>
		</div>
	</section>
</section>
{% endblock %}

{% block content %}
{% endblock %}

{% block above_footer %}
<section class="pre-footer" style="background-image: url('{{ theme.link }}/static/images/footer-slope.png');">
	<div class="pre-footer__inner alt-footer">
		<div class="inner-content-right">
			<h2>{{ post.footer_header }}</h2>
			<p>{{ post.footer_paragraph_text }}</p>
			<a class="cta-button-white left-button" href="/pest-evaluation/">
				Request A Free Pest Evaluation <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span>
			</a>
		</div>
		<div class="inner-content-left">
			<img src="{{ theme.link }}/static/images/joey-footer.png" alt="Joey Hoke, APM Technician of the year" />
		</div>
	</div>
</section>
{% endblock %}