{% extends "base.twig" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			<section class="article-content columns is-multiline">
				<div class="column is-half">
					{% if post.biological_classification %}
						<div class="subtitle is-3 bold red-text is-marginless">{{ post.biological_classification }}</div>
					{% endif %}
					<h1 class="skew-header-left title is-1 page-title"><span>{{ post.title }}</span></h1>
					<div class="article-body">
						{{post.content}}
					</div>
				</div>
				<div class="column is-half">
					{% if post.thumbnail %}
						<img src="{{ TimberImage( post ).src('large') }}" />
					{% endif %}
				</div>
				<div class="column is-half">
					<h3 class="blue-text bold uppercase">Short Term Solution</h3>
					{{ post.get_field('short_term_solution') }}
				</div>
				<div class="column is-half">
					<h3 class="blue-text bold uppercase">American Pest Long Lasting Solution</h3>
					{{ post.get_field('long_term_solution') }}
				</div>
			</section>
		</article>
		<section class="inline-video-gallery">
			
		</section>
	</div><!-- /content-wrapper -->
{% endblock %}

{% block below_content %}
	{% include "programs.twig" %}
{% endblock %}

{% block footer_scripts %}
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
{% endblock %}