{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
		<section class="article-content">
			{% if post.subtitle %}
				<div class="subtitle is-3 bold red-text is-marginless">{{ post.subtitle }}</div>
			{% endif %}
			<h1 class="skew-header-left title is-1 page-title"><span>{{ post.title }}</span></h1>
			{% if post.thumbnail %}
				<img src="{{ TimberImage(post.thumbnail).src('large') }}" class="post-thumbnail" />
			{% endif %}
			<div class="article-body">
				{{post.content}}
			</div>
		</section>
	</article>
	{# {% if post.comment_status != 'closed' %}
		<section class="comments">
			<div class="respond">
				<h3 class="h2 emphasized-heading">Comments</h3>
				{{ function('comment_form') }}
			</div>
			<div class="responses">
				{% for cmt in post.get_comments() %}
					{% include "comment.twig" with {comment:cmt} %}
				{% endfor %}
			</div>
		</section>
	{% endif %} #}
{% endblock %}
