{% extends 'base.twig' %}

{% block below_header %}
{% set city_name = post.title %}
	<section class="additional-areas-header">
		<h1>{{ post.title }}, {{ home_office_state }} Pest Control</h1>
	</section>

<section class="areas-served-wrapper">
	<div class="info-container">
		<aside class="side-menu">
			<h3>Office Location</h3>
			<h4><a href="/locations/{{ home_office_slug }}">{{ home_office_name }} Office</a></h4>

			{% set tel = home_office_phone %}
			<p>{{ home_office_addx }}</p>
			<p>{{ home_office_name }}, {{ home_office_state }} {{ home_office_zip }}</p>
			<a class="cta-button-white" href="tel:{{ tel }}">Call: {{ tel }}<span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
		</aside>

		<p class="intro-para">{{ options.intro_paragraph |replace({'CITYNAME':city_name, 'STATE':home_office_state, 'HOMEOFFICE':home_office_name  }) }}</p>

		<div class="icon-row">
			<a class="icon-row__icon" href="/termite-control/">
				{{ source('static/images/icons/termite-control.svg') }}
				<p>Termite Control</p>
			</a>

			<a class="icon-row__icon" href="/bed-bug-control/">
				{{ source('static/images/icons/bed-bug-proactive.svg') }}
				<p>Bed Bug Proactive</p>
			</a>

			<a class="icon-row__icon" href="/backyard-bug-control/">
				{{ source('static/images/icons/fight-the-bite.svg') }}
				<p>Fight<br>the Bite</p>
			</a>

			<a class="icon-row__icon" href="/wildlife-control/">
				{{ source('static/images/icons/wildlife-control.svg') }}
				<p>Wildlife Control</p>
			</a>

			<a class="icon-row__icon" href="/commercial-pest-control/">
				{{ source('static/images/icons/commercial-pest-control.svg') }}
				<p>Commerical Pest Control</p>
			</a>
		</div>

		{% set count = 1 %}
		{% for info in options.additional_areas_info %}
		
			<div class="areas-served-info">
				<h2>{{ info.paragraph_header |replace({'CITYNAME':city_name, 'STATE':home_office_state }) }}</h2>
				<p>{{ info.paragraph_body |replace({'CITYNAME':city_name, 'STATE':home_office_state }) }}</p>
				<a class="trans-button" href="/">Learn More <span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
			</div>

			{% if count == 1 %}
				<section class="pest-elimination-steps">
					<div class="hold-right">
						<div class="pest-elimination-steps__inner">

							<div class="pe-inner-left">
								<div class="spinner-image-container">
									<span class="spinner-ring">{{ source('static/images/icons/heart-ring.svg') }}</span>
									<span class="spinner-heart">{{ source('static/images/icons/heart.svg') }}</span>
								</div>
							</div>

							<div class="pe-inner-right-icons">
								<div class="spinner-icon-group">
									<span class="spinner-icon">
										{{ source('static/images/icons/free-pest-evaluation.svg') }}
										<p>Free Pest Evaluation</p>
									</span>
									<span class="spinner-icon">
										{{ source('static/images/icons/no-cost-return.svg') }}
										<p>No-Cost Return<br> Visits</p>
									</span>
									<span class="spinner-icon">
										{{ source('static/images/icons/guaranteed-elimination.svg') }}
										<p>Guaranteed Elimination</p>
									</span>
								</div>
								<div class="spinner-icon-group-2">
									<span class="spinner-icon">
										{{ source('static/images/icons/trained-techs.svg') }}
										<p>Highly-Trained Technicians</p>
									</span>
									<span class="spinner-icon">
										{{ source('static/images/icons/scheduling.svg') }}
										<p>Convenient Scheduling</p>
									</span>
								</div>

								<div class="center-button">
									<a class="cta-button-white" href="{{ options.button_link }}">{{ options.button_text }} <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
								</div>
							</div>
						</div>
					</div>
				</section>
			{% endif %}
			{% set count = count + 1 %}
		{% endfor %}
	</div>
</section>
{% endblock %}

{% block content %}
{% endblock %}

{% block above_footer %}
<section class="pre-footer" style="background-image: url('{{ theme.link }}/static/images/footer-slope.png');">
	<div class="pre-footer__inner alt-footer">
		<div class="inner-content-right">
			<h2>{{ options.team_cta_header }}</h2>
			<p>{{ options.team_cta_paragraph }}</p>
			<a class="cta-button-white left-button" href="/meet-the-staff/">Meet Our Staff <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
			<a class="trans-button" href="/affiliations/">See All Affiliations <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
		</div>
		<div class="inner-content-left">
			<img src="{{ theme.link }}/static/images/joey-footer.png" alt="Iphone Picture" />
		</div>
	</div>
</section>
{% endblock %}