{% extends "base.twig" %}

{% block content %}
<section class="snake-content">
	<h1>{{ post.title }}</h1>
	<a href="#snake-id">Jump to Snake Identification</a>
	<h2>What We Can Do For You</h2>
	<ol class="faq-list">
		{% for op in post.get_field('options_list') %}
			<li>{{ op.list_option }}</li>
		{% endfor %}
	</ol>

	<h2>Snake Facts</h2>
	<ol class="faq-list">
		{% for faq in post.get_field('faq_list') %}
			<li>{{ faq.faq_item }}</li>
		{% endfor %}
	</ol>

	<section id="snake-id" class="information-container">
		{# Venemous Snake Section #}
		<h2><em>Venemous</em> Snakes in Kansas</h2>
		<p><strong>Venemous snakes include:</strong> {{ post.v_snake_list }}</p>
		{% set v_count = 0 %}
		{% for panel in post.get_field('v_snake_information_panels') %}
			{% if v_count is even %}
				<div id="{{ v_count }}" class="flip-container fp-left">
					<div class="flip-container--text">
						<h4>{{ panel.snake_name }}</h4>
						<p><strong>Scientific Name:</strong> {{ panel.scientific_name }}</p>
						<p><strong>Prevalence:</strong> {{ panel.commonness }}</p>
						<p><strong>Range:</strong> {{ panel.range }}</p>
						<p><strong>Average Length:</strong> {{ panel.size }}</p>
						<p><strong>Venom Toxicity:</strong> {{ panel.venom_toxicity }}</p>
						<a class="plain-button" href="{{ panel.website_url }}" target="_blank">Additional Information</a>
					</div>
					<div class="flip-container--img">
						<img src="{{ TimberImage(panel.snake_image).src }}" alt="{{ TimberImage(panel.snake_image).alt }}" />
					</div>
				</div>
			{% else %}
				<div id="{{ v_count }}" class="flip-container fp-right">
					<div class="flip-container--img">
						<img src="{{ TimberImage(panel.snake_image).src }}" alt="{{ TimberImage(panel.snake_image).alt }}" />
					</div>
					<div class="flip-container--text">
						<h4>{{ panel.snake_name }}</h4>
						<p><strong>Scientific Name:</strong> {{ panel.scientific_name }}</p>
						<p><strong>Prevalence:</strong> {{ panel.commonness }}</p>
						<p><strong>Range:</strong> {{ panel.range }}</p>
						<p><strong>Average Length:</strong> {{ panel.size }}</p>
						<p><strong>Venom Toxicity:</strong> {{ panel.venom_toxicity }}</p>
						<a class="plain-button" href="{{ panel.website_url }}" target="_blank">Additional Information</a>
					</div>
				</div>
			{% endif %}
			{% set v_count = v_count + 1 %}
		{% endfor %}
		<p style="padding-top: 1.5rem; font-size: 14px;">*Note: All information contained is apposite to Kansas.</p>

		<hr style="background-color: #112348; margin-top: 2.5rem;"/>

		{# Non-Venemous Snake Section #}
		{% if post.get_field('nv_snake_information_panels') %}
			<h2><em>Non-Venemous</em> Snakes in Kansas</h2>
			<p><strong>Non-Venemous snakes include:</strong> {{ post.nv_snake_list }}</p>
			{% set nv_count = 0 %}
			{% for panel in post.get_field('nv_snake_information_panels') %}
				{% if nv_count is even %}
					<div id="{{ nv_count }}" class="flip-container fp-left">
						<div class="flip-container--text">
							<h4>{{ panel.nv_snake_name }}</h4>
							<p><strong>Scientific Name:</strong> {{ panel.nv_scientific_name }}</p>
							<p><strong>Prevalence:</strong> {{ panel.nv_commonness }}</p>
							<p><strong>Range:</strong> {{ panel.nv_range }}</p>
							<p><strong>Average Length:</strong> {{ panel.nv_size }}</p>
							<p><strong>Venom Toxicity:</strong> {{ panel.nv_venom_toxicity }}</p>
							<a class="plain-button" href="{{ panel.nv_website_url }}" target="_blank">Additional Information</a>
						</div>
						<div class="flip-container--img">
							<img src="{{ TimberImage(panel.nv_snake_image).src }}" alt="{{ TimberImage(panel.nv_snake_image).alt }}" />
						</div>
					</div>
				{% else %}
					<div id="{{ nv_count }}" class="flip-container fp-right">
						<div class="flip-container--img">
							<img src="{{ TimberImage(panel.nv_snake_image).src }}" alt="{{ TimberImage(panel.nv_snake_image).alt }}" />
						</div>
						<div class="flip-container--text">
							<h4>{{ panel.snake_name }}</h4>
							<p><strong>Scientific Name:</strong> {{ panel.nv_scientific_name }}</p>
							<p><strong>Prevalence:</strong> {{ panel.nv_commonness }}</p>
							<p><strong>Range:</strong> {{ panel.nv_range }}</p>
							<p><strong>Average Length:</strong> {{ panel.nv_size }}</p>
							<p><strong>Venom Toxicity:</strong> {{ panel.nv_venom_toxicity }}</p>
							<a class="plain-button" href="{{ panel.nv_website_url }}" target="_blank">Additional Information</a>
						</div>
					</div>
				{% endif %}
				{% set nv_count = nv_count + 1 %}
			{% endfor %}
			<p style="padding-top: 1.5rem;">*Note: All information contained is apposite to Kansas.</p>
		{% endif %}
	</section>
</section>
{% endblock %}

{% block above_footer %}
{% endblock %}