{% extends 'base.twig' %}

{% block below_header %}
{% set office_name = term.name %}
{% set office_state = term.full_state %}
{% set office_location = term.city_name %}

<section class="home-offices-header" style="background-image: url('{{ theme.link }}/static/images/header-slope.png');">
	<div class="header-container">
		<h1>Pest Control for {{ office_name }} and<br/> the Surrounding Area</h1>
		<a class="cta-button-blue" href="/pest-evaluation/">Request Your Free Pest Evaluation <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
	</div>
</section>

<section class="areas-served-wrapper ho-areas-served-wrapper">
	<div class="info-container">
		<aside class="side-menu">
			<h3 style="padding-bottom: 0.5rem;">{{ office_location }}</h3>

			{% set tel = term.city_phone_number %}
			<p>{{ term.city_address }}</p>
			<p>{{ office_location }}, {{ term.state }} {{ term.zip_code }}</p>
			<a class="cta-button-white" href="tel:{{ tel }}">Call: {{ tel }}<span class="arrow-icon">{{ source('static/images/icons/arrow-right.svg') }}</span></a>

			<h4 class="areas-served-header">Additional Areas Served</h4>
			<ul class="child-menu">

				{% for addl_city in cities %}
					{% if addl_city.terms('offices')|join() == term.name %}
						{% if addl_city.get_field('unlink_this_city') == "YES" %}
							<li><strong>·</strong> <a href="{{ addl_city.link }}">{{ addl_city.title }}</a></li>
						{% else %}
							<li><strong>·</strong> {{ addl_city.title }}</li>
						{% endif %}
					{% endif %}
				{% endfor %}
			</ul>
		</aside>

		<h2 class="intro-header">{{ options.ho_intro_header|replace({'OFFICENAME':office_name, 'STATE':office_state}) }}</h2>
		<p class="intro-para">{{ options.ho_intro_paragraph|replace({'OFFICENAME':office_name, 'STATE':office_state }) }}</p>

		<div class="icon-row">
			<a class="icon-row__icon" href="/termite-control/">
				{{ source('static/images/icons/termite-control.svg') }}
				<p>Termite Control</p>
			</a>

			<a class="icon-row__icon" href="/bed-bug-control/">
				{{ source('static/images/icons/bed-bug-proactive.svg') }}
				<p>Bed Bug Proactive</p>
			</a>

			<a class="icon-row__icon" href="/backyard-bug-control/">
				{{ source('static/images/icons/fight-the-bite.svg') }}
				<p>Fight<br>the Bite</p>
			</a>

			<a class="icon-row__icon" href="/wildlife-control/">
				{{ source('static/images/icons/wildlife-control.svg') }}
				<p>Wildlife Control</p>
			</a>

			<a class="icon-row__icon" href="/commercial-pest-control/">
				{{ source('static/images/icons/commercial-pest-control.svg') }}
				<p>Commerical Pest Control</p>
			</a>
		</div>

		<p class="small-header">Residential Pest Control in {{ office_name }}, {{ office_state }}</p>
		{% set count = 1 %}
		{% for info in options.ho_home_offices_info %}
		
			<div class="areas-served-info ho-areas-served">
				<h2>{{ info.ho_paragraph_header|replace({'OFFICENAME':office_name, 'STATE':office_state }) }}</h2>
				<p>{{ info.ho_paragraph_body|replace({'OFFICENAME':office_name, 'STATE':office_state }) }}</p>
			</div>

			{% if count == 4 %}
				<section class="pest-elimination-steps add-margin">
					<div class="hold-right">
						<div class="pest-elimination-steps__inner">

							<div class="pe-inner-left">
								<div class="spinner-image-container">
									<span class="spinner-ring">{{ source('static/images/icons/three-step-ring.svg') }}</span>
									<span class="spinner-number">{{ source('static/images/icons/three-step-number.svg') }}</span>
								</div>
							</div>

							<div class="pe-inner-right">
								{% set step_count = 1 %}
								{% for psteps in options.pest_elimination_steps %}
									<div class="pest-step">
										<div class="step-number">
											<span>{{ step_count }}</span>
										</div>
										<div class="step-info">
											<h2>{{ psteps.step_title }}</h2>
											<p>{{ psteps.step_blurb }}</p>
										</div>
									</div>
									{% set step_count = step_count + 1 %}
								{% endfor %}
								<div class="center-button">
									<a class="cta-button-white" href="{{ options.button_link }}">{{ options.button_text }} <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
								</div>
							</div>
						</div>
					</div>
				</section>

				<p class="small-header">Commercial Pest Control in {{ office_name }}, {{ office_state }}</p>
			{% endif %}
			{% set count = count + 1 %}
		{% endfor %}
	</div>
</section>
{% endblock %}

{% block content %}
{% endblock %}

{% block above_footer %}
<section class="pre-footer" style="background-image: url('{{ theme.link }}/static/images/footer-slope.png');">
	<div class="pre-footer__inner alt-footer">
		<div class="inner-content-right">
			<h2>{{ options.team_cta_header }}</h2>
			<p>{{ options.team_cta_paragraph }}</p>
			<a class="cta-button-white left-button" href="/meet-the-staff/">Meet Our Staff <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
			<a class="trans-button" href="/affiliations/">See All Affiliations <span class="arrow-icon-dark">{{ source('static/images/icons/arrow-right.svg') }}</span></a>
		</div>
		<div class="inner-content-left">
			<img src="{{ theme.link }}/static/images/joey-footer.png" alt="Joey" />
		</div>
	</div>
</section>
{% endblock %}