{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
		<section class="article-content">
			{% if post.subtitle %}
				<div class="subtitle is-3 bold red-text is-marginless">{{ post.subtitle }}</div>
			{% endif %}
			<h1 class="skew-header-left title is-1 page-title"><span>{{ post.title }}</span></h1>
			<div class="article-body">
				{{post.content}}
			</div>
		</section>
	</article>
{% endblock %}

{% block below_content %}
	<div class="video-grid">
	{% for video in post.get_field('videos') %}
		<div class="video-grid__video">
			<h3 class="centered-text title is-4 uppercase">{{ video.title }}</h3>
			<div class="video-embed">{{ video.embed }}</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}