.aboutus-wrapper {
	max-width: 100%;
	margin: 5rem auto 5rem;
	padding: 0 0.5rem;
	@include bp(xs) { margin: 3rem auto; }
}

// for all the text/headers up until the pest elimation spinner
.aboutus-info, .service-area {
	h2, p { line-height: 1.2; }

	h2 {
		font-size: 1.5rem;
		font-weight: bold;
		padding-bottom: 0.6rem;
		text-transform: capitalize;
		color: $darker-blue;
		@include bp(xs) { font-size: 1.875rem; }
	}

	p {
		font-size: 0.9rem;
		color: $dark-text;
	}
}

.aboutus-container {
	max-width: 62.5rem;
	margin: 0 auto;

	.aboutus-info {
		margin-bottom: 2.5rem;
		p { padding-bottom: 1.25rem; }
	}

	.service-area {
		position: relative;
		margin-bottom: 11rem;
		@include bp(sm) { margin-bottom: 27rem; }
		@include bp(md) { margin-bottom: 20rem; }

		&--overlay {
			max-width: 62.5rem;
			position: relative;
			left: 0;
			z-index: 3;
			@include bp(sm) { max-width: 25.5rem; }
		}

		img {
			position: relative;
			top: 0;
			right: 0;
			z-index: 2;
			margin-top: 0.5rem;

			@include bp(sm) {
				margin-top: 0;
				position: absolute;
			}
		}

		.cta-button-white {
			display: inline-block;
			padding: 0.3rem 0.5rem 0.4rem;
			margin-top: 1rem;
		}
	}
}

.careers-wrapper {
	max-width: 100%;
	margin: 0 auto 3rem;
	padding: 0 0.5rem;
}

.careers-container {
	display: flex;
	max-width: 62.5rem;
	margin: 0 auto;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	@include bp(sm) {
		justify-content: space-between;
		align-items: initial;
	}

	.careers-left, .franchises-right {
		max-width: 22rem;
		padding: 0.5rem;
		@include bp(md) { max-width: 25.5rem; }

		h2, p { line-height: 1.2; }

		h2 {
			font-size: 1.5rem;
			font-weight: bold;
			padding-bottom: 0.6rem;
			color: $darker-blue;
			@include bp(sm) { font-size: 1.875rem; }
		}

		p {
			font-size: 0.9rem;
			color: $dark-text;
			padding-bottom: 1.25rem;
		}

		.cta-button-white {
			display: inline-block;
			width: 13rem;
			padding: 0.3rem 0.5rem;
			margin-top: 1rem;
		}
	}

	.careers-left {
		margin-bottom: 3rem;
		@include bp(720px) { margin-bottom: 0; }
	}
}

.reduce-margin {
	margin: 0 auto 5rem;
}