// This partial shares styles with the Home Offices Page and Additional Areas.
// Things specific to Home Offices is in its own partial [_home-offices.scss]
.additional-areas-header {
	max-width: 75rem;
	margin: 0 auto 2.5rem;
	text-align: center;
	border-bottom: 1px solid $grey;
	padding: 0 0.5rem;

	h1 {
		font-size:2rem;
		font-weight: bold;
		color: $darker-blue;
		padding: 1rem 0;
		line-height: 1.1;
		@include bp(sm) { font-size: 3rem; }
		@include bp(md) { font-size: 3.625rem; }
	}
}

.areas-served-wrapper {
	max-width: 75rem;
	margin: 0 auto 5rem;
	padding: 0 0.5rem;

	// centers inner container
	.info-container {
		max-width: 62.5rem;
		margin: 0 auto;
	}

	.side-menu {
		display: none;

		@include bp(640px) {
			display: block;
			float: right;
			border-left: 1px solid $grey;
			padding-left: 1rem;
			margin-left: 1rem;

			h3, h4 a, p { line-height: 1.2; }

			h3 {
				font-size: 1.875rem;
				font-weight: bold;
				padding-bottom: 1rem;
				color: $darker-blue;
			}

			h4 a {
				font-size: 1.375rem;
				font-weight: 500;
				color: $dark-text;
			}

			p {
				font-size: 0.9rem;
				color: $dark-text;
				&:last-of-type { padding-bottom: 1.7rem; }
			}
		}
	} // end /.[side-menu]

	.intro-para {
		max-width: 43.25rem;
		font-size: 0.9rem;
		color: $dark-text;
		padding-bottom: 1.5rem;
		line-height: 1.2;
		@include bp(sm) { margin-right: 6.5rem; }
	}

	.icon-row {
		display: flex;
		justify-content: space-around;
		align-items: center;
		max-width: 43.25rem;
		margin-bottom: 2rem;
		margin-top: 2rem;
		flex-wrap: wrap;

		// move icons left on tablets+
		@include bp(640px) {
			max-width: 35rem;
		}

		@include bp(950px) {
			max-width: 43.25rem;
			justify-content: space-between;
		}

		a {
			margin-left: 1rem;
			margin-right: 1rem;
			margin-bottom: 1.5rem;

			@include bp(950px) {
				margin-left: 0;
				margin-right: 0;
			}
		}

		&__icon {
			max-width: 6rem;
			text-align: center;

			> svg {
				max-width: 5rem;
				max-height: 5rem;

				@include bp(950px) {
					max-width: 100%;
					height: 4rem; // make <p> tags line up
				}
			}

			p {
				font-size: 0.93rem;
				color: $dark-text;
				padding-top: 0.75rem;
			}
		}
	}

	// Keep these at 43.25rem the rest of container flows to edges 
	.areas-served-info {
		max-width: 43.25rem;
		margin-bottom: 8rem;

		@include bp(sm) {
			margin-right: 6.5rem;
			margin-bottom: 9.5rem;
		}

		@include bp(848px) { margin-bottom: 3.5rem; }

		&:last-of-type {
			margin-bottom: 0;
		}

		h2, p { line-height: 1.2; }

		h2 {
			font-size: 1.875rem;
			font-weight: bold;
			padding-bottom: 0.2rem;
			color: $darker-blue;
		}

		p {
			font-size: 0.9rem;
			color: $dark-text;
			padding-bottom: 1.5rem;
		}

		.trans-button {
			font-size: 0.8rem;
		}
	}

	// flip margin
	.pest-elimination {
		margin-bottom: 4rem;
	
		// this is left for the additional areas, nested class is tied to this name
		.hold-right {
			margin-left: 0;
			margin-right: auto;
			max-width: 54rem;
			@include bp(md) { margin-left: 4.5rem; }
		}
	}
}

// Joey Footer (slight adjustment to iPhone footer from home page)
.alt-footer {
	.inner-content-right {
		max-width: 31rem;
		padding-bottom: 1rem;
		padding-left: 0.5rem;
		@include bp(800px) { padding-bottom: 4rem; }

		h2, p { line-height: 1.2; }

		h2 {
			font-size: 1.5rem;
			padding-top: 0.5rem;
			@include bp(sm) { font-size: 1.875rem; }
			@include bp(800px) { padding-top: 4rem; }
		}

		p {
			font-size: 0.9rem;
			font-weight: normal;
		}

		a { display: inline-block; }

		.cta-button-white {
			display: inline-block;
			padding: 0.3rem 0.7rem;
		}

		.left-button {
			margin-right: 2.25rem;
			@include mq($until: 390px) { margin-bottom: 2rem; }
		}
	}

	.inner-content-left {
		margin-bottom: -5.5rem;
		@include bp(870px) { margin-bottom: -4.7rem; }
	}
}