.blog, .archive {
	
}

.post-thumbnail {
	width: 100%;
	display: block;
	margin-bottom: 2rem;
}

.pagination {
	text-align: center;
	margin: 4em 0;
	.pages {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;

			+ li {
				margin-left: 1em;
			}

			a {
				display: inline;
				padding: 0 .25em;
			}
		}
	}

	.next {
		margin-left: 1em;
	}
}

.pagination:empty {
	display: none;
}

.blog {

	.tease-post {
		box-shadow: 0 4px 1rem -3px $black;
		background: $white;
		padding: 2rem;
		margin: 2rem 0;
	}
}

.article-wrapper {
	margin-bottom: 2rem;
}