.button {
	border-radius: 100px;
	height: auto;
	padding: .75em 2em;
	text-transform: uppercase;
	font-weight: 700;
	vertical-align: middle;
	white-space: normal;
	box-shadow: 0 4px 1rem -3px $black;
	
	&:hover, &:active, &:focus {
		color: $white;
	}

	&:focus {
		outline: 1px dashed black;
	}

	&.is-large {
		font-size: 1.25rem;
	}

	&.small {
		font-size: .75rem;
	}
}

.button.white {
	background: $white;
	color: $red;
	&:hover, &:active, &:focus {
		color: $red;
	}
}

// reviews page feedback buttons
.page-id-1243, .page-id-2032 {
	.su-row {
		img:hover {
			border-radius: 50%;
			background-color: $light-grey;
		}
	}
}

// Redesign Buttons + Arrow Icon svg 
.arrow-icon, .arrow-icon-dark {
	display: inline-block;
	margin-left: 0.3rem;
	font-size: 0.875rem;
}

.arrow-icon {
	position: relative;
	top: 4px;
}

.arrow-icon-dark {
	vertical-align: text-top; // has padding on button
	svg {
		#Oval-Copy-3, #Path-2-Copy-2, #Path-2-Copy-3 {
			stroke: $darker-blue;
		}
	}
}

.trans-button {
	display: inline-block;
	text-align: center;
	font-size: 0.875rem;
	font-weight: bold;
	color: $darker-blue;
	text-transform: uppercase;
	transition: 0.2s ease-out;
	span { transition: 0.2s ease-out; }

	&:hover {
		transition: 0.2s ease-out;

		> span {
			transition: 0.2s ease-out;
			margin-right: -0.5rem;
			padding-left: 0.5rem;
		}
	}
}

.cta-button-white, .cta-button-blue {
	@extend .trans-button;
	box-shadow: 0 15px 8px -15px $blue;
	border: 2px solid $cyan;
	border-radius: 5px;
	transition: 0.2s ease-in;

	&:hover {
		cursor: pointer;
		transition: 0.2s ease-out;

		> span {
			margin-right: unset;
			padding-left: unset;
		}
	}
}

.plain-button {
	all: unset;
	font-size: 0.875rem;
	color: $dark-text;
	margin-right: 2rem;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

.cta-button-white {
	background-color: $white;
	padding: 0.4rem 0.7rem !important;

	.arrow-icon-dark {
		vertical-align: unset;
		position: relative;
		top: 4px;
	}
}

.cta-button-blue {
	background-color: $cyan;
	color: $white;
	padding: 0.25rem 0.75rem 0 !important;
	@include bp(xs) { padding: 0.45rem 0.75rem 0.2rem !important; }

	&:hover {
		color: $white;
		background-color: $cyan-hover;
		border-color: $cyan-hover;
	}
}