.commercial-wrapper {
	max-width: 100%;
	margin: 5rem auto 0;
	@include bp(sm) { margin: 3rem auto 0; }
}

.commercial-container {
	display: flex;
	max-width: 65rem;
	margin: 0 auto;
	padding: 1rem;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

	@include bp(sm) {
		justify-content: space-between;
	}

	.commercial-service {
		max-width: 20rem;
		margin-bottom: 3.5rem;
		&:nth-child(6n+6) { margin-bottom: 1.5rem; }
		@include bp(sm) { margin-bottom: 3rem; }
		@include bp(860px) { max-width: 25rem; }

		@include bp(md) {
			margin-bottom: 5rem;

			&:nth-child(6n+5), &:nth-child(6n+6) {
				margin-bottom: 0;
			}
		}

		svg {
			width: 20rem;
			margin: 0 auto 1.5rem;
		}

		h2 {
			font-size: 1.5rem;
			font-weight: bold;
			color: $darker-blue;
			line-height: 1;
			padding-bottom: 0.5rem;
			@include bp(sm) { font-size: 1.875rem; }
		}

		p {
			font-size: 0.9rem;
			color: $dark-text;
			@include bp(sm) { min-height: 12.2rem; }
		}
	}
}

.commercial-footer {
	max-width: 100%;
	margin: 0 auto -0.5rem;
	position: relative;
	z-index: 2;

	img {
		width: 100%;
		height: 10rem;
		@include bp(sm) { height: auto; }
	}

	.color-overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba($black, 0.7);
		z-index: 5;
	}

	&__cta {
		position: absolute;
		max-width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 0 1rem;
		text-align: center;
		z-index: 6;

		h3, p {
			color: $white;
			font-weight: bold;
			line-height: 1;
			width: 50rem;
			max-width: 100%;
		}

		h3 {
			font-size: 1.2rem;
			padding-bottom: 0.3rem;
			@include bp(sm) { font-size: 3rem; }
		}

		p {
			font-size: 0.9rem;
			padding-bottom: 1.5rem;
			@include bp(sm) { font-size: 1.75rem; }
		}

		.cta-button-blue {
			padding: 0.5rem 1.2rem;
		}
	}
}