.coupons-content {
	max-width: 60rem;
	margin: 0 auto;
	padding: 1rem;

	h1 {
		font-size: 2rem;
		font-weight: bold;
		line-height: 1.2;
		color: $darker-blue;
		@include bp(sm) { font-size: 2.5rem; }
		@include bp(md) { font-size: 3rem; }
		@include bp(lg) { font-size: 3.625rem; }
	}

	> p > span { color: $red; font-weight: bold; }
}

.button-group {
	margin: 2rem 0;

	.coupon-button {
		display: inline-block;
		background-color: trasnparent;
		padding: 0.2rem 0.5rem;
		border: 1px solid $dark-grey;
		transition: 0.1s ease-in;
		color: $dark-blue;

		&:first-of-type {
			margin-right: 2.5rem;
		}

		&:hover {
			transition: 0.1s ease-out;
			background-color: $dark-blue;
			color: $white;
		}
	}
}

.coupons-grid {
	display: grid;
	max-width: 100%;
	margin: 0 auto 3rem;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 18rem));
	row-gap: 1.5rem;
	column-gap: 1.5rem;
	justify-content: center;
	@include bp(md) { justify-content: left; }

	.coupon-card {
		padding: 0.5rem;
		background-color: $blue;
		position: relative;
		min-height: 20rem;

		// text setup
		h2, h3, p, span, time { color: $white; }

		h2, h3 {
			font-weight: bold;
			text-align: center;
			margin-bottom: 0.5rem;
			margin-top: 0rem;
		}

		h3 { margin-bottom: 1.5rem; }

		p { text-align: center; }

		// inner grid item
		&__inner {
			position: relative;
			min-height: 20rem; // make dashed line "hug" parent div
			padding: 0.5rem;
			border: 3px dashed $white;

			a {
				color: $white;
				text-decoration: none;
				&:hover { text-decoration: underline; }
			}

			.bottom {
				display: flex;
				width: 95%; // keeps inside dotted line
				justify-content: space-between;
				align-items: center;
				position: absolute;
				bottom: 0;

				time, p {
					font-size: 0.875rem;
					text-align: left;
				}

				img {
					max-width: 5rem;
					max-height: 4.5rem;
				}
			} // .bottom
		} // .coupon-card__inner
	} // .coupon-card (main parent)
}