.main-block-content {
	max-width: 64.5rem;
	margin: 2rem auto;
	padding: 1rem;

	// base typography styles
	h1, h2, h3, h4, h5, h6 {
		font-family: $font-heading;
		font-weight: bold;
		color: $darker-blue;
		margin-bottom: 0.75rem;
		line-height: 1.3;
	}

	h1 {
		font-size: 2rem;
		@include bp(sm) { font-size: 2.5rem; }
		@include bp(md) { font-size: 3rem; }
		@include bp(lg) { font-size: 3.625rem; }
	}

	h2 {
		font-size: 1.5rem;
		@include bp(xs) { font-size: 1.875rem; }
		@include bp(sm) { font-size: 2.25rem; }
	}

	h3 {
		font-size: 1.25rem;
		@include bp(480px) { font-size: 1.875rem; }
	}

	h4 { font-size: 1.125rem; }

	h5 { font-size: 1rem; }

	h6 { font-size: 0.875rem; }

	p {
		display: block;
		max-width: 43.25rem;
		margin: 0 auto 1.25rem;
		font-size: 0.9375rem;
		font-weight: normal;
		color: $dark-text;
		line-height: 1.3rem;
	}
}