.page-template-fight-the-bite {

	#bugs {
		background: $blue;
		color: $white;
		display: flex;
		padding: .5em;
	}

	#bugs .bug {
		flex: 1 1 25%;
		padding: .5em;
		position: relative;
		text-align: center;

		p {
			font-size: 75%;
		}
	}

	.bug-icon {
		position: relative;
		margin: -62px auto 0;
		display: block;
	}

	#pricing {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		font-weight: 700;
		overflow: hidden;
	}
	#pricing thead td {
		background: $red;
		color: $white;
		font-size: 2.5em;
		padding: .5em .25em;
		text-align: center;
	}

	#pricing td {
		width: 50%;
		border: 2px solid $red;
		font-size: 4em;
		font-weight: 700;
		color: $red;
		padding: 1em;
		text-align: center;
	}

	#pricing .tiny {
		font-size: 25%;
		vertical-align: center;
	}
	.pricing-wrap {
		position: relative;
	}

	.fine-print {
		max-width: 50%;
	}

	.pricing-wrap .circle {
		width: 200px;
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $red;
		border-radius: 50%;
		color: $white;
		text-align: center;
		position: absolute;
		right: 0;
		bottom: 0;
		border: 10px solid $white;

		@include from($desktop){
			right: -100px;
		}
	}

	.pricing-wrap .circle p {
		width: 150px;
		margin: 0;
		font-size: .75rem;
	}

	.take-back {
		margin: 4em 0;
		font-size: 1.5em;
	}

	.take-back h3 {
		font-size: 2em;
		margin-bottom: 1em;
		margin-top: 4em;
	}

	.take-back .mosquito {
		float: right;
		max-width: 200px;
	}

	.take-back p {
		font-size: 1.25em;
		
		margin-top: .5em;
	}

	@media screen and (max-width:600px ){
		.take-back .mosquito {
			display: block;
			float: none;
			margin: 0 auto;
		}

		.pricing-wrap .circle {
			position: static;
			border-radius: 0;
			width: 100%;
			height: auto;
		}

		#pricing {
			max-width: 100%;
			overflow-x: scroll;
		}

		#pricing td {
			font-size: 26px !important;
		}

		#bugs {
			display: block;
		}

		.bug {
			margin-top: 100px;
		}

		.fine-print {
			margin-left: 0;
			max-width: 100%;
		}
	}

}