.footer-wrapper {
	max-width: 100%;
	padding: 1.5rem 1rem;
	background-color: $darker-blue;
	position: relative; // for iphone img
	z-index: 5; // for iphone img
}

.footer-container {
	max-width: 75rem; // 1200px
	width: 100%;
	margin: 0 auto;
}

.footer-row-top {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 2rem;
	text-align: center;

	@include bp(936px) {
		justify-content: space-between;
		align-items: flex-start;
		text-align: unset; // reset to default
	}

	.inner-left {
		display: flex;
		max-width: 50rem;
		width: 100%;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		@include bp(860px) { justify-content: space-between; }

		img {
			display: inline-block;
			margin-bottom: 2rem;
			@include bp(936px) { margin-bottom: 0; }
		}

		p {
			display: inline-block;
			max-width: 11.7rem;
			line-height: 1.2;
		}

		&--address, &--phone {
			display: inline-block;
			color: $white;
			font-size: 0.875rem;
			&:hover { color: $grey; }
		}

		&--phone {
			margin-bottom: 1.5rem;

			@include bp(sm) {
				margin-top: 1rem;
				margin-bottom: 0;
			}
		}
	}
	
	.inner-right {
		padding-top: 1.5rem;
		@include bp(936px) { padding-top: 0; }

		a {
			color: $white;
			svg path { fill: $footer-grey; }
			&:hover { svg path { fill: $grey; } }
		}

		.push-left { margin-left: 0.75rem; }
	}
}

.footer-row-middle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.25rem 0;
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;
	flex-wrap: wrap;

	a img {
		max-width: 5.4rem;
		margin-top: 1rem;
		@include bp(xs) { max-width: 4.4rem; } // keep icons in 2x4 row
		@include bp(800px) { max-width: 100%; } // reset to initial width for devices slightly larger than tablets
	}
}

.footer-row-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	@include bp(md) {
		padding-top: 1.8rem;
		justify-content: space-between;
		align-items: initial;
	}

	.bottom-left, .bottom-center, .bottom-right {
		width: 100%;
		margin-top: 1rem;
		@include bp(sm) { margin-right: 1rem; }

		@include bp(md) {
			margin-top: 0;
			margin-right: 0;
		}
	}

	.bottom-left {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 20rem;
		@include bp(sm) { width: 25rem; }

		.info-link {
			color: $white;
			text-decoration: underline;
			font-size: 0.7rem;
			font-weight: 500; // medium
			&:hover { color: $grey; }
		}
	}

	.bottom-center {
		@include bp(sm) { width: 16.5rem; }

		p {
			color: $white;
			font-size: 0.75rem;
			text-align: center;
			@include bp(sm) { text-align: right; }
			@include bp(md) { width: 21rem; }
		}
	}

	.bottom-right {
		width: 10rem;
		text-align: center;

		@include bp(lg) {
			text-align: right;
			width: 25rem;
		}

		p {
			font-size: 0.75rem;
			color: $white;
		}

		.agency-logo {
			width: 28px;
			vertical-align: bottom;
		}
	}
}