[type="text/template"] {
	display: none;
}

.wp-caption {
	max-width: 100%;
}

.table-row {
	display: table-row;

	> * {
		display: table-cell;
	}
}

.page-template-default, .page-template-fight-the-bite, .single-post {
	#content {
		max-width: 960px;
	}
}

.narrow-container {
	max-width: 960px;
	margin: 0 auto;
}

.half-screen-pattern-left {
	background: url('static/images/gplaypattern.png');
	@include from($tablet) {
		background: linear-gradient(to right, transparent 0%, #FFF 66% ), url('static/images/gplaypattern.png');
	}
}

.half-screen-pattern-right {
	background: url('static/images/gplaypattern.png');
	@include from($tablet) {
		background: linear-gradient(to left, transparent 0%, #FFF 66% ), url('static/images/gplaypattern.png');
	}
}

.skew-header-left, .skew-header-right {
	@include until($tablet){
		font-size: 2em !important;
	}
}

.skew-header-left span {
	background: $blue;
	color: $white !important;
	text-transform: uppercase;
	position: relative;
	padding: 1rem 2rem 1rem .1em;
	display: inline-block;
	z-index: 2;
	font-weight: bold;
	font-style: italic;

	&:before {
		content: '';
		position: absolute;
		left: 2px;
		top: 0;
		bottom: 0;
		width: 100vw;
		background: $blue;
		transform: rotate(180deg);
		transform-origin: left center;
	}

	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		right: -4rem;
		width: 8rem;
		top: 0;
		bottom: 0;
		background: $blue;
		transform: skew(-20deg);
		border-radius: 1rem;
	}
}

.skew-header-right span {
	background: $blue;
	font-weight: bold;
	font-style: italic;
	color: $white !important;
	text-transform: uppercase;
	position: relative;
	padding: 1rem 0 1rem 2rem;
	display: inline-block;
	z-index: 2;
	text-indent: -2rem;

	&:before {
		content: '';
		position: absolute;
		right: 2px;
		top: 0;
		bottom: 0;
		width: 100vw;
		background: $blue;
		transform: rotate(180deg);
		transform-origin: right center;
	}

	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		left: -4rem;
		width: 8rem;
		top: 0;
		bottom: 0;
		background: $blue;
		transform: skew(20deg);
		border-radius: 1rem;
	}
}

.top-bottom-padding {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.top-bottom-padding-small {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.mfp-content {
	[type="text/template"] {
		display: block;
	}
}

.mfp {
	background: $white;
	width: 90%;
	max-width: 75em;
	margin: 0 auto;
	position: relative;
	padding: 2em;
}

.mfp-close {
	margin: 0;
}

.content {
	.subtitle ~ .title {
		margin-top: 0;
	}
}

.header-evaluation {
	margin-top: -3rem;
	position: relative;
	margin-bottom: 3rem;
}

.request-evaluation {
	z-index: 2; 
	bottom: 0; 
	width: 100%;
	background: $blue;
	color: $white;

	.gform_wrapper {
		flex: 1;
	}
	
	.gform_body {
		@include until($desktop) {
			max-width: 100% !important;
			display: block !important;
		}
	}

	@include desktop {
		position: absolute;
		background: rgba($white,.5); 
	}

	.gform_wrapper form.gf_simple_horizontal div.gform_body ul.top_label li.gfield {
		@include until($desktop) {
			display: block;
			margin-top: 16px !important;
		}
	}

	.gform_wrapper form.gf_simple_horizontal div.gform_footer.top_label {
		@include until($desktop) {
			display: block;
			margin-top: 16px !important;
			max-width: 100%;
			text-align: center;
		}
	}
}

.u-bold { font-weight: bold; }
.body-lock { overflow: hidden; }
.show-menu { display: block; }