.home-header {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;

	img {
		display: block;
		position: relative;
		max-width: 100%;
		width: 100%;
		@include bp(sm) { max-height: 68rem; }
		@include bp(md) { height: 100%; }
	}

	&__inner {
		position: absolute;
		margin: 0 auto;
		top: 77%;
		left: 50%;
		transform: translate(-50%, -38%);
		background-color: $white;
		width: 100%;
		padding: 1rem 1.5rem 1.25rem;
		border-bottom: 7px solid $dark-blue;
		border-bottom-right-radius: 30%;
		border-bottom-left-radius: 30%;
		text-align: center;

		@include bp(xs) {
			bottom: 12%;
			left: 12%;
			top: unset;
			transform: unset;
			text-align:unset;
			border: unset;
			background-color: unset;
			padding: 0;
		}

		@include bp(lg) {
			bottom: 15%;
			left: 16%;
		}

		h1 {
			font-size: 1.325rem;
			font-weight: bold;
			line-height: 1.2;
			color: $darker-blue;
			padding-bottom: 0.5rem;
			max-width: 50rem;
			@include bp(sm) { font-size: 2rem; }
			@include bp(md) { font-size: 2.5rem; }
			@include bp(lg) { font-size: 3rem; padding-bottom: 2rem; }
			@include bp(xl) { font-size: 3.625rem; }
		}

		.cta-button-blue {
			padding: 0.2rem 0.8rem;
			font-size: 0.875rem;
			@include bp(sm) { padding: 0.5rem 1.2rem; }

			.hidden-desk {
				display: none;
				@include bp(sm) { display: inline-block; }
			}
		}
	}
}

.service-select {
	max-width: 90rem;
	width: 100%;
	margin: 3rem auto 0;
	padding: 1rem;
	//@include bp(600px) { margin-bottom: 8rem; }

	h1 {
		text-align: center;
		padding-bottom: 1.5rem;
		text-transform: capitalize;
		color: $darker-blue;
		font-weight: 700;
		font-size: 1.5rem;
		@include bp(xs) { font-size: 1.875rem; }
		@include bp(sm) { font-size: 2.8rem; }
	}
	
	&__inner {
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		flex-wrap: wrap;
		margin: 0 auto;
		max-width: 55rem;
		width: 100%;

		.divider {
			display: none;

			@include bp(600px) {
				display: block;
				height: 255px;
				border-left: 1px solid $grey;
			}
		}

		.service-type {
			display: block;
			max-width: 17.5rem; // prevent overflow if a huge image is inserted
			p { display: inherit; }
		}

		img {
			display: block;
			margin: 0 auto 2rem;
		}

		.bottom-image {
			margin-top: 3.5rem;
			@include bp(525px) { margin-top: 0; }
		}
	}
}

.team-cta {
	width: 100%;
	background-color: $powder-blue;
	margin: 0 auto 9rem;
	padding: 0 1rem 0;
	@include bp(md) { margin: 0 auto 5rem; }

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: flex-end;
		margin: 0 auto;
		max-width: 60rem;
		width: 100%;
		padding-top: 1rem;
		padding-bottom: 1rem;

		@include bp(860px) {
			padding-bottom: 0;
			padding-top: 0;
		}
	}

	.inner-left {
		max-width: 38.5rem;
		padding-left: 1rem;
		padding-right: 1rem;

		@include bp(860px) {
			padding-left: 0;
			padding-right: 0;
		}

		h1, p {
			line-height: 1.2;
		}

		h1 {
			max-width: 30rem;
			font-size: 1.5rem;
			font-weight: 700;
			text-transform: capitalize;
			color: $darker-blue;
			@include bp(xs) { font-size: 1.875rem; }
		}

		p {
			font-size: 0.95rem;
			color: $dark-text;
			padding-top: 1rem;
			padding-bottom: 1.5rem;
			@include bp(sm) { padding-bottom: 1.8rem; }
		}

		a {
			display: inline-block; // wrap buttons as screen breaks
		}

		.cta-button-white {
			display: inline-block;
			padding: 0.3rem 0.7rem;
			margin-bottom: 1.5rem;
			@include bp(sm) {
				margin-bottom: 0;
			}
		}

		.left-button {
			margin-right: 2.25rem;
			@include mq($until: 390px) { margin-bottom: 2rem; }
		}
	}

	.inner-right {
		img {
			display: none;

			@include bp(860px) {
				display: block;
				margin-top: -2rem;
			}
		}
	}
}




// Spinner




.pest-elimination-steps {
	max-width: 60rem;
	margin: 0 auto 3.5rem;
	@include bp(md) { margin: 0 auto 7rem; }

	.hold-right {
		max-width: 54rem;
		margin-left: auto;
		margin-right: 0;
	}

	@include bp(md) { margin: 0 auto 5rem; }

	&__inner {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 0 0 0 auto;
		background-color: $powder-blue;
		border-radius: 5px;

		@include mq($from: 848px) {
			flex-direction: row;
			justify-content: space-between;
			align-content: flex-end;
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
	}

	// pest seal
	.pe-inner-left {
		position: relative;
		z-index: 5;
		margin-top: -8rem;
		@include bp(848px) { margin-top: 0; }
		@include bp(md) { margin-left: -6.5rem; }

		.spinner-image-container {
			position: relative;
			width: 23rem;

			.spinner-ring {
				animation: infinite linear 90s spinner;
				display: block;
				padding: 2rem;
				@include bp(xs) { padding: 0; }
			}

			.spinner-number, .spinner-heart {
				display: inline-block;
				width: 8rem;
				position: absolute;
				left: 7.7rem;
				top: 51%;
				transform: translateY(-51%);
				padding: 1rem;
				@include bp(xs) { padding: 0; }
			}

			.spinner-heart {
				width: 12rem;
				left: 5.6rem;
				top: 54%;
			}
		}

		@keyframes spinner {
			from { transform: rotate(0deg); }
			to { transform: rotate(360deg); }
		}
	}

	// grey box background
	.pe-inner-right {
		max-width: 21rem;
		width: 100%;
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		flex: 0 1 auto;
		margin-left: 2.2rem;

		@include bp(xs) {
			max-width: 30rem;
			margin-left: unset;
		}
		@include bp(md) { padding: 2.8rem; }

		.pest-step {
			display: flex;
			justify-content: left;
			align-items: center;
			max-width: 25.5rem;
			width: 100%;
			margin: 0 0 1.25rem auto;
			background-color: $white;
			text-align: left;
			padding-top: 0.4rem;
			padding-bottom: 0.4rem;
			border-radius: 5px;
		}

		.step-number {
			width: 5rem;
			height: 5rem;
			font-size: 3rem;
			text-align: center;
			font-weight: bold;
			border-radius: 50%;
			background-color: $cyan;
			color: $white;
			margin-right: 2rem;
			flex-shrink: 0; // prevents circle from "squishing"
			margin-left: -2.6rem;

			span { vertical-align: middle; }
		}

		.step-info {
			line-height: 1.1;

			h2 {
				color: $darker-blue;
				font-weight: 700;
				font-size: 1.3rem;
				text-align: left;
				@include bp(xs) { font-size: 1.6rem; }
			}

			p {
				font-size: 0.875rem;
				font-weight: 500;
				color: $dark-text;
			}
		}

		.center-button {
			margin-top: 2.8rem;
			max-width: 18rem;
			margin: 0 auto;

			@include bp(md) {
				margin-left: auto;
				margin-right: 0;
			}

			a { display: inline-block; }
		}
	}

	.pe-inner-right-icons {
		max-width: 35rem;
		width: 100%;
		margin: 0 auto;
		padding-top: 1rem;
		padding-bottom: 2rem;

		@include mq($from: 848px) {
			padding-top: 0;
			padding-bottom: 0;
		}

		.center-button {
			margin-top: 2.8rem;
			max-width: 16rem;
			margin: 0 auto;
	
			a {
				display: inline-block;
				padding: 0.4rem 0.8rem 0.2rem;
			}
		}
	}

	// Heart Spinner Icons
	.spinner-icon-group, .spinner-icon-group-2 {
		display: flex;
		max-width: 33rem;
		width: 100%;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
		padding-bottom: 2rem;

		.spinner-icon {
			width: 8.5rem;
			text-align: center;
			margin: 0 auto;

			@include bp(423px) {
				max-width: 8.5rem;
			}

			svg { height: 4.25rem; width: 4rem; }

			p {
				font-size: 0.875rem;
				font-weight: 500;
				line-height: 1;
				color: $dark-text;
				text-align: center;
				max-width: 8.5rem;
				min-height: 28px;
			}
		}
	}

	.spinner-icon-group-2 {
		max-width: 24rem;
		justify-content: space-around;
	}
}

.testimonials {
	max-width: 60rem;
	margin: 0 auto 4.5rem;
	@include bp(800px) { margin: 0 auto 9rem; }
	@include bp(md) { margin: 0 auto 15rem; }

	h1 {
		font-size: 1.5rem;
		font-weight: bold;
		color: $darker-blue;
		text-align: center;
		@include bp(xs) { font-size: 1.875rem; }

		@include bp(md) {
			text-align: left;
			padding-bottom: 1.4rem;
		}
	}

	.testimonials-wrapper {
		display: flex;
		max-width: 100%;
		margin: 0 auto;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		
		@include bp(md) {
			justify-content: space-between;
			align-items: initial;
		}
	}

	.testimonials-content {
		max-width: 17.9rem;
		width: 100%;
		padding: 1rem;
		background-color: $powder-blue;
		border-radius: 5px;
		margin-top: 2rem;
		@include bp(md) { margin-top: 0; }

		.content-head {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			min-height: 4.8rem; // in case persons name goes to second line

			h2 {
				font-weight: bold;
				font-size: 1.15rem;
				line-height: 1.1;
				max-width: 10rem;
			}

			.reviewer-image {
				border-radius: 50%;
				width: 70px;
				height: 70px;
				margin-right: 0.9rem;
			}
		}

		.content-body {
			p {
				color: $dark-text;
				padding-bottom: 1.5rem;
				@include bp(xs) { min-height: 11rem; }
			}
		}
	}
}

// iPhone section just above the footer
.pre-footer {
	max-width: 100%;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;

	&__inner {
		display: flex;
		max-width: 55rem;
		width: 100%;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		@include bp(800px) { justify-content: space-between; }
	}

	.inner-content-left {
		display: none;

		@include bp(800px) {
			display: block;
			position: relative;
			z-index: 1;
			margin-bottom: -13rem;
			margin-top: -7rem;
		}

		img {
			max-width: 374px;
		}
	}

	.inner-content-right {
		max-width: 26rem;
		padding: 2.5rem 0.5rem;
		@include bp(800px) { padding: 0; }

		h2 {
			font-size: 1.8rem;
			font-weight: bold;
			color: $dark-blue;
			margin-bottom: 0.5rem;
			@include bp(sm) { font-size: 2.8rem; }
		}

		p {
			font-size: 0.875rem;
			color: $dark-text;
			margin-bottom: 1.6rem;
			font-weight: 500;
		}
	}
}