.home-services-wrapper {
	max-width: 100%;
	margin: 5.5rem auto 4rem;
	padding: 0 1rem;
	@include bp($small-tablet) { margin: 4rem auto 4rem; }
}

.service-intro-section {
	max-width: 62.5rem;
	margin: 2rem auto;

	h2, p { line-height: 1.2; }

	h2 {
		font-size: 1.375rem;
		font-weight: bold;
		color: $darker-blue;
		padding-bottom: 0.5rem;
		@include bp(sm) { font-size: 1.875rem; }
	}

	p {
		font-size: 0.9rem;
		color: $dark-text;
	}
}

.service-packages-table {
	max-width: 62.5rem;
	padding: 0.5rem;
	margin: 0 auto;
	border: 1px solid $black;
	line-height: 1.2;

	td {
		width: 6rem;
		text-align: center;
		vertical-align: middle;
		border-right: 1px solid $darker-blue;
		font-size: 1.375rem;
		font-weight: 500;
	}

	tbody tr {
		// Specific pests were removed from the grid BUT still part of the pest library,
		// Even and Odd rows no longer work properly
		&:nth-child(23n+1) { background-color: $row-color; }
		&:nth-child(23n+3) { background-color: $row-color; }
		&:nth-child(23n+6) { background-color: $row-color; }
		&:nth-child(23n+8) { background-color: $row-color; }
		&:nth-child(23n+10) { background-color: $row-color; }
		&:nth-child(23n+12) { background-color: $row-color; }
		&:nth-child(23n+14) { background-color: $row-color; }
		&:nth-child(23n+16) { background-color: $row-color; }
		&:nth-child(23n+18) { background-color: $row-color; }
		&:nth-child(23n+20) { background-color: $row-color; }
		&:nth-child(23n+22) { background-color: $row-color; }
	}
	tbody td { padding: 0.3rem; }

	.pest-col {
		text-align: left;
		padding: 0.3rem 0 0.3rem 1rem;
		font-size: 0.9rem;
		color: $dark-text;
	}

	// Best Value Header
	thead tr td > p {
		width: 100%;
		padding: 0.3rem;
		font-weight: bold;
		font-size: 1.25rem;
		color: $white;
		background-color: $red;
	}
	// .button-row td { padding: 2rem 0; }
}

// only shown on 767px and less
.service-packages-cards {
	display: flex;
	justify-content: center;
	max-width: 45rem;
	margin: 0 auto;
	align-items: center;
	@include bp(xs) { justify-content: space-around; }

	.package-cards {
		max-width: 25rem;
		padding: 1rem;
		margin: 0 auto 1.5rem;
		background-color: $powder-blue;
		overflow: hidden;
		border-radius: 5px;

		span {
			display: inline-block;
			position: relative;
			top: 0;
			left: -3.2rem;
			padding: 0.3rem 2rem;
			color: $white;
			background-color: $red;
			transform: rotate(-45deg);
			overflow: hidden;
		}

		h3, p { line-height: 1.2; }

		h3, .pest-name-box {
			padding-left: 1.5rem;
		}

		h3 {
			font-size: 1.25rem;
			font-weight: 500;
			color: $darker-blue;
		}

		p {
			display: inline-block;
			font-size: 0.9rem;
			color: $dark-text;
		}
	}
}

// Hide Table on tablet-
.from-tablet {
	display: none;
	@include mq($from: $tablet) { display: table; }
}

// Hide cards on tablet+
.until-tablet {
	display: none;
	@include mq($until: $tablet) { display: block; }
}

.custom-programs {
	max-width: 62.5rem;
	margin: 2rem auto 6rem;
	@include bp(sm) { margin: 2rem auto 6rem; }
	@include bp(md) { margin: 2rem auto 5rem; }

	.custom-programs-wrapper {
		display: flex;
		justify-content: center;
		max-width: 100%;
		flex-wrap: wrap;
		@include bp(944px) { justify-content: space-between; }
	}

	ul {
		list-style: none;
		max-width: 30rem;
		width: 100%;

		li {
			display: flex;
			align-items: center;
			width: 100%;
			border-top: 1px solid $darker-blue;
			padding-top: 1.3rem;
			padding-bottom: 1.3rem;
			font-weight: 500;
			font-size: 1.1rem;
			@include bp(sm) { font-size: 1.375rem; }

			.no-red {
				max-width: 200px;
				color: $darker-blue;
				text-align: left;
				&:hover { text-decoration: underline; }
				@include bp(414px) { max-width: 286px; }
			}

			a:not(.no-red) {
				display: inline-block;
				margin-right: 0;
				margin-left: auto;
				@include bp(414px) { margin-right: 1rem; }
			}
		}
		
		.last-item {
			border-top: 1px solid $darker-blue;
			border-bottom: 1px solid $darker-blue;
		}
	}

	.cp-right {
		max-width: 28rem;
		width: 100%;
		margin-top: 2rem;
		margin-bottom: 4rem;
		background-color: $powder-blue;
		text-align: center;
		border-radius: 5px;
		padding: 2rem 2rem;

		@include bp(944px) {
			margin-top: 0;
			margin-bottom: 0;
			padding: 0.5rem 2rem;
		}

		p {
			text-align: center;
			font-size: 1.1rem;
			font-weight: 500;
			@include bp(sm) { font-size: 1.375rem; }
		}

		img {
			display: block;
			max-width: 19rem;
			margin: 0 auto 0.8rem;
		}

		.cta-button-blue {
			padding: 0.5rem 1.2rem;
		}
	}
}

.home-services-area {
	margin: 4rem auto;

	.aboutus-container .service-area {
		margin-bottom: 4rem;
		@include bp(sm) { margin-bottom: 17rem; }
	}
}

.hidden-mobile {
	display: none;
	@include bp(sm) { display: block; }
}

// adjustments for Home Services (Image is inside the container)
.home-service-footer {
	.pre-footer__inner {
		padding: 0.5rem;
		@include bp(xs) { padding: 2.5rem 0.5rem; }
		@include bp(sm) { padding: 4rem 0.5rem 2rem;}
	}

	.inner-content-left { margin: 0 !important; }

	.inner-content-right {
		padding-top: 1rem;
		@include bp(800px) { padding-top: 2.5rem; }
	}
}