.home-offices-header {
	background-repeat: no-repeat;
	max-width: 100%;
	margin: 0 auto 5rem;
	padding: 3rem 0.5rem;
	background-size: 100% 100%;
	@include bp(sm) { padding: 4rem 0.5rem; }
	@include bp(md) { padding: 6rem 0.5rem; }

	.header-container {
		max-width: 62.5rem;
		margin: 0 auto;
		text-align: left;

		h1 {
			color: $white;
			font-weight: bold;
			font-size: 1.75rem;
			line-height: 1.2;
			padding-bottom: 2.5rem;
			@include bp(sm) { font-size: 2.3rem; }

			@include bp(md) {
				font-size: 3.75rem;
				padding-bottom: 4rem;
			}
		}
	}
}

.ho-areas-served-wrapper {

	.intro-header {
		font-size: 1.375rem;
		color: $darker-blue;
		font-weight: bold;
		line-height: 1.2;
		padding-bottom: 1rem;
		@include bp(sm) { font-size: 1.875rem; }
	}

	.side-menu .areas-served-header {
		padding-top: 3rem;
		padding-bottom: 0.5rem;
		font-size: 1.375rem;
		font-weight: 500;
		color: $dark-text;
	}

	.child-menu {
		li {
			margin-bottom: 0.5rem;
			
			a:hover {
				color: $red;
				text-decoration: underline;
			}
		}
	}

	.small-header {
		font-weight: bold;
		font-size: 1.1rem;
		color: $blue;
		padding-bottom: 1.2rem;
		line-height: 1.2;
	}

	.ho-areas-served {
		margin-bottom: 1.2rem;

		h2 {
			font-size: 1.375rem;
			color: $dark-text;
		}
	}

	.add-margin {
		margin-top: 9rem;

		@include bp(848px) {
			margin-top: 2rem;
		}
	}
}

