.city-wrapper {
	max-width: 75rem;
	margin: 5rem auto 5rem;
	line-height: 1.2;

	.city-info {
		display: flex;
		justify-content: center;
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 1.7rem;
		padding-top: 2.2rem;
		border-bottom: 1px solid $black;
		flex-wrap: wrap;
		@include bp(sm) { justify-content: center; }
		@include bp(md) { justify-content: space-between; }

		&--image {
			max-width: 37rem;
			@include bp(sm) { margin-right: 2rem; }
		}

		&--contact {
			width: 100%;
			max-width: 32rem;
			padding: 1rem;

			h2 {
				font-size: 2rem;
				color: $darker-blue;
				font-weight: bold;
				line-height: 0.75; // to align text to top of container
				padding-top: 1.5rem;
				padding-bottom: 1rem;

				@include bp(sm) {
					font-size: 2.8rem;
					padding-top: 0;
				}

				> a {
					color: $darker-blue;

					&:hover {
						color: $blue;
						text-decoration: underline;
					}
				}
			}

			p {
				color: $dark-text;
				font-size: 0.95rem;
			}

			.cta-button-white {
				display: inline-block;
				margin-top: 0.8rem;
				margin-bottom: 2rem;
			}

			h3 {
				font-size: 1.375rem;
				color: $dark-text;
				font-weight: 500;
			}
		}

		.child-link-list {
			margin-bottom: 1.4rem;

			a {
				color: $red;
				font-size: 0.95rem;

				&:hover {
					text-decoration: underline;
				}
			}

			.interpunct {
				font-size: 1.2rem;
				font-weight: 900;
				vertical-align: sub;
			}
		}
	}
}