// var set for breakpoint
$menu_bp: 880px;

// fixed navbar
.fixed-bar {
	position: fixed;
	width: 100%;
	margin: 0 auto;
	padding: 0.5rem 1rem;
	background-color: $powder-blue;
	z-index: 25;

	@include mq($from: $menu_bp) {
		.desktop {
			display: flex;
			max-width: 75rem;
			margin: 0 auto;
			justify-content: space-between;
			align-items: center;
		}

		.mobile { display: none; }
	}

	@include mq($until: $menu_bp) {
		.desktop { display: none; }

		.mobile {
			display: flex;
			margin: 0 auto;
			justify-content: space-between;
			align-items: flex-start;
			padding-top: 2px;
		}
	}

	// desktop phone icon and text
	.phone {
		position: relative;
		left: 35%;
		transform: translateX(-35%);
		display: flex;
		justify-content: space-between;
		max-width: 20rem;
		width: 100%;
		text-align: center;
		align-items: center;
		flex-wrap: nowrap;

		@include bp(900px) {
			left: 50%;
			transform: translateX(-50%);
		}

		span {
			color: $darker-blue;
			font-size: 1rem;
			@include bp(xs) { font-size: 1.125rem; }
		}

		.phone-text {
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	// desktop refer/login links
	.side-links {
		position: relative;
		right: 0;

		a {
			display: inline-block;
			color: $blue;
			font-size: 0.875rem;
			vertical-align: middle;
			&:nth-child(1) { margin-right: 2.125rem; }
			&:after { content: '  \203A'; }
		}
	}

	// font awesome settings
	.fa {
		font-family: FontAwesome;
		color: $darker-blue;
		font-size: 1.6rem; // matches login icon size
	}

	.mobile {
		// center image and icon
		img, .fa {
			display: block;
			margin: 0 auto;
		}

		// all text below menu images / icons
		.small-text {
			display: block;
			font-size: 0.75rem;
			font-weight: normal;
			color: $darker-blue;
			margin-top: 5px;
		}

		// show apm logo on tablet + devices (more room)
		.logo {
			display: none;

			@include bp(400px) {
				display: block;
				max-width: 5rem;
				margin-top: 0.25rem;
			}
		}
	}
}

// menu toggle
#menu-toggle {
	display: block;
	width: 1.85rem; // prevent flex items from shifting on close transition
	&:hover { cursor: pointer; }

	.x-bar {
		display: block;
		height: 3px;
		margin-bottom: 6px;
		background-color: $dark-blue;
		transition: 0.2s ease-out;
		border-radius: 6px;
		margin-right: auto; // align bars left
		margin-left: 0; // align bars left

		// adjust the widths to make them staggered
		&:nth-child(3n+1) { width: 1.8rem; }
		&:nth-child(3n+2) { width: 1.4rem; }
		&:nth-child(3n+3) { width: 1rem; margin-bottom: 8px; }

		// make them all the same so the X looks correct
		&.x-bar-active { width: 1.6rem; }
	}

	.x-bar-active {
		position: relative;
		transition: 0.2s ease-in;
		margin-bottom: 0;
		height: 3px;

		&:nth-child(3n+1) {
			margin-top: 9px;
			transform: rotate(45deg);
		}

		&:nth-child(3n+2) {
			opacity: 0;
		}

		&:nth-child(3n+3) {
			bottom: 5px;
			transform: rotate(-45deg);
			margin-bottom: 11px;
		}
	}
}

// large pest evaluation call to action button
.pest-eval-cta { display: none; }
@include bp(xs) {
	.pest-eval-cta {
		display: inline-block;
		box-sizing: border-box;
		background-color: $red;
		transition: 0.4s ease all;
		text-align: left;
		line-height: 1;
		flex-shrink: 0;

		// "grow" animation
		@include bp(sm) {
			&:hover {
				transform: scale(1.03);
				transition: 0.4s ease all;
			}
		}

		// clip into ribbon
		@include bp(1120px) {
			clip-path: polygon(0% 0%, 75% 0%, 81% 50%, 75% 100%, 0% 100%);
			padding: 0.75rem 5rem 0.75rem 1.2rem;
			margin-right: -4rem;
		}

		// 1120px+
		&--top, &--bottom {
			display: none; // hide on mobile
			text-transform: uppercase;
			color: $white;
			@include bp(1120px) { display: inline-block; }
		}

		br {
			display: none;
			@include bp(1120px) { display: block; }
		}

		// bottom text - 1120px+
		&--bottom {
			font-weight: 700;
			font-size: 1rem;
			@include bp($desktop) { font-size: 1.1rem; }
		}

		@include mq($until: 1046px) {
			display: none;
		}

		@include mq($from: 1046px) {
			&--mobile {
				display: inline-block;
				color: $white;
				padding: 0.5rem;
				font-size: 0.9375rem;
				font-weight: 500;
				@include bp(1120px) { display: none; }
			}
		}
	}
}

// main navigation - mobile/desktop
.nav-wrapper {
	position: relative;
	max-width: 100%;
	margin: 2.65rem auto 0;
	padding-top: 1.45rem;
	background-color: $white;
	box-shadow: 0 3px 7px rgba($black, 0.4);
	z-index: 20;

	@include bp($menu_bp) {
		padding-bottom: 1.5rem;
	}

	.nav-container {
		position: relative;
		margin: 0 auto;	// setup base menu ul styles

		nav ul {
			padding: 0;
			list-style: none;
		}

		.logo-wrap {
			display: none;
			@include bp($menu_bp) { display: block; }
		}

		.logo {
			display: block;
			max-width: 9.75rem;
			min-width: 7.5rem;
		}
	}
	// end global menu styles //

	@include mq($from: $menu_bp) {
		#menu-toggle { display: none; }

		.divider {
			display: block;
			height: 3rem;
			width: 1px;
			margin-left: 0.85rem;
			margin-right: 0.85rem;
			background-color: $divider-color;
		}

		.nav-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 77rem;
			margin: 0 auto;
			width: 100%;
			padding: 0 1rem;
		}

		// <nav>
		.nav-menu {
			.menu {
				display: flex;
				max-width: 100%;
				width: 44.5rem;
				margin: 0;
				justify-content: space-between;

				li {
					display: inline-block;
					max-width: 100%;
					padding-left: 2px;
					padding-right: 2px;
					border-bottom: 1px solid transparent;
				}

				li a {
					color: $blue;
					font-family: $font-body;
					font-weight: 500;
					font-size: 0.875rem;
					text-transform: uppercase; // uppercase fallback if font is not loaded / supported

					// explicit for   javascript: void(0)
					&:hover { cursor: pointer; }
				}

				// allow menu to stay open when moving to lower menu
				#menu-item-287, #menu-item-2376,
				#menu-item-2639, #menu-item-2639,
				#menu-item-53 {
					> a { padding-bottom: 1.85rem; }
				}

				// target just the first dropdown menu
				// ^ we want children to keep position to prevent interfering with second sub-menu
				> .menu-item-has-children { position: relative; }

				// menus with children class target (they may add more)
				.menu-item-has-children {

					// first target link
					> a { position: relative; }

					&:hover {

						// show sub-menu
						.sub-menu {
							visibility: visible;
							opacity: 1;
							overflow: visible; // needed for top triangle

							// triangle on top of menu
							&:before {
								content: '';
								width: 0;
								height: 0;
								position: absolute;
								top: -1.25rem;
								left: 15%;
								border-left: 25px solid transparent;
								border-right: 25px solid transparent;
								border-bottom: 23px solid $nav-fill;
								z-index: 0;
								filter: drop-shadow(0 -7px 4px rgba($black, 0.2));
							}

							li {
								a {
									border-bottom: 1px solid transparent;
									padding-top: 0.5rem; // more click space
								}

								&:hover {
									> a { border-color: $cyan; }
								}
							}

							> li > .sub-menu {
								position: absolute;
								width: 16rem;
								height: 100%;
								top: 0;
								left: 12.1rem;
								overflow-x: hidden;
								transition: opacity 0.2s;
								transition-delay: 0.3s;
								visibility: hidden;
								opacity: 0;
								background-color: $white;
								border-radius: unset;
								border-top-right-radius: 3px;
								border-bottom-right-radius: 3px;

								// adjust shadow to match and remove from left side
								box-shadow: 0 0 7px 0 rgba($black, 0.4);
    							clip-path: inset(-15px -6px -9px 0px);
							}

							> li:hover > .sub-menu {
								visibility: visible;
								transition: opacity 0.2s 0s;
								opacity: 1;
								padding: 1.75rem;
							}
						}
					}
				} // .menu-item-has-children

				//ul.sub-menu
				.sub-menu {
					position: absolute;
					top: 3.25rem;
					left: -1.1rem;
					visibility: hidden;
					opacity: 0;
					width: 12.5rem;
					overflow: hidden;
					background-color: $nav-fill;
					padding: 1.75rem;
					padding-right: unset;
					transition: 0.1s ease-out;
					z-index: 5;
					box-shadow: 0 0 9px 0 rgba($black, 0.5);
					border-radius: 3px;

					li {
						padding-top: 1.25rem;
						padding-bottom: 0;
						width: 100%;

						&.current-menu-item {
							a { border-bottom: 1px solid $cyan; }
						}

						&:first-of-type { padding-top: 0; }
						&:last-of-type { margin-bottom: 0; }
						&:hover > a { border-bottom: 1px solid $cyan; font-weight: 500; }
					}

					li a {
						font-family: $font-body;
						font-weight: normal;
						font-size: 0.9375rem;
						color: $dark-text;
						text-transform: none;
						letter-spacing: 0;
					}
				}
			} // .menu
		} // .nav-menu
	} // END $from: $tablet

	.border-mod {
		border-radius: unset !important;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	@include mq($until: $menu_bp) {
		.nav-container {
			max-width: 100%;
			padding: 0 1rem;
			background-color: $white;
		}

		#primary-menu {
			position: fixed;
			top: 4.05rem;
			left: 0;
			right: 0;
			display: none;
			width: 100%;
			height: 100vh;
			margin: 0 auto;
			padding-top: 1.5rem;
			border-top: 2px solid $darker-blue;
			background-color: $white;
			z-index: 50;

			li {
				margin-bottom: 2rem;
				margin-left: 2.25rem;
			}

			a {
				font-family: $font-body;
				font-weight: 500; // semi-bold
				color: $dark-text;
				font-size: 1rem;
				text-transform: uppercase;
			}

			.menu-item-has-children {
				a {
					position: relative;
					color: $dark-text;
				}

				// spacing for menu-items first level sub-menu
				> li {
					margin-top: 0.75rem;
				}

				// hidden menu state
				.sub-menu {
					position: absolute;
					opacity: 0;
					visibility: hidden;
					top: 0;
					left: 100%;
					width: 100%;
					transition: 0.2s ease-out;
					z-index: -1;
					margin-left: 0;
				}

				// open menu state
				.sub-menu-open {
					position: absolute;
					left: 0;
					display: block;
					opacity: 1;
					visibility: visible;
					transition: 0.2s ease-in;
					overflow-y: scroll; // small screen support
					overflow-x: hidden; // no horizontal scroll on mobile
					z-index: 25;

					// allows background of menu to match gradient behind it
					background: $white;
					height: 100%;
					width: 100%;

					li {
						margin-left: 3.25rem;
						margin-bottom: 1.675rem;

						// back button
						&:first-of-type {
							margin-right: 1rem;
							margin-left: 1rem;
							font-style: normal;
							font-size: 1rem;
						}

						a {
							text-transform: unset;
							font-family: $font-body; // questa-slab for these
							font-size: 0.9375rem;
							font-weight: normal;
						}
					}
				}

				// back button at top of menu (prepended in site.js file)
				#mobile-back-button {
					background: unset;
					border: unset;
					width: 100%;
					padding: 0.75rem 0;
					border-bottom: 1px solid $darker-blue;
					text-align: left;
					color: $dark-text;
					font-family: $font-body, FontAwesome; // FontAwesome fallback for arrow
					font-size: 1rem;
					font-weight: 500;
					text-transform: uppercase;

					&:before {
						content: url('static/images/icons/arrow-left.svg');
						margin-right: 1rem;
						vertical-align: middle;
						color: $darker-blue;
					}
				}

			} // end .menu-item-has-children
		} // end #primary-menu
	}
}