.request-consultation {
	.button {
		display: inline-block;
		margin: 1rem 2rem;
	}
}

.video-gallery-header {
	margin-top: 3rem;
}

.inline-video-gallery {
	overflow-x: hidden;
	
	.slick-list {
		overflow: visible;
		margin: 4rem 0;
	}

	.slick-slide {
		position: relative;
		z-index: 1;
		transition: transform 200ms linear;
		transform-origin: left center;

		&:hover {
			cursor: pointer;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}

	.slick-current {
		z-index: 2;
		transform: scale(1.2);

		&:after {
			display: none;
			pointer-events: none;
		}
	}

	.slick-arrow {
		font-size: 4rem;
		cursor: pointer;
		padding: 1rem;
		position: absolute;
		z-index: 1;
		color: $white;
		opacity: .85;
		top: 50%;
		transform: translateY(-50%);
		background: rgba($black, .75);

		&.right {
			right: 0;
		}
	}
}

.featured-blog-posts {
	background: url('static/images/gplaypattern.png');
	box-shadow: inset 0 4px 1rem -3px $black;

	.post {
		box-shadow: 0 4px 1rem -3px $black;
		background: $white;

		&:not(.featured-post){
			.featured-image {
				min-height: 300px;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
			}
		}
	}
	
	.content {
		padding: 2rem;
	}

	.featured-post {
		margin-bottom: 2rem;

		.columns {
			margin: 0;
		}

		.column.content {
			padding: 2rem 3.5rem;

			.subtitle {
				margin-bottom: 0;
			}

			.learn-more {
				padding: .5rem 0;
				&:hover {
					background: $light-grey;

				}
			}
		}
		.column.image {
			padding: 0;
			display: flex;
			align-items: stretch;
		}
		.featured-image {
			min-height: 300px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			flex: 1 1 100%;
		}
	}
}

.page-template-pest-library {
	.pests-grid .label {
		.pest-image {
			width: 100%;
			height: auto;
		}
	}
}

#extermination-programs {
	table {
		overflow: auto;
		display: block;
		border: 1px solid $dark-grey;
		border-collapse: collapse;
	}

	table, td {
		border: 1px solid $dark-grey;
		vertical-align: middle;
	}
	thead tr {
		background: $blue !important;
		// background-attachment: fixed !important;
		background-size: cover;
		background-repeat: no-repeat;
		
		td {
			color: $white;
			font-weight: bold;
		}
	}

	td {
		padding: 2rem 1rem; 
		text-align: center;
		width: 20%;
	}

	tbody {
		td {
			color: $red;
			font-weight: bold;
		}

		tr td:nth-child(5){
			border-color: $red;
			border-width: 1px;
			border-left: 2px solid $red;
		}
	}

	tr:nth-child(even){
		background: $light-grey;

		td:nth-child(5){
			// background-color: $white;
			background: rgba($red, .1), $white;
		}
	}
	tr:nth-child(odd){
		background: $white;
	}

	.fa {
		color: $red;
		font-size: 2em;
	}
}