.pest-highlight {
	max-width: 100%;
	margin: 5rem auto;
	padding: 0 0.5rem;

	.ph-container {
		max-width: 62.5rem;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		@include bp(796px) { justify-content: space-between; }
	}

	.ph-content-left {
		max-width: 26.5rem;
		line-height: 1.2;
		margin-bottom: 3rem;
		@include bp(796px) { margin-bottom: 0; }

		h2 {
			font-size: 1.375rem;
			font-weight: bold;
			color: $darker-blue;
			padding-bottom: 0.5rem;
			@include bp(sm) { font-size: 1.875rem; }
		}

		p {
			font-size: 0.9rem;
			color: $dark-text;
			padding-bottom: 0.8rem;
			@include bp(796px) { padding-bottom: 2rem; }
		}

		.cta-button-white {
			margin-right: 1.5rem;
		}

		.trans-button {
			display: inline-block;
			margin-top: 1rem;
			@include bp(xs) { margin-top: 0; }
		}
	}
}

.apm-pest-blog {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 0.5rem;

	.apm-pest-container {
		max-width: 62.5rem;
		margin: 0 auto 1rem;

		h2 {
			font-size: 1.875rem;
			color: $darker-blue;
			font-weight: bold;
			padding-bottom: 0.7rem;
			text-align: center;
			@include bp(sm) { text-align: left; }
		}
	}

	.apm-inner-container {
		display: flex;
		max-width: 62.5rem;
		margin: 0 auto;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		@include bp(xs) { justify-content: space-around; }
		@include bp(md) { justify-content: space-between; }
	}

	.apm-pest-card {
		max-width: 20rem;
		margin-bottom: 1rem;
		@include bp(md) { margin-bottom: 0; }

		img { width: 20rem; }

		.bottom-text-container {
			max-width: 20rem;
			margin-top: -0.5rem;
			padding: 1.5rem;
			background-color: $powder-blue;

			h3, p { line-height: 1.2; }

			h3 {
				font-size: 1.125rem;
				font-weight: bold;
				color: $darker-blue;
				padding-bottom: 0.8rem;
			}

			p {
				min-height: 11rem;
				padding-bottom: 1rem;
			}
		}
	} // end [pest-cards]

	.blog-cta {
		display: flex;
		max-width: 62.5rem;
		margin: 0 auto;
		padding: 1.8rem 2.25rem;
		background-color: $powder-blue;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		@include bp(800px) { justify-content: space-between; }

		h3, .cta-button-white {
			margin: 0 auto;
			text-align: center;

			@include bp(800px) {
				margin: unset;
				text-align: unset;
			}
		}

		h3 {
			font-size: 1.375rem;
			font-weight: bold;
			color: $darker-blue;
			line-height: 1.2;
			padding-bottom: 0.5rem;

			@include bp(879px) {
				font-size: 1.875rem;
				padding-bottom: 0;
			}
		}
	}
}

.apm-video-library {
	max-width: 100%;
	margin: 5rem auto;
	padding: 0 0.5rem;

	h2 {
		font-size: 1.375rem;
		font-weight: bold;
		color: $darker-blue;
		@include bp(sm) { font-size: 1.875rem; }
	}

	.apm-video-container {
		max-width: 62.5rem;
		margin: 0 auto;
		position: relative;

		.inline-video-gallery {
			overflow-x: hidden;
			
			.slick-list {
				overflow: visible;
				margin: 2rem 0;
			}
		
			.slick-slide {
				position: relative;
				z-index: 1;
				transition: transform 200ms linear;
				transform-origin: left center;
		
				&:hover {
					cursor: pointer;
				}
		
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
				}
			}
		
			.slick-current {
				z-index: 2;
				transform: scale(1.2);
		
				&:after {
					display: none;
					pointer-events: none;
				}
			}
		
			.slick-arrow {
				font-size: 4rem;
				cursor: pointer;
				padding: 1rem;
				position: absolute;
				z-index: 1;
				color: $white;
				opacity: .85;
				top: 50%;
				transform: translateY(-50%);
				background: rgba($black, .75);
		
				&.right {
					right: 0;
				}
			}
		}
	}
}

// full width interstitial
.consultation-cta {
	max-width: 100%;
	margin: 2rem auto;
	background-color: $powder-blue;
	@include bp(767px) { margin: 0 auto 5rem; }


	// Full Width
	&__fw {
		display: flex;
		max-width: 62.5rem;
		margin: 0 auto;
		padding: 3.5rem 2.25rem;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		@include bp(800px) { justify-content: space-between; }
		
		h3, .cta-button-white {
			margin: 0 auto;
			text-align: center;

			@include bp(800px) {
				margin: unset;
				text-align: unset;
			}
		}

		h3 {
			font-size: 1.375rem;
			font-weight: bold;
			color: $darker-blue;
			line-height: 1.2;
			padding-bottom: 0.5rem;

			@include bp(879px) {
				font-size: 1.875rem;
				padding-bottom: 0;
			}
		}
	}
}

.pc-kids {
	margin: 2rem auto 5rem;

	.ph-container {
		justify-content: center !important;
		@include bp(946px) { justify-content: space-between; }

		.ph-content-left {
			margin-bottom: 3rem;
			@include bp(946px) { margin-bottom: 0; }
		}
	}
}