// step tracker - Used on Pest Eval form and on Default Templates (for the form Thank You page)
// The html is in the default template above the <article> section
.step-container {
	position: relative;
	max-width: 30rem;
	margin: 1.875rem auto;
	
	@include bp(sm) {
		left: 50%;
		right: 50%;
		margin: 1.875rem -50vw;
		max-width: 100vw;
		border-bottom: 1px solid $footer-grey;
		padding-bottom: 0.1rem;
	}

	p { margin: 0; }

	&__inner {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		max-width: 25rem;

		@include bp(sm) {
			max-width: 40rem;
			justify-content: space-between;
		}
		@include bp(md) { max-width: 50rem; }

		div {
			border-left: 1px solid $darker-blue;

			&:last-of-type {
				border-right: 1px solid $darker-blue;
				@include bp(sm) { border: unset; }
			}
			@include bp(sm) { border: unset; }
		}

		p {
			width: 8rem;
			text-align: center;
			font-size: 0.9375rem;
			margin: 0 auto;
			color: $footer-grey;

			@include bp(sm) {
				width: 9.5rem;
				padding-bottom: 0.5rem;
				margin-bottom: -1.15rem;
			}
			@include bp(md) { width: 12.5rem; }

			&.active {
				color: $darker-blue;
				@include bp(sm) { border-bottom: 4px solid $cyan; }
			}
		}

		.mobile-step {
			display: block;
			width: 2.5rem;
			@include bp(sm) { display: none; }
		}

		p:not(.mobile-step):not(.active) {
			display: none;

			@include bp(sm) {
				display: block;
				margin-bottom: 0;
			}
		}
	}
}

// Main Pest Eval
.page-template-pest-evaluation {

	// main content wrapper for site
	#content {
		background: $white;
		padding-bottom: 1rem;
	}

	// move arrow on "Next" button inline
	.arrow-icon-dark {
		vertical-align: sub;
	}

	.service-select {
		margin: 1rem auto;
	}

	.home-step {
		max-width: 62.5rem;
		margin: 0 auto;

		h1 {
			max-width: 55rem;
			margin: 2.5rem auto;
			text-align: center;
			color: $darker-blue;
			font-family: $font-body;
			font-weight: bold;
			font-size: 1.325rem;
			@include bp(sm) { font-size: 2rem; }
			@include bp(md) { font-size: 2.5rem; }
			@include bp(lg) { font-size: 3rem; }
			@include bp(xl) { font-size: 3.625rem; }
		}

		.house-size {
			max-width: 50rem;
			margin: 0 auto 2.5rem;
			border: 1px solid $darker-blue;
			border-radius: 5px;
			padding: 1.875rem;
			text-align: center;
			&:last-of-type { margin-bottom: 0; }

			h5 {
				color: $darker-blue;
				font-weight: bold;
			}

			em {
				font-size: 0.7rem;
				color: $dark-text;
				font-weight: normal;
			}

			.story-head {
				margin-bottom: -0.5rem;
			}

			.size-count {
				display: flex;
				margin: 2rem auto 0;
				max-width: 19.25rem;
				width: 100%;
				flex-direction: row;
				justify-content: space-between;

				.radio-container {
					position: relative;

					input[type="radio"] {
						all: unset;
						box-sizing: border-box;
						display: inline-block;
						position: relative;
						width: 46px;
						height: 46px;
						border: 1px solid $radio-color;
						border-radius: 50%;
						font-weight: bold;
						color: $darker-blue;
						z-index: 3;
						mix-blend-mode: multiply;
						transition: 0.1s ease-out;

						&:hover {
							transition: 0.1s ease-out;
							border-color: $cyan;
							cursor: pointer;
						}

						&:checked {
							border: 3px solid $cyan;
						}
					}

					.num-overlay {
						position: absolute;
						top: 10px;
						left: 18px;
						opacity: 1;
						font-size: 1.125rem;
						font-weight: bold;
						z-index: 2;
					}

					// Not centered because of "+" symbol
					.num-plus {
						left: 16px;
					}
				}
			} // .size-count

			// for 3 options instead of 5
			.adjust-width {
				max-width: 11.25rem;
			}
		} // .house-size

		.industry-type-container {
			display: grid;
			max-width: 100%;
			width: 62.5rem;
			margin: 3rem auto;
			grid-template-columns: repeat(auto-fill, 15rem);
			column-gap: 4rem;
			row-gap: 3rem;
			justify-content: center;

			.ind-radio-container {
				width: 12rem;
				text-align: center;
				margin: 0 auto;
				position: relative;

				input[type="radio"] {
					all: unset;
					display: inline-block;
					width: 12rem;
					height: 12rem;
					position: relative;
					border: 2px solid #D2D2D2;
					border-radius: 5px;
					z-index: 3;

					&:hover {
						border-color: #A7A7A7;
						cursor: pointer;
					}

					&:checked {
						border-color: $cyan;
					}
				}

				span {
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 2;
					svg { width: 10rem; margin-top: -1.5rem; }
				}

				p { font-weight: bold; }
			}
		} // .industry-type-container
	} // .home-step

	.form {
		max-width: 50rem;
		margin: 0 auto;

		@include until($tablet) {
			.control {
				display: block;
			}
		}

		.control {
			margin-bottom: 0.4rem !important;
		}

		.input.is-danger, .input.is-success {
			border-width: 2px;
		}

		.input.is-danger {
			border-color: $red;
		}

		.input.is-success {
			border-color: green;
		}

		// hide visually - but allow screen readers to access the content
		label.clipped {
			clip: rect(1px, 1px, 1px, 1px);
			clip-path: inset(50%);
			height: 1px;
			width: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
		}

		label:not(.clipped) {
			font-size: 0.9375rem; // 15px
			font-weight: normal;
			color: $dark-text;
		}

		input, .input {
			border: 2px solid $grey;
			box-shadow: unset;
			border-radius: 4px;
			height: 2.8125rem;
		}

		@include bp(sm) {
			.input-address {
				max-width: 100%;
				width: 24.65rem;
			}
		}

		.is-grouped {
			margin-bottom: 0;
		}

		@include mq($until: 768px) {
			.control.is-expanded {
				margin-right: 0;
				margin: 0 auto;
				max-width: 22rem;
			}
		}

		#form-title {
			color: $darker-blue;
			font-weight: bold;
			font-size: 1.5rem;
			text-align: center;
			margin-top: 3rem;
			margin-bottom: 0.25rem;

			@include bp(xs) { font-size: 1.5rem; }

			@include bp(sm) {
				font-size: 1.875rem;
				text-align: left;
				margin-top: 2.5rem;
			}
		}

		.ph-color {
			color: $grey !important;
			font-style: italic;

			option.dark-text {
				color: $dark-text;
				font-style:normal;
			}
		}

		.select, select {
			&:after {
				border: unset !important;
				content: '\f0d7';
				transform: unset;
				font-family: FontAwesome;
				position: absolute;
				top: 42%;
				right: 10px;
				width: 15px;
				height: 15px;
				color: $grey;
			}
		}

		@include bp(sm) {
			.width-adjust {
				max-width: 18.75rem;
			}
		}

		.form-info-p {
			max-width: 24rem;
			font-size: 0.9375rem;
			color: $dark-text;
			line-height: 1.2;
			text-align: center;
			margin: 0 auto;

			@include bp(sm) {
				text-align: left;
				margin: unset;
				margin-bottom: 0;
				max-width: 100%;
			}
		}

		em.form-info-p {
			display: block;
			font-size: 0.875rem;
			margin-bottom: 0.5rem;
		}

		.datepicker {
			background: $white url('./static/images/icons/calendar-icon.svg') no-repeat !important;
			background-size: 24px 24px !important;
			background-position: right 10px bottom 50% !important;
			&:hover { cursor: pointer; }
		}
	} // .form end

	.submit-button {
		.fa {
			font-size: 1.5em;
			margin-right: 1rem;
		}
	}
}

::placeholder {
	font-style: italic;
}

// Below is Step 3 (Program Info / Form)
.eval-title {
	margin: 0 auto;
	text-align: center;
}

#eval-header {
	color: $darker-blue;
	font-size: 2.5rem;
	margin-bottom: 1.5rem;

	@include bp(xs) {
		font-size: 3rem;
	}

	@include bp(sm) {
		font-size: 3.5rem;
	}
}

#second-hd {
	color: $darker-blue;
	max-width: 50rem ; // line-up with form centering
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	font-size: 2rem;
	text-align: center;

	@include bp(sm) {
		margin-top: 6rem;
		font-size: 2.75rem;
		text-align: left;
	}
}

.pest-programs-list {
	max-width: 62.5rem;

	.program-callout p,
	.program-callout em {
		font-size: 0.9375rem;
		text-align: center;
		color: $dark-text;
		line-height: 1.2;
	}

	.program-callout p { font-size: 0.9375rem; }
	.program-callout em { font-size: 0.825rem; }
}

.pest-program {
	margin: 1.5rem auto 4rem;
	border: 1px solid $darker-blue;
	border-radius: 5px;

	// used to pass the value to jQuery/vue
	#formprog {
		position: absolute;
		visibility: hidden;
	}

	// America's Choice / Platinum / Bronze (etc) Header Box
	.program-name {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		flex-wrap: wrap;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		text-align: center;

		@include bp(675px) {
			text-align: unset;
			justify-content: space-between;
		}

		.prog-choice {
			color: $white;
			font-size: 2rem;
			font-weight: bold;
			@include bp(xs) { font-size: 3rem; }
		}

		// monthly & additional costs
		span {
			display: block;
			color: $white;

			@include bp(675px) {
				text-align: right;
			}
		}

		.monthly {
			font-weight: bold;
			font-size: 1.15rem;
			@include bp(675px) { font-size: 1.5rem; }
		}

		.additional {
			font-style: italic;
			font-size: 0.875rem;
			font-weight: lighter;
		}

		// header colors
		&.americas-choice { background: $red; }
		&.platinum { background: #A5A5A5; }
		&.gold { background: goldenrod; }
		&.silver { background: silver; }
		&.bronze { background: #cd7f32; }
		&.fightthebite { background: $dark-blue; }
		&.snakecontrol { background: #755148; }
	}

	.program-details {
		padding: 1rem;
		display: grid;
		max-width: 62.5rem;
		grid-template-columns: repeat(auto-fit, 12.5rem);
		column-gap: 3.125rem;
		row-gap: 2.25rem;
		justify-content: center;

		.detail {
			display: flex;
			align-items: center;
			line-height: 1.2;

			.titles-wrapper {
				max-width: 9.375rem;
				flex: 1 1 auto;
				margin-left: 1rem;
			}

			.fa {
				font-size: 2rem;
			}
		}

		.program-icon {
			max-width: 2rem;
		}

		.detail-title {
			font-size: 0.875rem;
			color: $cyan;
		}

		.detail-subtitle {
			font-size: 0.625rem;
			color: $dark-text;
		}
	}

	.dropdown-toggle-container {
		padding: 1rem;
		background-color: $powder-blue;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;

		.pest-listing {
			max-width: 58rem;
			padding-top: 1.5rem;
			margin-bottom: 1rem;

			h6, span {
				font-size: 0.9375rem;
				color: $dark-text;
			}

			h6 {
				font-weight: bold;
				margin-bottom: 0.25rem;
			}

			.selected-pest-first {
				margin-bottom: 1.5rem;
			}

			// last-of-type only spplies to the last span in the last for-loop
			.pest-name, .pest-name-selected {
				&:after {
					content: '\00B7';
					position: relative;
					font-size: 1.15rem;
					font-weight: bold;
					vertical-align: middle; // re-center after font weight change
				}

				&:last-of-type { &:after { content: ''; } }
			}

			// to target last span in the first for-loop
			.pest-selector {
				margin-bottom: 1.5rem;
				line-height: 1.2;
				&:last-child { &:after { content: ''; } }
			}

			// display users selected pests differently
			.pest-name-selected {
				color: $red;
				font-weight: bold;
			}
		}

		.toggle {
			position: relative;
			font-size: 0.9375rem;
			font-weight: bold;
			color: $blue;

			&:after {
				content: '\f078';
				position: absolute;
				top: -3px;
				right: -1.5rem;
				font-family: FontAwesome;
				font-weight: normal;
				font-size: 0.9375rem;
			}

			&.active {
				&:after {
					transform: rotate(180deg);
					top: 0;
				}
			}
		}
	} // end [.dropdown-toggle-container]
} // end [.pest-program]

.guarantee-bar {
	margin: -1rem auto 2rem;
	max-width: 62.5rem;
	border-radius: 5px;
	position: relative;

	&--info {
		background-color: $powder-blue;
		max-width: 100%;
		padding: 1rem;

		@include bp(sm) {
			padding: 1.5rem;
			max-width: 56.25rem;
		}

		h3, span {
			color: $darker-blue;
			font-weight: bold;
			font-size: 1.5rem;
			margin-top: 0;
			margin-bottom: 0.25rem;
			@include bp(xs) { font-size: 1.5rem; }

			@include bp(sm) {
				font-size: 1.875rem;
				text-align: left;
				margin-top: 0;
			}
		}

		span {
			text-decoration: underline;
			text-decoration-thickness: 2px;
		}

		p {
			max-width: 100%;
			font-size: 0.9375rem;
			line-height: 1.2;
			color: $dark-text;
			@include bp(sm) { max-width: 30rem; }
			@include bp(850px) { max-width: 35rem; }
			@include bp(md) { max-width: 41rem; }
		}
	}

	img {
		display: none;
		max-width: 14rem;
		position: absolute;
		right: 0;
		bottom: 0;
		@include bp(sm) { display: block; }
	}
}

.pests-grid {
	display: grid;
	margin: 0 auto 2rem;
	max-width: 50rem;
	grid-template-columns: repeat(auto-fill, 11rem);
	column-gap: 1.5rem;
	row-gap: 1.5rem;
	justify-content: center;

	.pest-title {
		line-height: 1.2;

		span {
			display: block;
			font-size: 1.125rem;
			color: $darker-blue;
			margin-top: 0.2rem;
			font-weight: bold;
		}

		small {
			font-size: 0.9375rem;
			color: $dark-text;
			font-weight: normal;
		}
	}

	.label {
		width: 100%;
		display: block;
		text-align: center;

		.pest-image {
			position: relative;
			width: 175px;
			height: 175px;
			margin: 0 auto;
			border: 1px solid $radio-color;
			border-radius: 5px;
			padding: 5px;
			&:hover { border-color: #A7A7A7; }
		}

		svg {
			margin-top: 1.2rem;
		}

		label {
			cursor: pointer;
		}
	}

	input[type="checkbox"]:checked + .label .pest-image:after {
		content: '';
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 2px solid $cyan;
		border-radius: 5px;
	}

	input[type="checkbox"]:checked + .label .pest-image {
		border-color: transparent;
	}
}

.customer-information, .service-time {
	border: 1px solid $blue;
	padding: 1rem;
	margin: 1rem 0;

	.subtitle {
		margin: 0;
	}
}

.slide-fade-enter-active {
	transition: all 1s ease;
}

.slide-fade-leave-active {
	transition: all .1 cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
	transform: translateY(32px);
	opacity: 0;
}