.perks-header {
	padding: 6.25rem 1rem 2rem;
	margin: 0 auto 2rem;
	@include bp(sm) { margin: 0 auto 5rem; }
}

.perks-wrapper {
	max-width: 100%;
	margin: 0 auto;
	padding: 1rem;

	.perks-main-header {
		text-align: center;
		line-height: 1.2;
		padding-bottom: 3.5rem;
		font-size: 1.375rem;
		font-weight: bold;
		color: $darker-blue;
		@include bp(sm) { font-size: 1.875rem; }
	}

	.perks-container {
		display: flex;
		max-width: 62.5rem;
		margin: 0 auto;
		justify-content: center !important;
		align-items: center;
		flex-wrap: wrap;

		@include bp(912px) {
			justify-content: space-between !important;
			align-items: flex-start;
		}
	}
}

.perks-left-container, .perks-sidebar {
	h2, p {
		line-height: 1.2;
		padding-bottom: 0.6rem;
	}

	h2 {
		font-size: 1.375rem;
		font-weight: bold;
		color: $darker-blue;
		@include bp(sm) { font-size: 1.875rem; }
	}

	p {
		font-size: 0.9rem;
		color: $dark-text;
		padding-bottom: 1.5rem; // same as right sidebar
	}
}

.perks-left-container {
	max-width: 37rem;
	padding-right: 0;
	@include bp(912px) { padding-right: 1.5rem; }

	.perks-intro {
		max-width: 100%;
		padding-bottom: 1.5rem;
		@include bp(sm) { padding-bottom: 3rem; }

		.perks-sub-header {
			line-height: 1.2;
			display: inline-block;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			font-size: 0.9rem;
			font-weight: bold;
			color: $dark-text;
		}
	}

	.perk-form {
		p, p a, .t-and-c {
			font-weight: bold;
			color: $dark-text;
			font-size: 0.9rem;
		}

		.t-and-c {
			text-decoration: underline;
			&:hover { color: $red; }
		}

		.input, .gform_wrapper .ginput_container input[type="text"], .textarea {
			box-shadow: none !important;
			border-radius: 3px;
			border: 2px solid #ACACAC;
		}

		.gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
			padding: 8px 4px;
		}

		::placeholder {
			opacity: 1 !important;
			color: $dark-text !important;
			font-size: 0.93rem !important;
			line-height: 1.2 !important;
			font-weight: normal !important;
			vertical-align: bottom;
		}

		input[type="submit"] {
			@extend .cta-button-blue;
			padding: 0.4rem 1.5rem;
			max-width: 105px !important;
		}

		.gform_body label {
			color: $dark-text;
			font-size: 0.875rem;
			font-weight: 500;
		}

		#field_13_7 label{
			display: none;
			@include bp(xs) { display: inline-block; }
		}

		//(city/state/zip field <li>'s) - remove top margin
		#field_13_8, #field_13_9, #field_13_10 {
			margin-top: 0 !important;
		}
	}
}

.perks-sidebar {
	max-width: 37rem;
	margin-top: 3rem;

	@include bp(912px) {
		margin-top: 0;
		max-width: 18rem;
	}

	img {
		margin-left: -0.5rem;
		padding-bottom: 1rem;
	}

	p { padding-bottom: 1.5rem; }

	&__text-content {
		margin-bottom: 1rem;
		@include bp(800px) { margin-bottom: 5rem; }
		@include bp(912px) { margin-bottom: 0; }
	}
}