// service packages
.package-info {
	margin: 0 auto 5rem;
	h1 { margin-bottom: 0; }
	p { margin-bottom: 3.75rem; }

	.package-tagline {
		font-size: 0.875rem;
		color: $cyan;
		margin-bottom: 2.5rem;
	}
}

.service-package {
	.pest-program .program-name span {
		text-align: left;
	}

	.pest-listing {
		padding: 2rem;
		background-color: $powder-blue;
		border-top: 1px solid $darker-blue;
		border-bottom-right-radius: 5px; // re-round border (padding affects this inner container)
		border-bottom-left-radius: 5px; // re-round border (padding affects this inner container)
	}

	.pest-selector {
		font-size: 0.9375rem;
		color: $dark-text;
	}
}