// main snake content area
.snake-content {
	max-width: 60rem;
	margin: 0 auto;
	padding: 1rem;

	h1 {
		font-size: 2rem;
		font-weight: bold;
		line-height: 1.2;
		color: $darker-blue;
		@include bp(sm) { font-size: 2.5rem; }
		@include bp(md) { font-size: 3rem; }
		@include bp(lg) { font-size: 3.625rem; }
	}

	h2 {
		font-size: 1.5rem;
		font-weight: 700;
		text-transform: capitalize;
		color: $blue;
		@include bp(sm) { font-size: 1.875rem; }
	}

	// snake faqs
	.faq-list {
		margin:0 auto;
		max-width: 50rem;
	}

	// make link stand out more
	.plain-button { color: $red; }
}

// snake info left/right card flip
.information-container {
	margin: 3rem auto 1.5rem;
	max-width: 100%;
	padding-bottom: 2rem;

	// prevent top of browser from covering header
	&:before {
		content: ' ';
		display: block;
		height: 75px;
		margin-top: -75px;
		pointer-events: none;
		visibility: hidden;
	}

	// ensure images are on top for each when wrapping / add spacing to headers
	.fp-left {
		flex-wrap: wrap-reverse;
		.flip-container--text { padding-right: 0; }
		@include bp(906px) { .flip-container--text { padding-right: 1rem; } }
	}

	.fp-right {
		flex-wrap: wrap;
		.flip-container--text { padding-left: 0; }
		@include bp(906px) { .flip-container--text { padding-left: 1rem; } }
	}

	// applied to both containers
	.flip-container {
		display: flex;
		max-width: 100%;
		margin-top: 2rem;
		background-color: $powder-blue;
		padding: 1.5rem;
		justify-content: center;
		align-items: center;
		border: 1px solid rgba($cyan, 0.15);
		@include bp(922px) { justify-content: space-between; }

		// setup base inner styles (applies to both)
		h4 {
			margin-top: 1.5rem;
			font-weight: bold;
			color: $dark-blue;
			@include bp(922px) { margin-top: 0; }
		}

		p {
			margin-bottom: 0.75rem;
			font-size: 0.875rem; // 14px
			line-height: 1.2;
			color: $dark-text;
		}

		// interior panels (specific to text or image content)
		&--text {
			max-width: 25rem;
			@include bp(922px) { max-width: 26rem; }
		}

		&--img {
			max-width: 25rem;

			> img {
				display: block; // no blank space under image
				width: 400px;
				height: auto;

				// only set height on desktop
				@include bp(906px) { height: 200px; }
			}
		}
	}
}