$white: #FFF;
$black: #000;
$light-grey: #EFEFEF;
$dark-grey: #333333;

$red: #DF252C;
$red-shadow: #7A0D11;
$blue: #1E3D76;
$dark-blue: #0F2346;
$darker-blue: #112348;
$powder-blue: #F5F8FF;
$divider-color: #C1BBBB;
$grey: #979797;
$dark-text: #595959;
$cyan: #0086FF;
$footer-grey: #D8D8D8;
$row-color: #F1F3FA;
$nav-fill: #F7F7F7;

// button hover color
$cyan-hover: #33a0ff;

$radio-color: #D2D2D2;

$button: $white;
$button-background: $red;
$button-border: none;

$radius: .5rem;
$primary: $red;
$blue-gradient: linear-gradient(135deg, $blue 0%, $dark-blue 100%);

$font-heading: 'Roboto', Arial, sans-serif;
$font-body: 'Roboto', Arial, sans-serif;

$small-tablet: 400px;
$menu-breakpoint: 1300px;
$tablet: 768px;
$desktop: 1200px;

// mq include
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px)  { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}