.page-template-video-library {

	.video-grid {
		display: grid;
		max-width: 83rem;
		margin: 0 auto;
		grid-template-columns: repeat(auto-fill, minmax(20rem, 40rem));
		column-gap: 2.5rem;
		row-gap: 1.5rem;
		justify-content: center;

		@include bp(sm) {
			row-gap: 2.5rem;
		}

		&__video {
			max-width: 43rem;
			text-align: center;
			padding: 0.75rem;

			h3 { font-weight: 400; }
		}
	}

	.video-embed {
		margin-bottom: 2rem;
	}
}