/**
 * Theme Name: American Pest Management Inc.
 * Author: Shane Schroll | 502
 * Author URI: https://weare502.com
 * Version: 3.5.0
*/

@import "reset";
@import "mq";

* {
	box-sizing: border-box;
}

@import "variables";
@import "../../bower_components/bulma/bulma";
@import "grid";
@import "forms";
@import "buttons";
@import "tables";
@import "utilities";

html, body {
    -webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1.5;
	font-family: $font-body;
	overflow-x: hidden;
	background: $white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
}

img {
	max-width: 100%;
	height: auto;
}

@import "navigation";
@import "footer";
@import "global-patterns";

@import "tinymce";
@import "blog";
@import "comments";
@import "default-block-template"; // main template for the block editor
@import "home";
@import "pest-library";
@import "video-library";
@import "pest-evaluation";
@import "fight-the-bite";
@import "contact";
@import "home-services";
@import "additional-areas-served";
@import "locations";
@import "commercial-services";
@import "about-us";
@import "home-offices";
@import "pest-education";
@import "pest-perks";
@import "pest-page";
@import "coupons";
@import "snakes-page";
@import "service-packages";