.editor-button-block {
	display: inline-block;
	text-align: center;
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.2s ease-out;

	&__blue, &__white {
		@extend .editor-button-block;
		box-shadow: 0 15px 8px -15px $blue;
		border: 2px solid $cyan;
		border-radius: 5px;
		transition: 0.2s ease-in;

		&:hover {
			cursor: pointer;
			transition: 0.2s ease-out;
		}
	}

	&__blue {
		background-color: $cyan;
		color: $white;
		padding: 0.45rem 1rem 0.2rem !important;

		&:hover {
			color: $white;
			background-color: $cyan-hover;
			border-color: $cyan-hover;
		}
	}

	&__white {
		background-color: $white;
		color: $dark-blue;
		padding: 0.4rem 0.7rem !important;
	}
}