.full-width-block {
	max-width: 100%;
	margin: 5rem auto;
	padding: 2.75rem 1rem 5rem;
	background-color: $powder-blue;

	.block-content {
		display: flex;
		max-width: 62.5rem;
		margin: 0 auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include bp(980px) {
			flex-direction: row;
			align-items: flex-start; // top
			justify-content: space-between;
		}
	}

	// inside block-content (left)
	.staggered-images {
		position: relative;
		margin-bottom: 3.5rem;

		@include bp(580px) {
			max-width: 31rem;
			width: 100%;
		}

		@include bp(980px) { margin-bottom: 0; }

		img { display: block; }

		.large-img {
			max-width: 25.25rem;
			width: 100%;
		}

		.small-img {
			position: absolute;
			bottom: -2rem;
			right: 1.85rem;
			max-width: 10rem;
		}
	}

	// inside block-content (right)
	.post-content {
		max-width: 27.75rem;
		margin-left: 1.25rem;

		h3 {
			display: block;
			margin: 0 auto 1rem;
			font-size: 1.875rem;
			font-weight: bold;
			line-height: 1.3;
			color: $darker-blue;
			@include bp(1026px) { max-width: 100%; }
		}

		p {
			display: block;
			font-size: 0.9375rem;
			color: $dark-text;
			min-height: 6.25rem;
			margin-bottom: 1.75rem;
			line-height: 1.3;
		}
	}
}