.important-info-wrapper {
	max-width: 43.75rem;
	margin: 1.25rem auto 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-left: 3px solid $cyan;

	.h6-heading {
		color: $dark-blue;
		margin: 0 0 0 1.5rem;
	}
}