.grid-block {
	max-width: 64.5rem;
	margin: 5rem auto;
	padding: 1rem;

	h3 {
		display: block;
		margin: 0 auto 1.2rem;
		font-size: 1.875rem;
		font-weight: bold;
		color: $darker-blue;
		text-align: center;
		max-width: 41.125rem;
		@include bp(689px) { text-align: left; }
		@include bp(1026px) { max-width: 100%; }
	}

	.multi-col-grid {
		display: grid;
		row-gap: 1rem;
		column-gap: 17px;
		grid-template-columns: repeat(auto-fill, minmax(17.5rem, 20rem));
		justify-content: center;

		.grid-item {
			background-color: $powder-blue;
			padding: 1rem;
		}

		h4 {
			margin-bottom: 0.3rem;
			font-size: 1.125rem;
			font-weight: bold;
			color: $darker-blue;
		}

		p {
			display: block;
			font-size: 0.9375rem;
			color: $dark-text;
			min-height: 6.25rem;
			margin-bottom: 1rem;
			line-height: 1.3;
		}
	}
}