.pest-content-header {
	display: flex;
	max-width: 64.5rem;
	padding: 1rem;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	@include bp(sm) {
		flex-direction: row;
		justify-content: space-between;
	}

	.pc-header-text {
		max-width: 25rem;
		margin-right: unset;
		@include bp(sm) { margin-right: 1rem; }
	}

	h1 {
		font-size: 2rem;
		font-weight: bold;
		line-height: 1.1;
		color: $darker-blue;
		margin-bottom: 1.25rem;
		@include bp(sm) { font-size: 2.5rem; }
		@include bp(md) { font-size: 3rem; }
		@include bp(lg) { font-size: 3.625rem; }
	}

	p {
		max-width: 17.875rem;
		margin-bottom: 1.25rem;
		color: $dark-text;
		font-size: 0.9375rem;
	}

	img {
		display: block;
		max-width: 34rem;
		width: 100%;
		margin-top: 1.25rem;
		@include bp(sm) { margin-top: unset; }
	}
}