// Spinner
.pe-wrap {
	margin: 12rem auto 3rem;
	@include bp(sm) { margin-top: 8rem; }

	.pest-elimination {
		max-width: 60rem;
		margin: 0 auto 3.5rem;
		@include bp(md) { margin: 0 auto 7rem; }

		.hold-right {
			max-width: 54rem;
			margin-left: auto;
			margin-right: 0;
		}

		@include bp(md) { margin: 0 auto 5rem; }

		&__inner {
			display: flex;
			align-items: center;
			flex-direction: column;
			margin: 0 0 0 auto;
			background-color: $powder-blue;
			border-radius: 5px;

			@include mq($from: 848px) {
				flex-direction: row;
				justify-content: space-between;
				align-content: flex-end;
				padding-top: 2rem;
				padding-bottom: 2rem;
			}
		}

		// pest seal
		.pe-inner-left {
			position: relative;
			z-index: 5;
			margin-top: -8rem;
			@include bp(848px) { margin-top: 0; }
			@include bp(md) { margin-left: -6.5rem; }

			.spinner-image-container {
				position: relative;
				line-height: 0.5;
				width: unset;

				.spinner-ring {
					animation: infinite linear 90s spinner;
					display: block;
					padding: 2rem;
					@include bp(xs) { padding: 0; }

					// adjust ring size for devices
					svg {
						max-width: 18rem;
						@include bp(xs) { max-width: 21rem;}
						@include bp(sm) { max-width: 100%; }
					}
				}

				// adjust icon in center of ring
				.spinner-static-icon {
					display: inline-block;
					width: 8rem;
					position: absolute;
					left: 6.2rem;
					top: 48%;
					transform: translateY(-50%);
					padding: 1rem;
					@include bp(xs) { padding: 0; }
					@include bp(sm) { left: 7.1rem; }

					svg {
						max-width: 7.5rem;
						@include bp(xs) { max-width: 9rem; }
						@include bp(sm) { max-width: unset; }
					}
				}
			}

			@keyframes spinner {
				from { transform: rotate(0deg);  }
				to { transform: rotate(360deg); transform-origin: center center; }
			}
		}

		// gey box background
		.pe-inner-right {
			max-width: 21rem;
			width: 100%;
			padding: 1rem;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: center;
			flex: 0 1 auto;
			margin-top: -2.5rem;
			margin-left: 2.2rem;

			@include bp(xs) {
				max-width: 30rem;
				margin-left: unset;
				margin-top: 0;
			}

			@include bp(md) { padding: 2.8rem; }

			.pest-step {
				display: flex;
				justify-content: left;
				align-items: center;
				max-width: 25.5rem;
				width: 100%;
				margin: 0 0 1.25rem auto;
				background-color: $white;
				text-align: left;
				padding-top: 0.4rem;
				padding-bottom: 0.4rem;
				border-radius: 5px;
			}

			.step-number {
				width: 5rem;
				height: 5rem;
				font-size: 3rem;
				text-align: center;
				font-weight: bold;
				border-radius: 50%;
				background-color: $cyan;
				color: $white;
				margin-right: 2rem;
				flex-shrink: 0; // prevents circle from "squishing"
				margin-left: -2.6rem;

				span { vertical-align: middle; }
			}

			.step-info {
				line-height: 1.1;
				padding-right: 0.25rem;

				h2 {
					color: $darker-blue;
					font-weight: 700;
					font-size: 1.3rem;
					text-align: left;
					@include bp(xs) { font-size: 1.6rem; }
				}

				p {
					font-size: 0.875rem;
					font-weight: 500;
					color: $dark-text;
				}
			}

			.center-button {
				margin-top: 2.8rem;
				max-width: 18rem;
				margin: 0 auto;

				@include bp(md) {
					margin-left: auto;
					margin-right: 0;
				}

				a { display: inline-block; }
			}
		}

		.pe-inner-right-icons {
			max-width: 35rem;
			width: 100%;
			margin: 0 auto;
			padding-top: 1rem;
			padding-bottom: 2rem;

			@include mq($from: 848px) {
				padding-top: 0;
				padding-bottom: 0;
			}

			.center-button {
				margin-top: 2.8rem;
				max-width: 16rem;
				margin: 0 auto;
		
				a {
					display: inline-block;
					padding: 0.4rem 0.8rem 0.2rem;
				}
			}
		}

		// Heart Spinner Icon
		.spinner-icon-group, .spinner-icon-group-2 {
			display: flex;
			max-width: 33rem;
			width: 100%;
			margin: 0 auto;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			text-align: center;
			padding-bottom: 2rem;

			.spinner-icon {
				width: 8.5rem;
				text-align: center;
				margin: 0 auto;

				@include bp(423px) {
					max-width: 8.5rem;
				}

				svg { height: 4.25rem; width: 4rem; }

				p {
					font-size: 0.875rem;
					font-weight: 500;
					line-height: 1;
					color: $dark-text;
					text-align: center;
					max-width: 8.5rem;
					min-height: 28px;
				}
			}
		}

		.spinner-icon-group-2 {
			max-width: 24rem;
			justify-content: space-around;
		}
	}
}