.text-image-block {
	display: flex;
	max-width: 52rem;
	padding: 1rem;
	margin: 3.5rem auto;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;

	@include bp(sm) {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}

	// left side
	.text-content {
		max-width: 24.25rem;

		h3 {
			display: block;
			margin: 0 auto 1.2rem;
			font-size: 1.875rem;
			font-weight: bold;
			color: $darker-blue;
		}

		p {
			display: block;
			font-size: 0.9375rem;
			color: $dark-text;
			margin-bottom: 1.25rem;
			line-height: 1.3;
		}
	}

	// right side
	img {
		max-width: 23rem;
		width: 100%;
		margin-bottom: 2rem;

		@include bp(sm) {
			margin-bottom: 0;
			margin-left: 1.5rem;
		}
	}
}